/*2019-11-17 scosun*/

/*index.html*/
.layadmin-side-shrink .layui-layout-admin .layui-logo {
    background-image: url(../layuiadmin/style/res/logo.svg);
}

.layui-nav-tree .layui-nav-bar {
    background-color: #ffce00;
}

.layui-nav-tree .layui-nav-child dd.layui-this a {
    color: #000;
}

.layui-side-menu .layui-nav .layui-nav-item>a {
    padding-top: 0px;
    padding-bottom: 0px;
}

.layui-side-menu .layui-nav .layui-nav-itemed>.layui-nav-child {
    padding: 0;
}

.layui-side-menu .layui-nav .layui-nav-child .layui-nav-child .no2 a {
    padding-left: 80px;
}

.layui-nav-tree .layui-this,
.layui-nav-tree .layui-this>a,
.layui-nav-tree .layui-nav-child .no2 dd.layui-this,
.layui-nav-tree .layui-nav-child .no2 dd.layui-this .no2 a {
    background-color: #ffce00 !important;
}

/*meeting.html*/
.layui-btn {
    background-color: #666;
}

.layui-btn-danger {
    background-color: #FF5722;
    margin-left: 0px !important;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #666;
}

/*.layui-table td, .layui-table th {font-size: 14px;}*/
.layui-table-cell {
    padding: 0 10px;
}

/*meeting_room.html*/
html {
    background-color: #fff !important;
}
/*arrange/attender/attender_list.html*/
.btnadd {
    background: #666 url(../images/btnadd.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }
    .btndel{
    background: #666 url(../images/btndel.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }
    .btncheckall{
    background: #666 url(../images/btncheckall.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }
    .btndow{
    background: #666 url(../images/btndow.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }
    .btnempty{
    background: #666 url(../images/btnempty.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }
    .btnsearch{
    background: #666 url(../images/btnsearch.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }
    .btnupload{
    background: #666 url(../images/btnupload.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }
    .btnuploadimg{
    background: #666 url(../images/btnuploadimg.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }
    .btnsearch{
    background: #666 url(../images/btnsearch.png) no-repeat center center;
    background-size: 1.2rem 1.2rem;
    text-indent: -9999px;
    }

.layui-layout-admin .layui-body {
    top: 48px;
    bottom: 0;
}
/* 修改选框后的第二列PADDING值 dh 20.04.05 */
.layui-table-header .layui-table tr th:nth-child(2) .layui-table-cell{
    padding:0 10px 0 15px;
}
.layui-table-body .layui-table tr td:nth-child(2) .layui-table-cell{
    padding:0 10px 0 15px;
}
/* 表格头部按钮修改 dh 20.04.05 */
/*
.layui-btn-group .layui-btn:first-child {
    border:1px solid transparent;
    border-radius: 4px; 
}
.layui-btn-group .layui-btn:last-child {
   border-radius: 4px; 
}
.layui-btn-group .layui-btn {
     margin-left: 0 !important; 
     margin-right: 5px !important; 
     border:1px solid transparent;
     border-radius: 4px; 
}
*/
.gradient-block-diagonal {
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    margin-right:5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing:border-box;
    border:1px solid transparent;
    background-clip:padding-box,border-box;
    background-origin:padding-box,border-box;
    background-image: -webkit-linear-gradient(0,#fdba5f,#fdd78a), -webkit-linear-gradient(0,#f6a04c,#ebca81);
    background-image:-moz-linear-gradient(0,#fdba5f,#fdd78a),-moz-linear-gradient(0,#f6a04c,#ebca81);
    background-image:linear-gradient(0,#fdba5f,#fdd78a),linear-gradient(0,#f6a04c,#ebca81);
    color:#b05f32;
    box-shadow: inset 1px 1px 0 #fedf89,inset -1px -1px 0 #fedf89;
}

.gradient-block-diagonal:hover {
    opacity: .8;
    filter: alpha(opacity=80);
    color: #b05f32;
}

.layui-btn-a-grey{
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
    padding: 0 0 0 10px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: #666666;
    margin-right:10px;
    position: relative;
}
.layui-btn-a-grey s{
    position: absolute;
    right: -14px;
    top: 19px;
    width: 6px;
    height: 1px;
    background: #a5a5a5;
}

.layui-btn-a-grey:last-child s{
    display: none
}


