<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>我创建的会议</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<script type="text/javascript" src="js/pmsp.js"></script>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="font/iconfont.css" rel="stylesheet">
</head>
<body>
<ul class="meetingList" id="meetingList">
<!--    <li>-->
<!--        <h3 class="bt">全市领导干全市领导干部会议全市领导干部会议部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">未通知</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>应参加：120</span>-->
<!--            <span>已报名：0</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干全市领导干部会议全市领导干部会议部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="green">已通知</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>应参加：120</span>-->
<!--            <span>已报名：0</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干全市领导干部会议全市领导干部会议部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="green">已通知</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>应参加：120</span>-->
<!--            <span>已报名：0</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
</ul>
<!-- 查找 添加 -->
<div class="right_btnC">
<!--    <div class="r_btnC"><i class="iconfont icon-fangda"></i></div>-->
<!--    <div class="r_btnC"><i class="iconfont icon-fangdajing"></i></div>-->
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function() {
            var $ = layui.$,
                setter = layui.setter;
            var url = setter.baseUrl;
        $.ajax({
            async: false,
            type: "get",
            url: url + "/meeting/findByMeeting",
            dataType: "json",
            data: {
            },
            xhrFields: {
                withCredentials: true
            },
            success: function (msg) {
                if (msg.code === 0) {
                    msg.data.map(function (x){
                            var display;
                            var signup;
                            if (x.meetingStartTime == null){
                                display = 'display';
                                signup = 'none';
                            }else {
                                display = 'none';
                                signup = 'display';
                            }
                            $('#meetingList').prepend('<li>\n' +
                                '        <h3 class="bt">'+x.name+'</h3>\n' +
                                '        <div class="info">\n' +
                                '            <div class="l">\n' +
                                '                <p>时间：'+x.meetingtime+'</p>\n' +
                                '                <p>地点：'+x.address+'</p>\n' +
                                '            </div>\n' +
                                '            <div class="r">\n' +
                                // '                <span class="green">已通知</span>\n' +
                                '            </div>\n' +
                                '        </div>\n' +
                                '        <div class="sinfo">\n' +
                                // '            <span>应参加：120</span>\n' +
                                // '            <span>已报名：0</span>\n' +
                                // '            <span>2020-12-07 21:00</span>\n' +
                                '        </div>\n' +
                                '    </li>')
                    })
                }
            },
            error: function (msg) {
                layer.msg("操作失败，系统错误")
            }

        })
        })
</script>
</body>
</html>
