<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>需参加的会议</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<script type="text/javascript" src="js/pmsp.js"></script>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="font/iconfont.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="js/dropload/dropload.css" />
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/dropload/dropload.js"></script>
<style>
    input[type="search"]::-webkit-search-cancel-button{
        display: none;
        -webkit-appearance: none;
    }
</style>
</head>
<body>
<div id="meetingBox" >
<ul class="meetingList" id="meetingList">

<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p class="ab"><span>时间：</span><span>2020年12月07日(星期一) 12:30</span></p>-->
<!--                <p class="ab"><span>地点：</span><span>龙奥大龙奥大龙奥大龙奥大厦G0401</span></p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="gray"><i class="iconfont icon-zuowei1"></i>座区图</span>-->
<!--                <span class="green">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
<!--    <li>-->
<!--        <h3 class="bt">全市领导干部会议</h3>-->
<!--        <div class="info">-->
<!--            <div class="l">-->
<!--                <p>时间：2020年12月7日(星期一) 9:30</p>-->
<!--                <p>地点：龙奥大厦G0401</p>-->
<!--            </div>-->
<!--            <div class="r">-->
<!--                <span class="red">点击报名</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="sinfo">-->
<!--            <span>市政办公厅通知</span>-->
<!--            <span>2020-12-07 21:00</span>-->
<!--        </div>-->
<!--    </li>-->
</ul>
</div>
<!-- 查找 添加 -->
<div class="right_btnC">
    <div class="r_btnC" id="searchList"><i class="iconfont icon-fangdajing"></i></div>
</div>
<script src="../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function() {
        var $ = layui.$,
            setter = layui.setter;
        var url = setter.baseUrl;

        var page = 0;//页码数
        var dropme = null
        function dropInit(){
            // dropload函数接口设置
            $('#meetingBox').dropload({
                scrollArea : window,
                // 下拉刷新模块显示内容
                domUp : {
                    domClass   : 'dropload-up',
                    // 下拉过程显示内容
                    domRefresh : '<div class="dropload-refresh">↓下拉刷新</div>',
                    // 下拉到一定程度显示提示内容
                    domUpdate  : '<div class="dropload-update">↑释放更新</div>',
                    // 释放后显示内容
                    domLoad    : '<div class="dropload-load"><span class="loading-dp"></span>数据加载中...</div>'
                },
                domDown : {
                    domClass   : 'dropload-down',
                    // 滑动到底部显示内容
                    domRefresh : '<div class="dropload-refresh">↑上拉加载更多</div>',
                    // 内容加载过程中显示内容
                    domLoad    : '<div class="dropload-load"><span class="loading-dp"></span>数据加载中...</div>',
                    // 没有更多内容-显示提示
                    domNoData  : '<div class="dropload-noData">已无更多内容</div>'
                },
                // 1 . 下拉刷新 回调函数
                loadUpFn : function(me){
                    console.log("loadUpFn------");
                    page = 1; 
                    dropme = me;
                    me.resetload();
                    me.unlock();
                    getDataList();
                },
                // 2 . 上拉加载更多 回调函数
                loadDownFn : function(me){
                    console.log("loadDownFn-----")
                    page++; // 每次请求，页码加1
                    dropme = me;
                    getDataList();
                },
                threshold : 150
            });
        } 

        dropInit();

        function getDataList(){
            $.ajax({
                async: false,
                type: "get",
                url: url + "/meetingnoticerecord/findallByRecord",
                dataType: "json",
                data: {
                    "page":page,
                    "limit":10
                },
                xhrFields: {
                    withCredentials: true
                },
                success: function (msg) {
                    if (msg.code === 0) {
                        
                        var len = msg.data.length;
                        var html = [];
                        msg.data.map(function (x){
                            if (x.meetingstatus === 0){
                                var display;
                                var signup;
                                if (x.meetingid !=null){
                                    display = 'display';
                                    signup = 'none';
                                }else {
                                    display = 'none';
                                    signup = 'display';
                                }
                                html.push('<li>\n' +
                                    '        <h3 class="bt">'+x.mname+'</h3>\n' +
                                    '        <div class="info">\n' +
                                    '            <div class="l">\n' +
                                    '                <p>'+x.content+'</p>\n' +
                                    '            </div>\n' +
                                    '            <div class="r">\n' +
                                    '                <span style="display: '+signup+'"><a href="./meetingdetails.html?id='+x.mid+'&recordid='+x.id+'&isshow='+x.isshow+'" class="blue">点击报名</a></span>\n' +
                                    '          <span class="gray" style="display: '+display+'" ><a href="./roomtemplate.html?meetingid='+x.meetingid+'&name='+x.name+'" ><i class="iconfont icon-zuowei1"></i>座区图</a></span>\n'+
                                    '            </div>\n' +
                                    '        </div>\n' +
                                    '        <div class="sinfo">\n' +
                                    '            <span>'+x.notificationunit+'</span>\n' +

                                    '            <span>报名截止时间：'+x.deadlineForRegistrationTime+'</span>\n' +
                                    '        </div>\n' +
                                    '        <div class="bjNew"><i class="iconfont icon-biaoqian"></i></div>\n' +
                                    '    </li>'
                                )
                            }else if (x.meetingstatus === 1) {
                                var display;
                                var signup = '';
                                if (x.meetingid !=null){
                                    display = 'display';
                                }else {
                                    display = 'none';
                                    signup = 'display';
                                }
                                html.push('<li>\n' +
                                    '        <h3 class="bt">'+x.mname+'</h3>\n' +
                                    '        <div class="info">\n' +
                                    '            <div class="l">\n' +
                                    '                <p>'+x.content+'</p>\n' +
                                    '            </div>\n' +
                                    '            <div class="r">\n' +
                                    '                <span style="display: '+signup+'"><a href="./meetingdetails.html?id='+x.mid+'&recordid='+x.id+'&isshow='+x.isshow+'" class="green">已报名</a></span>\n' +
                                    '          <span class="gray" style="display: '+display+'" ><a href="./roomtemplate.html?meetingid='+x.meetingid+'&name='+x.name+'" ><i class="iconfont icon-zuowei1"></i>座区图</a></span>\n'+
                                    '            </div>\n' +
                                    '        </div>\n' +
                                    '        <div class="sinfo">\n' +
                                    '            <span>'+x.notificationunit+'</span>\n' +
                                    '            <span>报名截止时间：'+x.deadlineForRegistrationTime+'</span>\n' +
                                    '        </div>\n' +
                                    '        <div class="bjNew"><i class="iconfont icon-biaoqian"></i></div>\n' +
                                    '    </li>'
                                )
                            } else if (x.meetingstatus == 2){
                                html.push('<li>\n' +
                                    '        <h3 class="bt">'+x.mname+'</h3>\n' +
                                    '        <div class="info">\n' +
                                    '            <div class="l">\n' +
                                    '                <p>'+x.content+'</p>\n' +
                                    '            </div>\n' +
                                    '            <div class="r">\n' +
                                    '                <span style="display: '+signup+'"><a href="./meetingdetails.html?id='+x.mid+'&recordid='+x.id+'&isshow='+x.isshow+'" class="green">请假</a></span>\n' +
                                    '          <span class="gray" style="display: none" ><a href="./roomtemplate.html?meetingid='+x.meetingid+'&name='+x.name+'"><i class="iconfont icon-zuowei1"></i>座区图</a></span>\n'+
                                    '            </div>\n' +
                                    '        </div>\n' +
                                    '        <div class="sinfo">\n' +
                                    '            <span>'+x.notificationunit+'</span>\n' +

                                    '            <span>报名截止时间：'+x.deadlineForRegistrationTime+'</span>\n' +
                                    '        </div>\n' +
                                    '        <div class="bjNew"><i class="iconfont icon-biaoqian"></i></div>\n' +
                                    '    </li>'
                                )
                            }
                        });

                        if(page == 1){
                            $('#meetingList').html(html.join(''));
                        }else{
                            $('#meetingList').append(html.join(''));
                        }
                        //没有下一页
                        if(len < 10){
                            dropme.lock();
                            // 显示无数据
                            dropme.noData();
                        }

                        setTimeout(function(){
                            // 每次数据加载完，必须重置
                            dropme.resetload();
                        },500);
                    }
                },
                error: function (msg) {
                    layer.msg("操作失败，系统错误")
                }

            });
        }
        $('#searchList').click(()=>{
            location.href = './search.html'
        })
    })
    function herfUrl(x){

    }
</script>
</body>
</html>
