<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全市领导干部会议</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<script type="text/javascript" src="js/pmsp.js"></script>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="font/iconfont.css" rel="stylesheet">
</head>
<body>
<div class="detailsInfo">
    <p class="ts">座位信息</p>
    <div class="text">
         xxx同志：您好，参加2020年12月7日（星期一）9:30 在龙奥大厦G0402会议室召开的全市领导干部会议，请的座位在<span class="blue">4</span>排<span class="blue">16</span>号
    </div>
    <h3>就座引导</h3>
    <div>加载地图代码</div>
</div>
</body>
</html>