<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>搜索</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<script type="text/javascript" src="js/pmsp.js"></script>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="font/iconfont.css" rel="stylesheet">
</head>
<body>
<div class="searchDiv">
    <div class="icon"><i class="iconfont icon-fangdajing"></i></div>
    <input type="text" placeholder="请输入">
</div>
<div class="resultsno">
    <img src="images/wujiguo.png" alt="">
    <p>没有搜索到任何结果！</p>
</div>
<!-- 查找 -->
<!-- <div class="right_btnC">
    <div class="r_btnC"><i class="iconfont icon-fangdajing"></i></div>
</div> -->

</body>
</html>