<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>短信通知</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
  <script src="../../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
  <link rel="stylesheet" type="text/css" href="../../../css/scosun.css"/>
  <link rel="stylesheet" type="text/css" href="../../../layuiadmin/modules/dropdown/dropdown.css"/>
  <script src="../../../js/scosun.js"></script>
  <style type="text/css">
    .layui-btn {background-color: #666;}
    .layui-btn-danger {background-color: #FF5722;}
    .layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #666;}
    .w60{
      width: 60px;
    }
    .w40{
      width: 40px;
    }
    .textC{
      text-align: center;
    }
    .layui-btn-sign-red,.layui-btn-sign-green {
      height: 20px;
      line-height: 20px;
      padding: 0 4px;
      font-size: 12px;
      background-color: #fff;
      border: 1px solid #e6e6e6;
    }
    .layui-btn-sign-red{color:#ff0000;border-color:#ff0000}
    .layui-btn-sign-green{color:#008908;border-color:#008908}
    .layui-btn-sign-red:hover{color:#fff;border-color:#ff0000;background-color: #ff0000;}
    .layui-btn-sign-green:hover{color:#fff;border-color:#008908;background-color: #008908;}
    .cursorD{cursor: default;}
    .layui-btn-group .layui-btn:only-child {
      border-radius:2px;
    }
    .layui-btn+.layui-btn {
      margin-left: 0;
    }
    .dropdown-menu-nav.dropdown-bottom-right {
      padding-left:10px;
      padding-right:10px;
    }
    .dropdown-menu-nav.dropdown-top-right {
      padding-left:10px;
      padding-right:10px;
    }
    .layui-btn-primary {
      border: 1px solid #ccc;
      display: inline-block;
      border-radius: 2px;
    }
    .layui-btn-sm {
      height: 22px;
      line-height: 22px;
    }
    .layui-btn-sm i {
      display: inline-block;
      vertical-align: middle;
      color: #aaa;
    }
    .layui-btn-primary:hover {
      border-color: #ccc;
      color: #333;
    }
    .btnsearch {
      background: #666 url(../../../images/btnsearch.png) no-repeat center center;
      background-size: 1.2rem 1.2rem;
      text-indent: -9999px;
    }
  </style>

</head>
<body>
<div class="layui-card layadmin-header">
  <div class="layui-breadcrumb" lay-filter="breadcrumb">
    <a lay-href="">主页</a>
    <a><cite>组件</cite></a>
    <a><cite>数据表格</cite></a>
    <a><cite>数据操作</cite></a>
  </div>
</div>
<div class="layui-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md12">
      <div class="layui-card">
        <div class="layui-card-body">
          <div>
            <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;" id="group">
              <!-- // 20.04.06 dh
                  <button class='layui-btn layui-ds' data-type='add' id='addmeeting'>新增</button>
              -->
              <!-- // 20.04.06 dh 修改为以下-->
              <button class="gradient-block-diagonal" data-type="add" id='addmeeting'>新建</button>

            </div>
            <!-- 右侧筛选条件 -->
            <div class="test-table-reload-btn" style="float:right;margin-bottom: 10px;">
              <div class="layui-inline">
                <input class="layui-input" name="id" placeholder="关键字模糊搜索" id="demoReload"
                       autocomplete="off">
              </div>
              <button class="layui-btn layui-ds btnsearch" data-type="search">搜索</button>
            </div>
            <!-- 右侧筛选条件 end-->
          </div>
          <table id="test-table-operate" lay-filter="test-table-operate"></table>
          <script type="text/html" id="test-table-operate-barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
            <a class="layui-btn layui-btn-xs" lay-event="del">删除</a>
          </script>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script >
  layui.config({
    base: '../../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index', //主入口模块
    dropdown: '/dropdown/dropdown'
  }).use(['index', 'table', 'jquery','dropdown'], function () {
    var table = layui.table,
            admin = layui.admin,
            $ = layui.jquery,
            dropdown = 'dropdown';
    // dropdown = layui.dropdown;
    var url = "https://f.longjuli.com";
    // var url = "http://127.0.0.1:8083";
    var devices = {};
    var deviceList = [];
    // #test-table-operate
    //渲染表格

    function isEmptyObject(obj) {

      var jlength = 0;
      for (var key in obj) {
        if (key != "null") {
          jlength++;
        }
      };
      return jlength
    };
    table.render({
      elem: '#test-table-operate',
      // height: 'full-200',
      //url: url + "/meeting/findAllBylayui", //数据接口
      method: 'get',
      xhrFields: {
        withCredentials: true
      },
      url: url + "/tablesignproduct/selectSeletive", //数据接口
      page: {
        layout: ['prev', 'page', 'next', 'count', 'skip']
      },

      cols: [
        [ //表头
          {
            type: 'checkbox',
            fixed: 'left'
          },
          {
            field: 'productKey',
            title: '产品ID',
            width: '10%',
            //align: 'center',
            unresize: 'false',
          },
          {
            field: 'productName',
            title: '产品名字',
            align: 'left',
          },
          {
            field: 'nodeType',
            title: '节点类型',
            align: 'left',
            templet: function(data) {
              if (data.nodeType == 0) {
                return '设备'
              }
              if (data.nodeType == 1) {
                return '网关'
              }
            },
          },
          //   {
          //     field: 'aliyunCommodityCode',
          //     title: '产品版本类型',
          //     align: 'left',
          //     templet: function(data) {
          //       if (data.aliyunCommodityCode == 'iothub_senior') {
          //         return '使用物模型'
          //       }
          //       if (data.aliyunCommodityCode == 'iothub') {
          //         return '不使用物模型'
          //       }
          //     },
          //   },
          {
            field: 'dataFormat',
            title: '产品数据格式',
            align: 'left',
            templet: function(data) {
              if (data.dataFormat == 0) {
                return '透传/自定义格式'
              }
              if (data.dataFormat == 1) {
                return 'Alink协议'
              }
            },
          },
          //   {
          //     field: 'categoryId',
          //     title: '设备类型',
          //     align: 'left',
          //   },
          // {
          //   field: 'description',
          //   title: '描述信息',
          //   align: 'left',
          // },
          // {
          //   field: 'protocolType',
          //   title: '设备接入网关的协议类型',
          //   align: 'left',
          // },
          {
            field: 'netType',
            title: '连网方式',
            align: 'left',
            templet: function(data) {
              if (data.netType == "WIFI") {
                return 'WiFi'
              }
              if (data.netType == "CELLULAR") {
                return '蜂窝网'
              }
              if (data.netType == "ETHERNET") {
                return '以太网'
              }
              if (data.netType == "LORA") {
                return 'LoRaWAN'
              }
              if (data.netType == "OTHER") {
                return '其他'
              }
            },
          },
          // {
          //   field: 'authType',
          //   title: '设备接入物联网平台认证方式',
          //   align: 'left',
          //   templet: function(data) {
          //     if (data.authType == 'secret') {
          //       return '使用设备密钥进行设备身份认证'
          //     }
          //     if (data.authType == 'id2') {
          //       return '使用物联网设备身份认证ID²'
          //     }
          //     if (data.authType == 'x509') {
          //       return '使用设备X.509证书进行设备身份认证²'
          //     }
          //   },
          // },
          // {
          //   field: 'id2',
          //   title: '是否使用ID²认证。',
          //   align: 'left',
          // },
          {
            field: 'deviceCount',
            title: '设备数量',
            align: 'left',
          },
          {
            field: 'gmtCreate',
            title: '创建时间',
            align: 'left',
            templet: function(data) {
              console.log(data.gmtCreate);
              var date = new Date();
              if(data.gmtCreate.length > 10){
                date.setTime(data.gmtCreate);
              }else{
                date.setTime(data.gmtCreate * 1000);
              }
              var Y = date.getFullYear() + '-';
              var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
              var D = (date.getDate() < 10 ? '0'+date.getDate() : date.getDate()) + ' ';
              var h = (date.getHours() < 10 ? '0'+date.getHours() : date.getHours()) + ':';
              var m = (date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes()) + ':';
              var s = (date.getSeconds() < 10 ? '0'+date.getSeconds() : date.getSeconds());
              return Y+M+D+h+m+s;
            }
          },
          {
            field: 'productStatus',
            title: '产品状态',
            align: 'left',
            templet: function(data) {
              if (data.productStatus == 'DEVELOPMENT_STATUS') {
                return '开发中'
              }
              if (data.productStatus == 'RELEASE_STATUS') {
                return '产品已发布'
              }
            }
          },
          // {
          //   field: 'joinPermissionId',
          //   title: 'LoRaWAN入网凭证ID',
          //   align: 'left',
          // },
          // {
          //   field: 'iotInstanceId',
          //   title: '公共实例不传此参数',
          //   align: 'left',
          // },
          {
            title: '操作',
            align: 'left',
            width: 140,
            toolbar: '#test-table-operate-barDemo'
          },

        ]
      ],
      event: true,
      page: true,
      limit: 15,
      skin: 'line',
      even: true,
      limits: [5, 10, 15],
      done: function (res, curr, count) {
        table_data = res.data;

        layer.closeAll('loading');
        deviceList.length = 0;
        // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
        // layer.close(index);    //返回数据关闭loading
      },
    });
    //刷新表格
    window.reloads = function () {
      table.render({
        elem: '#test-table-operate',
        // height: 'full-200',
        //url: url + "/meeting/findAllBylayui", //数据接口
        method: 'get',
        xhrFields: {
          withCredentials: true
        },
        url: url + "/tablesignproduct/selectSeletive", //数据接口
        page: {
          layout: ['prev', 'page', 'next', 'count', 'skip']
        },

        cols: [
          [ //表头
            {
              type: 'checkbox',
              fixed: 'left'
            },
            {
              field: 'productKey',
              title: '产品key',
              width: '10%',
              //align: 'center',
              unresize: 'false',
            },
            {
              field: 'productName',
              title: '产品名字',
              align: 'left',
            },
            {
              field: 'nodeType',
              title: '节点类型',
              align: 'left',
              templet: function(data) {
                if (data.nodeType == 0) {
                  return '设备'
                }
                if (data.nodeType == 1) {
                  return '网关'
                }
              },
            },
            //   {
            //     field: 'aliyunCommodityCode',
            //     title: '产品版本类型',
            //     align: 'left',
            //     templet: function(data) {
            //       if (data.aliyunCommodityCode == 'iothub_senior') {
            //         return '使用物模型'
            //       }
            //       if (data.aliyunCommodityCode == 'iothub') {
            //         return '不使用物模型'
            //       }
            //     },
            //   },
            {
              field: 'dataFormat',
              title: '产品数据格式',
              align: 'left',
              templet: function(data) {
                if (data.dataFormat == 0) {
                  return '透传/自定义格式'
                }
                if (data.dataFormat == 1) {
                  return 'Alink协议'
                }
              },
            },
            //   {
            //     field: 'categoryId',
            //     title: '设备类型',
            //     align: 'left',
            //   },
            // {
            //   field: 'description',
            //   title: '描述信息',
            //   align: 'left',
            // },
            // {
            //   field: 'protocolType',
            //   title: '设备接入网关的协议类型',
            //   align: 'left',
            // },
            {
              field: 'netType',
              title: '连网方式',
              align: 'left',
              templet: function(data) {
                if (data.netType == "WIFI") {
                  return 'WiFi'
                }
                if (data.netType == "CELLULAR") {
                  return '蜂窝网'
                }
                if (data.netType == "ETHERNET") {
                  return '以太网'
                }
                if (data.netType == "LORA") {
                  return 'LoRaWAN'
                }
                if (data.netType == "OTHER") {
                  return '其他'
                }
              },
            },
            // {
            //   field: 'authType',
            //   title: '设备接入物联网平台认证方式',
            //   align: 'left',
            //   templet: function(data) {
            //     if (data.authType == 'secret') {
            //       return '使用设备密钥进行设备身份认证'
            //     }
            //     if (data.authType == 'id2') {
            //       return '使用物联网设备身份认证ID²'
            //     }
            //     if (data.authType == 'x509') {
            //       return '使用设备X.509证书进行设备身份认证²'
            //     }
            //   },
            // },
            // {
            //   field: 'id2',
            //   title: '是否使用ID²认证。',
            //   align: 'left',
            // },
            {
              field: 'deviceCount',
              title: '设备数量',
              align: 'left',
            },
            {
              field: 'gmtCreate',
              title: '创建时间',
              align: 'left',
              templet: function(data) {
                console.log(data.gmtCreate);
                var date = new Date();
                if(data.gmtCreate.length > 10){
                  date.setTime(data.gmtCreate);
                }else{
                  date.setTime(data.gmtCreate * 1000);
                }
                var Y = date.getFullYear() + '-';
                var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                var D = (date.getDate() < 10 ? '0'+date.getDate() : date.getDate()) + ' ';
                var h = (date.getHours() < 10 ? '0'+date.getHours() : date.getHours()) + ':';
                var m = (date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes()) + ':';
                var s = (date.getSeconds() < 10 ? '0'+date.getSeconds() : date.getSeconds());
                return Y+M+D+h+m+s;
              }
            },
            {
              field: 'productStatus',
              title: '产品状态',
              align: 'left',
              templet: function(data) {
                if (data.productStatus == 'DEVELOPMENT_STATUS') {
                  return '开发中'
                }
                if (data.productStatus == 'RELEASE_STATUS') {
                  return '产品已发布'
                }
              }
            },
            // {
            //   field: 'joinPermissionId',
            //   title: 'LoRaWAN入网凭证ID',
            //   align: 'left',
            // },
            // {
            //   field: 'iotInstanceId',
            //   title: '公共实例不传此参数',
            //   align: 'left',
            // },
            {
              title: '操作',
              align: 'left',
              width: 140,
              toolbar: '#test-table-operate-barDemo'
            },

          ]
        ],
        event: true,
        page: true,
        limit: 15,
        skin: 'line',
        even: true,
        limits: [5, 10, 15],
        done: function (res, curr, count) {
          table_data = res.data;

          layer.closeAll('loading');
          deviceList.length = 0;
          // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
          // layer.close(index);    //返回数据关闭loading
        },
      });

    }

    window.onkeyup = function (ev) {
      var key = ev.keyCode || ev.which;
      if (key == 27) { //按下Escape
        layer.closeAll('iframe'); //关闭所有的iframe层

      }
    }

    //监听表格复选框选择
    table.on('checkbox(test-table-operate)', function (obj) {
      // console.log(obj.checked); //当前是否选中状态
      // // console.log(obj.data); //选中行的相关数据
      // console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
      // // console.log(table.checkStatus('test-table-operate').data); // 获取表格中选中行的数据
      if (obj.checked && obj.type == 'one') {
        var devi = {};
        devi = obj.data.id;
        deviceList.push(devi)
      }
      if (!obj.checked && obj.type == 'one') {
        var index = deviceList.indexOf(obj.data.id);
        if (index > -1) {
          deviceList.splice(index, 1);
        }
      }
      if (!obj.checked && obj.type == 'all') {
        deviceList.length = 0;

      }
      if (obj.checked && obj.type == 'all') {
        $.each(table.checkStatus('test-table-operate').data, function (idx, con) {
          var devi = {};
          devi = con.id;

          deviceList.push(devi)
        });
        deviceList = Array.from(new Set(deviceList))
      }

    });

    //监听工具条
    table.on('tool(test-table-operate)', function (obj) {
      var data = obj.data;
      if (obj.event === 'edit') {
        if (data.issendmail == 1) {
          return layer.msg('当前短信已发送无法修改')
        }
        layer.open({
          type: 2,
          //title: '收藏管理 (考生姓名：张无忌)',
          title: '选择人员',
          maxmin: true,
          shadeClose: false, //弹出框之外的地方是否可以点击
          area: ['100%', '100%'],
          btn: ['保存', '返回'],
          closeBtn: 1,
          //offset: '-43px',
          //  content: $('#show-view'),
          content: 'seatproductupdate.html?productKey=' + obj.data.productKey,
          success: function (layero, index) {
          },
          yes: function (index, layero) {
            var submit = layero.find('iframe').contents().find("#click");
            submit.click();
          }

        });
      } else if (obj.event === 'del') {
        layer.confirm('确认删除吗？', function (index) {
          $.ajax({
            async: false,
            type: "get",
            url: url + "/tablesignproduct/delect",
            datatype: 'json',
            data: {
              productkey: obj.data.productKey,
            },
            xhrFields: {
              withCredentials: true
            },
            //成功的回调函数
            success: function (msg) {
              if (msg.code == 0) {
                layer.msg(msg.msg)
                // var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                // layer.close(index);
                reloads();
              } else {
                layer.msg(msg.msg)
              }

            },
            error: function (error) {
              console.log(error)
            },
          })
          layer.close(index);
        });

      }
    });
    // form.on('submit(component-form-search)', function(data) {
    //     alert(1);
    // })
    var $ = layui.$,

            active = {
              //全选
              getCheckData: function () { //获取选中数据
                // var checkStatus = table.checkStatus('test-table-operate'),
                //     data = checkStatus.data;
                // layer.alert(JSON.stringify(data));
                // console.log(checkStatus.data)
                var cb = $(".layui-form-checkbox");
                // $('.layui-cell-checkbox').click();

                $(".layui-form-checkbox").each(function () {
                  // if (flag) {

                  $(this).click();

                  // } else {
                  //     $(this).removeClass('layui-form-checked')
                  // }
                })


              },
              //批量删除
              getCheckLength: function () {
                if (deviceList.length == 0) {
                  return layer.msg("请选择会议后再批量删除")
                }
                //获取选中数目
                layer.confirm('真的删除吗？', function () {
                  $.ajax({
                    async: false,
                    type: "post",
                    url: url + "/meeting/batchRemove",
                    dataType: "json",
                    xhrFields: {
                      withCredentials: true
                    },
                    //成功的回调函数
                    data: {
                      "meetingid": deviceList.join(",")

                    },
                    success: function (msg) {
                      if (msg.code == 0) {
                        layer.msg("删除成功");
                        reloads(); // 父页面刷新

                      } else {
                        layer.msg(msg.msg);


                      }

                    },
                    //失败的回调函数
                    error: function () {
                      console.log("error")
                    }
                  })
                })
              },
              //批量删除
              isAll: function () { //验证是否全选

                layer.confirm('您将要进行列表清空操作,执行后您的所有记录将被删除,请谨慎操作,是否确认?', function (index) {
                  $.ajax({
                    async: false,
                    type: "get",
                    url: url + "/meeting/empty",
                    dataType: "json",
                    xhrFields: {
                      withCredentials: true
                    },
                    //成功的回调函数
                    data: {

                    },
                    success: function (msg) {
                      if (msg.code == 0) {
                        layer.msg("清空成功");
                        reloads(); // 父页面刷新

                      } else {
                        layer.msg(msg.msg);


                      }

                    },
                    //失败的回调函数
                    error: function () {
                      console.log("error")
                    }
                  })
                  layer.close(index);
                });


              },
              add: function () {
                layer.open({
                  type: 2,
                  //title: '收藏管理 (考生姓名：张无忌)',
                  title: '新建短信通知',
                  maxmin: true,
                  shadeClose: false, //弹出框之外的地方是否可以点击
                  area: ['100%', '100%'],
                  btn: ['保存', '返回'],
                  closeBtn: 1,
                  //offset: '-43px',
                  content: 'seatproiductadd.html',
                  success: function (layero, index) {
                    // var body = layui.layer.getChildFrame('body', index);
                    // var roomid;
                    // // 取到弹出层里的元素，并把编辑的内容放进去
                    // body.find("#ruleid").val(data.id);
                    // body.find("#roomid").val(data.roomid); //将选中的数据的id传到编辑页面的隐藏域，便于根据ID修改数据
                  },
                  yes: function (index, layero) {
                    var submit = layero.find('iframe').contents().find("#click");
                    submit.click();
                  }
                });
              },
              search: function () {
                var search = undefined
                $('#demoReload').val() === ''?search = undefined:search = $('#demoReload').val()
                table.render({
                  elem: '#test-table-operate',
                  // height: 'full-200',
                  //url: url + "/meeting/findAllBylayui", //数据接口
                  method: 'get',
                  where: {
                    productName: search
                  },
                  xhrFields: {
                    withCredentials: true
                  },
                  url: url + "/tablesignproduct/selectSearch", //数据接口
                  page: {
                    layout: ['prev', 'page', 'next', 'count', 'skip']
                  },

                  cols: [
                    [ //表头
                      {
                        type: 'checkbox',
                        fixed: 'left'
                      },
                      {
                        field: 'productKey',
                        title: '产品ID',
                        width: '10%',
                        //align: 'center',
                        unresize: 'false',
                      },
                      {
                        field: 'productName',
                        title: '产品名字',
                        align: 'left',
                      },
                      {
                        field: 'nodeType',
                        title: '节点类型',
                        align: 'left',
                        templet: function(data) {
                          if (data.nodeType == 0) {
                            return '设备'
                          }
                          if (data.nodeType == 1) {
                            return '网关'
                          }
                        },
                      },
                      //   {
                      //     field: 'aliyunCommodityCode',
                      //     title: '产品版本类型',
                      //     align: 'left',
                      //     templet: function(data) {
                      //       if (data.aliyunCommodityCode == 'iothub_senior') {
                      //         return '使用物模型'
                      //       }
                      //       if (data.aliyunCommodityCode == 'iothub') {
                      //         return '不使用物模型'
                      //       }
                      //     },
                      //   },
                      {
                        field: 'dataFormat',
                        title: '产品数据格式',
                        align: 'left',
                        templet: function(data) {
                          if (data.dataFormat == 0) {
                            return '透传/自定义格式'
                          }
                          if (data.dataFormat == 1) {
                            return 'Alink协议'
                          }
                        },
                      },
                      //   {
                      //     field: 'categoryId',
                      //     title: '设备类型',
                      //     align: 'left',
                      //   },
                      // {
                      //   field: 'description',
                      //   title: '描述信息',
                      //   align: 'left',
                      // },
                      // {
                      //   field: 'protocolType',
                      //   title: '设备接入网关的协议类型',
                      //   align: 'left',
                      // },
                      // {
                      {
                        field: 'netType',
                        title: '连网方式',
                        align: 'left',
                        templet: function(data) {
                          if (data.netType == "WIFI") {
                            return 'WiFi'
                          }
                          if (data.netType == "CELLULAR") {
                            return '蜂窝网'
                          }
                          if (data.netType == "ETHERNET") {
                            return '以太网'
                          }
                          if (data.netType == "LORA") {
                            return 'LoRaWAN'
                          }
                          if (data.netType == "OTHER") {
                            return '其他'
                          }
                        },
                      },
                      // {
                      //   field: 'authType',
                      //   title: '设备接入物联网平台认证方式',
                      //   align: 'left',
                      //   templet: function(data) {
                      //     if (data.authType == 'secret') {
                      //       return '使用设备密钥进行设备身份认证'
                      //     }
                      //     if (data.authType == 'id2') {
                      //       return '使用物联网设备身份认证ID²'
                      //     }
                      //     if (data.authType == 'x509') {
                      //       return '使用设备X.509证书进行设备身份认证²'
                      //     }
                      //   },
                      // },
                      // {
                      //   field: 'id2',
                      //   title: '是否使用ID²认证。',
                      //   align: 'left',
                      // },
                      {
                        field: 'deviceCount',
                        title: '设备数量',
                        align: 'left',
                      },
                      {
                        field: 'gmtCreate',
                        title: '创建时间',
                        align: 'left',
                        templet: function(data) {
                          var date = new Date();
                          if(data.gmtCreate.length > 10){
                            date.setTime(data.gmtCreate);
                          }else{
                            date.setTime(data.gmtCreate * 1000);
                          }
                          var Y = date.getFullYear() + '-';
                          var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
                          var D = (date.getDate() < 10 ? '0'+date.getDate() : date.getDate()) + ' ';
                          var h = (date.getHours() < 10 ? '0'+date.getHours() : date.getHours()) + ':';
                          var m = (date.getMinutes() < 10 ? '0'+date.getMinutes() : date.getMinutes()) + ':';
                          var s = (date.getSeconds() < 10 ? '0'+date.getSeconds() : date.getSeconds());
                          return Y+M+D+h+m+s;
                        }
                      },
                      {
                        field: 'productStatus',
                        title: '产品状态',
                        align: 'left',
                        templet: function(data) {
                          if (data.productStatus == 'DEVELOPMENT_STATUS') {
                            return '开发中'
                          }
                          if (data.productStatus == 'RELEASE_STATUS') {
                            return '产品已发布'
                          }
                        }
                      },
                      // {
                      //   field: 'joinPermissionId',
                      //   title: 'LoRaWAN入网凭证ID',
                      //   align: 'left',
                      // },
                      // {
                      //   field: 'iotInstanceId',
                      //   title: '公共实例不传此参数',
                      //   align: 'left',
                      // },
                      {
                        title: '操作',
                        align: 'left',
                        width: 140,
                        toolbar: '#test-table-operate-barDemo'
                      },

                    ]
                  ],
                  event: true,
                  page: true,
                  limit: 15,
                  skin: 'line',
                  even: true,
                  limits: [5, 10, 15],
                  done: function (res, curr, count) {
                    table_data = res.data;

                    layer.closeAll('loading');
                    deviceList.length = 0;
                    // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
                    // layer.close(index);    //返回数据关闭loading
                  },
                });
              }
            };

    $('.layui-ds').on('click', function () {
      var type = $(this).data('type');
      active[type] && active[type].call(this);
    });

  });
</script>
</body>
</html>