<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <style type="text/css">
        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 130px;
        }

        .layui-form-label span {
            color: #f00;
            font-size: 14px;
            margin-right: 5px;
        }

        .layui-input-block span,
        p span {
            color: #f00;
            font-size: 14px;
            margin: 0 5px;
        }
    </style>
</head>

<body>
<div class="layui-card-body" style="padding: 20px 20px 0 0;">
    <form class="layui-form" action="" lay-filter="component-form-group">
        <!--<div class="layui-form-item">
            <label class="layui-form-label">所属产品</label>
            <div class="layui-input-block">
                <input type="text" name="productName" lay-verify="required" autocomplete="off"
                       id="productName" class="layui-input" disabled="disabled">
            </div>
        </div>-->
        <!-- <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>设备名称</label>
            <div class="layui-input-block">
                <input type="text" name="devicename" lay-verify="required" placeholder="请输入设备名称" autocomplete="off"
                       id="devicename" class="layui-input">
            </div>
        </div> -->
        <div class="layui-form-item">
            <label class="layui-form-label">备注名称</label>
            <div class="layui-input-block">
                <input type="text" name="nickname" placeholder="请输入备注名称" autocomplete="off"
                       id="nickname" class="layui-input">
            </div>
        </div>
		<div class="layui-form-item">
		    <label class="layui-form-label"><span>*</span>devEui</label>
		    <div class="layui-input-block">
		        <input type="text" name="deveui" lay-verify="required" placeholder="请输入devEui" autocomplete="off"
		               id="deveui" class="layui-input">
		    </div>
		</div>
        <div class="layui-form-item">
            <label class="layui-form-label">pinCode</label>
            <div class="layui-input-block">
                <input type="text" name="pincode" placeholder="请输入pinCode" autocomplete="off"
                       id="pincode" class="layui-input">
            </div>
        </div>
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>设备通讯类型</label>
			<div class="layui-input-block">
				<select name="communication" id="communication" lay-verify="required" lay-filter="component-form-select">
					<option value="">请选择设备通讯类型</option>
					<option value=0>LoRa通讯</option>
					<option value=1>蓝牙通讯</option>
				</select>
			</div>
		</div>
        <div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>设备型号</label>
			<div class="layui-input-block">
				<select name="deviceType" lay-verify="required" id="deviceType"></select>
			</div>
        </div>
		<div class="layui-form-item layui-layout-admin layui-hide">
		    <div class="layui-input-block">
		        <div style="position: absolute;right: 0px;bottom: 0px;">
		            <button class="layui-btn" lay-submit="" lay-filter="addsms" id="click">增加</button>
		            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		        </div>
		    </div>
		</div>
    </form>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate', 'element', 'upload'], function () {
        var $ = layui.$,
            setter = layui.setter,
            form = layui.form;
        /*var productKey = getUrlParam("productKey");
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return decodeURI(r[2]); return null; //返回参数值
        }*/
        var url = setter.baseUrl;
        var uploadfile = null;
        $.ajax({
            async: false,
            type: "get",
            // url: url + "/roomtemplate/findByroomtemplate",
            url: "https://f.longjuli.com" + "/roomtemplate/findByroomtemplate",
            dataType: "json",
            xhrFields: {
                withCredentials: true
            },
            //成功的回调函数
            success: function (msg) {
                var data = msg;
                $.each(data.data, function (idx, con) {
                    $("#sms").after("<option value=" + con.id + ">" + con.name +
                        "</option>");
                })
                form.render();
            },
            //失败的回调函数
            error: function () {
                console.log("error")
            }
        })
		//监听下拉框选中
		form.on('select(component-form-select)', function (data) {
			console.log(data.value)
		   if(data.value == 0){
			   var deviceTypes = '<option value=0>阿里电子墨水瓶桌牌</option><option value=2>龙居里三角电子桌牌</option>';
			   $("#deviceType").html("");
			   $("#deviceType").append(deviceTypes);
			   form.render();
		   }
		   if(data.value == 1){
			   var deviceTypes = '<option value=1>龙居里RinLink电子墨水瓶桌牌</option>';
			   $("#deviceType").html("");
			   $("#deviceType").append(deviceTypes);
			   form.render();
		   }
		});
        form.on('submit(addsms)', function (data) {
            var data = data.field;
            //data.iotid=== '' ? data.iotid = undefined:data.iotid = data.iotid
            // data.devicename=== '' ? data.devicename = undefined:data.devicename = data.devicename;
            data.nickname=== '' ? data.nickname = undefined:data.nickname = data.nickname
            data.pincode=== '' ? data.pincode = undefined:data.pincode = data.pincode
            data.deveui=== '' ? data.deveui = undefined:data.deveui = data.deveui
            //console.log(data)
            $.ajax({
                url: url + "/tablesigndevice/insert",
                type: "post",
                dataType: "json",
                data: {
                    //productKey:productKey,
                    //iotId:data.iotid,
                    //deviceName:data.devicename,
                    pinCode:data.pincode,
                    devEui:data.deveui,
					communication:data.communication,
					deviceType:data.deviceType
                },
                async: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
					console.log(data.code)
                    if (data.code == 0) {
                        parent.layer.msg("添加成功")
                        var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                        parent.layer.closeAll();;
                        //parent.ajaxs(window.indexs);
                    }else{
                        parent.layer.msg(data.msg)
                    }
                },
                error: function (error) {
                    console.log(error)
                }

            })
            return false;
        })
    });
</script>
</body>

</html>
