<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编排规则添加表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>
<style type="text/css">
    .zi-ding-yi-btn{position: fixed;left:0; right: 0;bottom:0;padding-top:10px;background-color: #fff;}
</style>
<body>

<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 57px 0; ">
    <form class="layui-form" action="" lay-filter="component-form-group">

        <div class="layui-form-item">
            <label class="layui-form-label">规则名称</label>
            <div class="layui-input-block">
                <input type="text" name="user" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input username">
            </div>
        </div>



        <div class="layui-form-item">
            <label class="layui-form-label">会议室名称</label>
            <div class="layui-input-block">
                <select name="meeting" lay-verify="required" id="select-room">
                    <option value="" id="select_meet"></option>

                </select>
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <input type="text" name=""  autocomplete="off"  id="meetingid"  class="layui-input ">
            </div>
        </div>

        <div class="layui-form-item layui-layout-admin">
            <div class="layui-input-block">
<!--                <div style="position: absolute;right: 0px;bottom: 0px;">-->
<!--                    <button class="layui-btn" lay-submit="" lay-filter="component-form-demo2" id="ruleclickBymeet">下一步:座设定区规则</button>-->
<!--                    <button type="reset" class="layui-btn layui-ds" data-type="cancel">返回</button>-->
<!--                </div>-->
                <div class="layui-layer-btn zi-ding-yi-btn">
                <a class="layui-layer-btn0"  lay-submit="" lay-filter="component-form-demo2" id="ruleclickBymeet">下一步:座设定区规则</a>
                <a class="layui-layer-btn1 layui-ds" type="reset" data-type="cancel">取消</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script >
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate'], function() {
        var $ = layui.$,
            admin = layui.admin,
            element = layui.element,
            layer = layui.layer,
            setter = layui.setter,
            laydate = layui.laydate,
            form = layui.form;
        // var url = "https://f.longjuli.com";
        var url = setter.baseUrl;
        var name = getUrlParam("name");
        var meeting = getUrlParam("meeting");
        var  ruleid = getUrlParam("ruleid");
        var  dates = getUrlParam("dates");
        var  times = getUrlParam("times");
        var  remake = getUrlParam("remake");
        var active = {
            cancel:function () {
                location.href = "./meet_create.html?name="+name+"&meeting="+meeting+"&ruleid="+ruleid+"&dates="+dates+"&times="+times+"&remake="+remake;

            }
        }

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return decodeURI(r[2]); return null; //返回参数值
        }
        console.log(meeting)
        $.ajax({
            async: false,
            type: "get",
            url: url + "/roomtemplate/findByroomtemplate",
            dataType: "json",
            xhrFields: {
                withCredentials: true
            },
            //成功的回调函数
            data: {},
            success: function(msg) {

                var data = msg.data;
                $.each(data, function(idx, con) {

                    $("#select_meet").after("<option value=" + con.id + ">" + con.name +
                        "</option>");
                })
                    $('#select-room').val(meeting)


            },
            //失败的回调函数
            error: function() {
                console.log("error")
            }
        })
        window.reloads = function(){
            parent.reloads()
        }

        form.render(null, 'component-form-group');

        laydate.render({
            elem: '#LAY-component-form-group-date'
        });



        /* 监听指定开关 */
        form.on('switch(component-form-switchTest)', function(data) {
            layer.msg('开关checked：' + (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });



        /* 监听提交 */
        form.on('submit(component-form-demo1)', function(data) {


            // var rowname = $("#select-room").find("option[value='"+data.field.interest+"']").text();
            var ruletype = 0;
            if (data.field.close == "on") {
                ruletype = 1;
            }

            var openid = 0;
            var ruleid;
            var roomid;

            $.ajax({
                async: false,
                type: "post",
                url: url + "/ruletemplate/addruletemplate",
                dataType: "json",
                xhrFields: {
                    withCredentials: true
                },
                //成功的回调函数
                data: {
                    "name": data.field.user,
                    "stauts": ruletype,
                    "roomid": data.field.meeting,
                    "roomname": $("#select-room option:selected").text()
                },
                success: function(msg) {
                    if (msg.code == '0') {
                        var data = msg.state;
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                        open(msg);
                    } else {

                    }

                },
                //失败的回调函数
                error: function() {
                    console.log("error")
                }
            })

            function open(msg) {

                parent.layer.open({
                    type: 2,
                    //title: '收藏管理 (考生姓名：张无忌)',
                    title: '  ',
                    shadeClose: false, //弹出框之外的地方是否可以点击
                    area: ['100%', '106%'],
                    closeBtn: 1,
                    offset: '-43px',
                    content: 'territory_rules_edit.html?ruleid=' + msg.data.id + '&roomid=' + msg.data
                        .roomid,
                    success: function(layero, index) {
                        // var body = window.parent.layer.getChildFrame('body', index);
                        // console.log(body)
                        // parent.$("#ruleid").val(msg.ruleid);
                        // parent.$("#roomid").val(msg.roomid);
                        // body.find("#roomid").val(msg.roomid);
                    }
                })

            }
            return false;
        });
        form.on('submit(component-form-demo2)', function(data) {
            // var rowname = $("#select-room").find("option[value='"+data.field.interest+"']").text();
            var ruletype = 0;
            if (data.field.close == "on") {
                ruletype = 1;
            }

            var openid = 0;
            var ruleid;
            var roomid;

            $.ajax({
                async: false,
                type: "post",
                url: url + "/ruletemplate/addruletemplate",
                dataType: "json",
                xhrFields: {
                    withCredentials: true
                },
                //成功的回调函数
                data: {
                    "name": data.field.user,
                    "stauts": 0,
                    "roomid": data.field.meeting,
                    "roomname": $("#select-room option:selected").text()
                },
                success: function(msg) {
                    if (msg.code == '0') {
                        var data = msg.state;
                        console.log("是"+msg.data.id)
                        // var index = parent.layer.getFrameIndex(window.name);
                        // parent.reloads()//先得到当前iframe层的索引
                        // parent.layer.close(index); //再执行关闭
                        location.href = "./territory_rule_edit.html?name="+name+"&meeting="+meeting+"&ruleid="+ruleid+"&dates="+dates+"&times="+times+"&remake="+remake+"&ruleids="+ msg.data.id +
                            "&roomid=" + msg.data.roomid

                    } else {

                    }

                },
                //失败的回调函数
                error: function() {
                    console.log("error")
                }
            })

            function open(msg) {
                console.log(msg)
                parent.layer.open({
                    type: 2,
                    //title: '收藏管理 (考生姓名：张无忌)',
                    title: '  ',
                    shadeClose: false, //弹出框之外的地方是否可以点击
                    area: ['100%', '106%'],
                    closeBtn: 1,
                    offset: '-43px',
                    content: '../arrangeman/territory_rules_edit.html?ruleid=' + msg.data.id +
                        '&roomid=' + msg.data.roomid,
                    success: function(layero, index) {
                        // var body = window.parent.layer.getChildFrame('body', index);
                        // console.log(body)
                        // parent.$("#ruleid").val(msg.ruleid);
                        // parent.$("#roomid").val(msg.roomid);
                        // body.find("#roomid").val(msg.roomid);
                    },

                })

            }
            return false;
        });
        $('.layui-ds').on('click', function() {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });

    });

</script>
</body>
</html>