<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../../web.contextmenu/web.contextmenu.css" media="all">
	<script src="../../../web.contextmenu/web.contextmenu.js"></script>
	<link rel="stylesheet" href="../../../css/seat.css" media="all">
	<script src="../../../js/jquery-3.1.1.min.js"></script>
	<script src="../../../js/jquery.jqprint-0.3.js"></script>
	<link rel="stylesheet" href="rule_zq.css" />
	<link rel="stylesheet" type="text/css" href="../../../css/scosun.css"/>
	<link rel="stylesheet" href="../../../layuiadmin/font/iconfont.css">
	<style type="text/css">
		header {
			box-shadow: 0px 0px 5px gray;
			height: 3.5rem;
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			z-index: 9999;
			background-color: white;
		}

		body {
			background-color: white;
		}

		/*右侧菜单*/
		.layui-right-nav {
			position: absolute;
			right: 5px;
			top: 0;
			height: 3.5rem;
			line-height: 3.5rem;
			background-color: #fff;
		}

		.layui-right-nav i {
			display: block;
			height: 20px;
			width: 20px;
			float: left;
			margin-top: 18px;
			padding-left: 7px;
			padding-right: 7px;
		}

		.layui-right-nav i img {
			width: 100%;
			display: block;
		}

		.btnbar-select{
			display: inline-block;
			width: 112px;
			float: right;
			margin-right: 485px;
			margin-top: 9px;
		}
		
	</style>
	<script type="text/javascript">  
		function doNothing(){  
			window.event.returnValue=false;  
			return false;  
		}
	</script>
</head>
<body oncontextmenu="doNothing()">
	<header>
		<span class="layui-breadcrumb" style="line-height: 3.5rem;">
			<a><cite> &nbsp; &nbsp; &nbsp; 座区图生成管理</cite></a>
			<!-- <a onclick="asd()" href="javascript:;"><cite>刷新</cite></a> -->
			<div class="assistBtn" style="margin-left:10px"><span class="fengeline_hui">/</span><i class="layui-icon layui-ds layui-icon-refresh-3" onclick="asd()"></i></div>
		</span>
		<!-- 右侧菜单 -->
		<div class="layui-form btnbar-select">
            <select class="dialogRuleSelect" lay-filter="component-ruleselect" id="ruleselect">
                <option value="1">按规则标色</option>
            </select>
		</div>
		<span class="layui-right-nav">
			<i id="drag-container" data-type="dragcontainer" data="拖拽画布"><img src="../../../images/toolkit/hand-80.svg"></i>
			<i id="nav-parallelism" data-type="parallelism" data="对应关系绑定"><img src="../../../images/parallelism.png"></i>
			<i id="nav-lock" data-type="bindLockSeats" data="锁定"><img src="../../../images/lock.png"></i>
			<i id="nav-radio" data-type="bindOneSeats" data="单选"><img src="../../../images/radio.png"></i>
			<i id="nav-selection" data-type="selectSeats" data="框选"><img src="../../../images/selection.png"></i>
			<i id="nav-drag" data-type="dragSeats" data="拖动"><img src="../../../images/drag.png"></i>
			<i id="rightbtn" data-type="bindContextMenu" data="右键"><img src="../../../images/rightbtn.png"></i>
			<i id="cancelrightbtn" data-type="removeContextMenu" data="取消右键"><img src="../../../images/cancelrightbtn.png"></i>
			<!-- <i id="nav-vacancy" data="空置"><img src="../../../images/vacancy.png"></i> -->
			<!-- <i id="nav-delete" data="删除"><img src="../../../images/delete.png"></i> -->
			<i id="nav-save" data-type="saveseats" data="保存"><img src="../../../images/save.png"></i>
			<i id="nav-import" data-type="importData" data="导入座区数据"><img src="../../../images/import.png"></i>
			<!-- <i id="nav-createPdf" data="生成PDF座区图"><img src="../../../images/createPdf.png"></i> -->
			
			<!-- <i id="nav-rewrite" data="改写"><img src="../../../images/rewrite.png"></i> -->
			<i id="nav-print" data-type="print" data="设定打印区域"><img src="../../../images/print.png"></i>
			<i id="nav-upload" data-type="upload" data="word上传模板"><img src="../../../images/wordupload.png"></i>
			<!-- <input type="file" name="file" id="upload-file" style="display:none;" onchange="uploadFile()"/> -->
			<input type="file" name="file" id="upload-file" style="display:none;"/>
			<i id="nav-word" data-type="word" data="word模板下载"><img src="../../../images/word.png"></i>
			<i id="nav-close" data="关闭此窗口"  class="layui-ds" data-type="close" style="width: 18px;height: 18px;line-height: 3.5rem;"><img src="../../../images/close.png" ></i>
		</span>
		<!-- 右侧菜单 end-->
	</header>

</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../js/seatscontrol_drag.js" charset="utf-8"></script>
<script type="text/javascript">
	layui.config({
		base: '../../../layuiadmin/' //静态资源所在路径
	}).extend({
		index: 'lib/index' //主入口模块
	}).use(['index', 'user', 'table'], function () {
		var $ = layui.$,
			form = layui.form,
			element = layui.element,
			table = layui.table,
			setter = layui.setter,
			layer = layui.layer,
			router = layui.router();
		/*右侧菜单HOVER显示提示文字*/
		$('.layui-right-nav i').each(function () {
			var _id = $(this).attr('id');
			var _data = $(this).attr('data');
			$("#" + _id).hover(function () {
				openMsg();
			}, function () {
				layer.close(subtips);
			});
			function openMsg() {
				subtips = layer.tips(_data, '#' + _id, { tips: [3, '#666'], time: 30000 });
			}
		});
		var url = setter.baseUrl;
		var uri = window.location.search;
        var str = uri.substr(1);
        window.ruleid = str.substring(str.indexOf("=")+1,str.indexOf("&"));
		window.meetingid=str.substring(str.lastIndexOf("=")+1)
		window. roomid=str.substring(str.indexOf("&")+1,str.lastIndexOf("&"))
		window. newroomid=roomid.substring(roomid.indexOf("=")+1,roomid.length)
		
		var seatcolors = ['#ffffff','#b3ffaf','#fffcb6','#ffb2b9','#91dfff'];
		var seatsdata = [];

		/*右侧菜单HOVER显示提示文字 end*/
		layer.load(2);
		
		$.ajax({
			url: url+"/roomtemplate/findByIdTemplatecode",
			type: "post",
			async: false,
			xhrFields: {
				withCredentials: true
			},
			data: {
				"id": newroomid,
				
			},
			success: function(data) {
				var datas = data.data
				$("body").append(datas.templatecode);
				
				selectSeats();

				var condi = {
					"meeting_id": +meetingid
				};

				// importSeatsData(condi);
				queryAllSeatStatus();
				layer.closeAll();
			},
			error:function(){
				layer.closeAll();
			}
		});
		$.ajax({
			url: url+"/meeting/findByMeeting",
			type: "get",
			async: false,
			xhrFields: {
				withCredentials: true
			},
			data: {
				"id": meetingid,
				
			},
			success: function(data) {
				var datas = data.data
				
				$("#meetingname").text(datas[0].name);
				$("#meetingaddress").text("地点："+datas[0].address);
				$("#meetingremark").text("备注："+datas[0].memo);
				$("#meetingtime").text("时间："+datas[0].meetingtime);
				
				// selectSeats();

				// var condi = {
				// 	"meeting_id": +meetingid
				// };
				// importSeatsData(condi);
				// queryAllSeatStatus(roomid, ruleid);
			}
		});

		$.ajax({
			type: "get",
			url: "https://m.longjuli.com/v1/attributes/color?meeting_id="+meetingid,
			dataType: "json",
			success: function(obj) {
				var data = obj.data || [];
				if(data && data.length > 0){
					$.each(data, function (index, item) {
						$('#ruleselect').append(new Option(item.name, item.id));// 下拉菜单里添加元素
					});
					layui.form.render("select");
				}
			}
		});
		
		form.on('select(component-ruleselect)', function(data){
			var id = +data.value;
			// meetingId = id;
			// getRuleSetups(id);
			changeSeatColor(seatsdata);
		});


       	// $('.layui-ds').on('click', function() {
       	// 	var type = $(this).data('type');
       	// 	active[type] && active[type].call(this);
		//    });
		   




		function queryAllSeatStatus(){
			$.ajax({
				async: false,
				type: "get",
				url: "https://m.longjuli.com/v1/meetings/show?meeting_id="+meetingid,
				dataType: "json",
				success: function(obj) {
					console.log("--queryAllSeatStatus---");
					if(obj && obj.attendees){
						seatsdata = obj.attendees;
						changeSeatColor(obj.attendees);
					}
				},
				//失败的回调函数
				error: function() {
					console.log("error")
				}
			});
		}

		function importSeatsData(condi){
			$.ajax({
				async: true,
				type: "post",
				data: JSON.stringify(condi),
				contentType: 'application/json', 
				url: "https://m.longjuli.com/v1/meetings/sort",
				dataType: "json",
				success: function(obj) {
					console.log("--importSeatsData---",condi);
					if(obj && obj.attendees){
						seatsdata = obj.attendees;
						changeSeatColor(obj.attendees);
					}
				},
				//失败的回调函数
				error: function() {
					console.log("error")
				}
			});
		}

		function setSeatData(data){
			// console.log(data)
			$.ajax({
				async: false,
				type: "post",
				data: JSON.stringify(data),
				contentType: 'application/json', 
				url: "https://m.longjuli.com/v1/meetings/store",
				dataType: "json",
				success: function(obj) {
					console.log("--setSeatData---",obj);
					if(obj && obj.attendees){
						layer.msg("保存成功");
					}else{
						layer.msg("保存错误");
					}
				},
				//失败的回调函数
				error: function() {
					console.log("error")
				}
			});
		}

	
	
		
		
		window.serverSeatIds = [];
		function changeSeatColor(attendees){
			if(attendees.length > 0){
				var ruleselect = $("#ruleselect").val() - 0;
				serverSeatIds = [];
				if(ruleselect == 1){
					for(var i = 0,len = attendees.length; i < len; i++){
						// {"seatid":"1-1","attender":"028","id":"39"}
						var item = attendees[i] || {};
						
						$("#" + item.seatid).css("background-color",item.bgcolor);
						$("#" + item.seatid).html(item.attender);

						serverSeatIds.push(item.seatid);
					}
				}else{
					var colorsids = [];
					attendees.forEach(function(item){
						var colors = item.colors;
						var cid = colors[ruleselect];
						if(colorsids.indexOf(cid) == -1){
							colorsids.push(cid);
						}
					});
					var colorsobj = {};
					var cli = 0;
					colorsids.forEach(function(item){
						colorsobj[item] = seatcolors[cli];
						cli++;
						if(cli==5){
							cli=0;
						}
					});

					attendees.forEach(function(item){
						var colors = item.colors;
						var cid = colors[ruleselect];
						var cc = colorsobj[cid];
						$("#" + item.seatid).css("background-color",cc);
					});
				}
			}
		}

		function saveSeats(){
			var seats = $("#seatcontainerId .seatdiv");
			var seatsobj = {
				meeting_id: +meetingid,
				attendees:[]
			}
			var ids = {};
			var names = {};
			seatsdata.forEach(function(item){
				ids[item.seatid] = item.id;
				names[item.seatid] = item.attender;
			});
			// console.log(ids,names)

			seats.each(function(){
				var name = $(this).text() || "";
				var reg = /^\d+/g;
				var id = this.id;
				if(name != "" && !reg.test(name)){
					if(ids[id]){
						if(names[id] == name){
							seatsobj.attendees.push({id:ids[id],attender:name,seatid:id});
						}else{
							//挪动名字之后  原来的位置名字跟id对不上，就没传id
							seatsobj.attendees.push({attender:name,seatid:id});
						}
					}else{
						// 新加名字  或者 挪动
						var sid = $(this).attr("sid");
						if(ids[sid]){
							// 挪动名字需要把原来的id带回去
							seatsobj.attendees.push({id:ids[sid],attender:name,seatid:id});
						}else{
							// 右键添加名字没有id
							seatsobj.attendees.push({attender:name,seatid:id});
						}
					}
				}
			});
}
			/*
			座区图保存规则
			1.当名字和位置都没有变化，传递原来的id,name,seatid;
			2.当把名字挪动到其它空白位置，不修改原来的名字，传递名字原来的座位id,name,新的seatid;
			3.当修改座位上原有名字（直接拖拽其它座区名字覆盖当前名字和通过右键改名字），传递新的name 和 seatid;
			4.当使用右键在空间座区添加新名字，传递新建的name 和 seatid
			ps: 当前的座区图不支持交换操作，如需交换 可以 先把名字拖拽到空白座区，然后再做交换。
			*/
			setSeatData(seatsobj);
		}
		/**
		 * 打印局部div
		 * @param printpage 局部div的ID
		 */
		function printdiv(printpage) {
			// var headhtml = "<html><head><title></title></head><body>";
			// var foothtml = "</body>";
			// // 获取div中的html内容
			// // var newhtml = document.all.item(printpage).innerHTML;
			// // 获取div中的html内容，jquery写法如下
			// var newhtml= $("#" + printpage).html();

			// // 获取原来的窗口界面body的html内容，并保存起来
			// var oldhtml = document.body.innerHTML;

			// // 给窗口界面重新赋值，赋自己拼接起来的html内容
			// document.body.innerHTML = headhtml + newhtml + foothtml;
			// // 调用window.print方法打印新窗口
			// window.print();

			// // 将原来窗口body的html值回填展示
			// document.body.innerHTML = oldhtml;
			// return false;
		}
		
		//上传模板文件的类型判断
		/* function uploadFile(){
			var fileName = $("#upload-file").val();
			var fileType = fileName.substr(fileName.lastIndexOf(".")).toLowerCase();
			console.log(fileType);
			if(fileType!=".docx" && fileType!=".doc"){
				alert("上传模板类型错误！")
				console.log("上传模板类型错误！");
				return false;
			}else {
				var file = document.getElementById("upload-file").files[0];
				upload(meetingid,newroomid,file);
			}
		} */
		
		$('#upload-file').on('change', function() {
			var fileName = $("#upload-file").val();
			var fileType = fileName.substr(fileName.lastIndexOf(".")).toLowerCase();
			console.log(fileType);
			if(fileType!=".docx" && fileType!=".doc"){
				/* alert("上传模板类型错误！") */
				console.log("上传模板类型错误！");
				return false;
			}else {
				var file = document.getElementById("upload-file").files[0];
				upload(meetingid,newroomid,file);
			}
		});
		
		function upload(meetingid,newroomid,file){
			var formData = new FormData();
			console.log(meetingid+","+newroomid+","+file);
			formData.append("meetingid",meetingid);
			formData.append("roomtemplateid",newroomid);
			formData.append("file",file);
			$.ajax({
				url:"https://f.longjuli.com/wordtemplate/uploadWordTemplate",
				type:"post",
				data:formData,
				contentType: false,
				processData: false,
				success:function(data){
					if(data.code == 200){
						layer.msg("word模板上传成功！")
						console.log(data);
					}
				}
			})
		}
		
		var __handDrag = null;
		var $ = layui.$,
		active = {
			dragcontainer:function(){
				if(__handDrag){
					__handDrag = null;
					$('#seatcontainer').unbind('mousedown');
					$('#seatcontainer').unbind('mouseup');
					$('#seatcontainer').unbind('mousemove');
					$('.toollist_li').removeClass("on");
					$("#nav-selection").addClass("on");
					selectSeats();
				}else{
					removeContainerEvent();
					__handDrag = new Drag();
				}
			},
			parallelism:function(){
				layer.open({
					type: 2,
					//title: '收藏管理 (考生姓名：张无忌)',
					title:false,
					shadeClose: false, //弹出框之外的地方是否可以点击
					area: ['100%', '100%'],
					closeBtn: 1,
					closeBtn: false,
					offset: '0',
					content: '../attender2rule/attender2rule.html',
					success: function(layero, index) {
						// var body = layui.layer.getChildFrame('body', index);
						// var roomid;
						// // 取到弹出层里的元素，并把编辑的内容放进去
						// body.find("#ruleid").val(data.id);
						// body.find("#roomid").val(data.roomid); //将选中的数据的id传到编辑页面的隐藏域，便于根据ID修改数据
					}
				});
			},
			word:function(){
				/* window.location="https://f.longjuli.com" + "/word/download/"+meetingid; */
				layer.open({
					type: 2,
					title: "下载模板列表",
					shadeClose: false,
					area: ['50%', '55%'],
					btn: ['确定', '取消'],
					closeBtn: 1,
					content: 'template_download.html',
					success: function(layero, index){
						// 获取子页面的iframe
						var iframe = window['layui-layer-iframe' + index];
						// 向子页面的全局函数child传参
						console.log(meetingid);
						iframe.init(meetingid,newroomid);
					},
					yes: function(index, layero) {
						
						/* var url = "http://127.0.0.1:8083"; */
						var url = "https://f.longjuli.com";
						var body = layer.getChildFrame('body', index);
						var wordid = body.find('#wordDown').val();
						var wordname = body.find('#wordDown option:selected').text().split('-') || [];
						wordname = wordname[0] || "";
						if(wordid==''||wordid==null)
						{return layer.msg("请选择word模板");}
						console.log("meetignid="+meetingid+",wordid="+wordid);
						window.location="https://f.longjuli.com" + "/word/download/"+meetingid+"?wordTemplateid="+wordid;
					}
				})
			},
			importData: function() {
				var condi = {
					"meeting_id": +meetingid
				};
				importSeatsData(condi);
			},
			bindLockSeats:function(){
				bindLockSeats();
			},
			selectSeats:function(){
				selectSeats();
			},
			dragSeats:function(){
				dragSeats();
			},
			bindOneSeats:function(){
				bindOneSeats();
			},
			bindContextMenu:function(){
				bindContextMenu();
			},
			removeContextMenu:function(){
				removeContextMenu();
			},
			print:function(){
				// printJS('seatcontainer', 'html');
				// printdiv("seatcontainer");
				$("#seatcontainer").jqprint({
					debug: false, 
					importCSS: true, 
					printContainer: true, 
					operaSupport: false
				});
			},
			saveseats:function(){
				saveSeats();
			},
			upload:function() {
				$("#upload-file").trigger("click");
			},
			close: function() {
				var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
				parent.layer.close(index); //再执行关闭 
				// parent.reloads()
			}
			// getCheckLength: function() { //获取选中数目
			// 	var checkStatus = table.checkStatus('test-table-operate'),
			// 		data = checkStatus.data;
			// 	layer.msg('选中了：' + data.length + ' 个');
			// },
			// isAll: function() { //验证是否全选
			// 	var checkStatus = table.checkStatus('test-table-operate');
			// 	layer.msg(checkStatus.isAll ? '全选' : '未全选')
			// },
			// add: function() {
			// 	layer.open({
			// 		type: 2,
			// 		title: '增加对应关系方案',
			// 		shadeClose: false, //弹出框之外的地方是否可以点击
			// 		offset: '10%',
			// 		area: ['60%', '80%'],
			// 		content: 'attender2rule_new.html',
			// 		btn: ['保存', '取消'],
			// 		yes: function(index, layero) {
			// 			var body = layer.getChildFrame('body', index);
			// 			var programmename = body.find('#programmename').val();
			// 			var select_meet = body.find('#select_meet').val();
			// 			var data = sessionStorage.getItem("attender2rule_data") || "";

			// 			var condi = {};
			// 			condi.attendee2rule = {
			// 				"name": programmename,
			// 				"meeting_id": +select_meet,
			// 				"rule_bindings": []
			// 			};
			// 			if(data){
			// 				var obj = JSON.parse(data);
			// 				// console.log("-----obj------",obj)
			// 				var rule_bindings = condi.attendee2rule.rule_bindings;
			// 				obj.forEach(function(item,index){
			// 					rule_bindings[index] = {};
			// 					rule_bindings[index].rulesetup_id = +item.id;
			// 					rule_bindings[index].sort_item = +item.sort_item;
			// 					rule_bindings[index].attribute_ids = item.treeCheckedIds;
								
			// 				});
			// 			}
			// 			console.log(condi);
						
			// 			saveAttendee2rules(condi,index);
			// 		}
			// 	});
			// },
			// reload:function() {
			// 	var key = $("#search-key").val();
			// 	getListData(key);
			// }
		};

		$('.layui-right-nav i').on('click', function() {
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});

		function Drag(){
			this.dragWrap = $("#seatcontainer");
			this.init.apply(this,arguments);
		};
		Drag.prototype = {
			constructor:Drag,
			_dom : {},
			_x : 0,
			_y : 0,
			_top :0,
			_left: 0,
			move : false,
			down : false,
			init : function () {
				this.bindEvent();
			},
			bindEvent : function () {
				var t = this;
				$('#seatcontainer').bind('mousedown',function(e){
					e && e.preventDefault();
					if ( !t.move) {
						t.mouseDown(e);
					}
				});
				$('#seatcontainer').bind('mouseup',function(e){
					t.mouseUp(e);
				});

				$('#seatcontainer').bind('mousemove',function(e){
					if (t.down) {
						t.mouseMove(e);
					}
				});
			},
			mouseMove : function (e) {
				e && e.preventDefault();
				this.move = true;
				var x = this._x - e.clientX,
					y = this._y - e.clientY,
					dom = document.documentElement;
				dom.scrollLeft = (this._left + x);
				dom.scrollTop = (this._top + y);
			},
			mouseUp : function (e) {
				e && e.preventDefault();
				this.move = false;
				this.down = false;
				this.dragWrap.css('cursor','');
			},
			mouseDown : function (e) {
				this.move = false;
				this.down = true;
				this._x = e.clientX;
				this._y = e.clientY;
				this._top = document.documentElement.scrollTop;
				this._left = document.documentElement.scrollLeft;
				// console.log(this._top,this._left)
				this.dragWrap.css('cursor','move');
			}
		};

	});
	

	function asd() {
        location.reload();
    }
</script>

</html>
