<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>编排规则</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
<script src="../../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css">
	.layui-btn {background-color: #666;}
	.layui-btn-danger {background-color: #FF5722;}
	.layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #666;}
	.stateA a{
		color: #0099FF;
	}
</style>
<link rel="stylesheet" type="text/css" href="../../../css/scosun.css"/>
<script src="../../../js/scosun.js"></script>
	<style type="text/css">
		.btnsearch {
			background: #666 url(../../../images/btnsearch.png) no-repeat center center;
			background-size: 1.2rem 1.2rem;
			text-indent: -9999px;
		}
	</style>
</head>
<body>
<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a><cite>组件</cite></a>
		<a><cite>数据表格</cite></a>
		<a><cite>数据操作</cite></a>
	</div>
</div>
<div class="layui-fluid">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
				<div class="layui-card-body">
					<div>
						<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;" id="group">
						</div>
						<!-- 右侧筛选条件 -->
						<div class="test-table-reload-btn" style="float:right;margin-bottom: 10px;">
							<div class="layui-inline">
							<input class="layui-input" name="id" placeholder="请输入关键字" id="demoReload"
								autocomplete="off">
							</div>
							<button class="layui-btn layui-ds btnsearch" data-type="search" id="search">搜索</button>
						</div>
						<!-- 右侧筛选条件 end-->
					</div>
					<table id="test-table-operate" lay-filter="test-table-operate"></table>
					<script type="text/html" id="table-zone-list">
						<a class=" layui-icon " lay-event="zonelist" id="zonelist" style="font-size:1.4rem">&#xe62d;</a>
					</script>
					<script type="text/html" id="test-table-state-barDemo">
						<a lay-event="rulezone">发送</a>&nbsp;|&nbsp;
						<a lay-event="rulezone">定时</a>&nbsp;|&nbsp;
						<a lay-event="rulezone">查看</a>
					</script>
					<script type="text/html" id="test-table-export-barDemo">
						<a lay-event="rulezone">参会</a>&nbsp;|&nbsp;
						<a lay-event="rulezone">请假</a>
					</script>
					<script type="text/html" id="test-table-operate-barDemo">
						{{#  if($.inArray("upperson", a) != -1){ }}
						<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
						{{#  } }}
						{{#  if($.inArray("delperson", a) != -1){ }}
						<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
						{{#  } }}
					</script>
					<script type="text/html" id="groups">
						{{#  if($.inArray("addrule", d) != -1){ }}
						<button class='layui-ds gradient-block-diagonal' data-type='add' id='addmeeting'>新建</button>
						{{# }}}
						<!-- <div class="assistBtn" style="margin-top: 10px;margin-left:10px"><i class="layui-icon layui-ds layui-icon-refresh-3" data-type="refresh" ></i></i></div> -->
					</script>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="noticelist.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
