<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title></title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
<style type="text/css">
.layui-form-label {
	width: 40px;
}
.layui-input-block {
	margin-left: 70px;
}
.layui-form-label span {
	color: #f00;
	font-size: 14px;
	margin-right: 5px;
}
.layui-input-block span,
p span {
	color: #f00;
	font-size: 14px;
	margin: 0 5px;
}
</style>
</head>
<body>
<div class="layui-card-body" style="padding: 20px 20px 0 0;">
<form class="layui-form" action="" lay-filter="component-form-group">
	<div class="layui-form-item">
		 <label class="layui-form-label"><span>*</span>姓名</label>
<!--		<label class="layui-form-label">姓名</label>-->
		<div class="layui-input-block">
			<input type="text" name="name" lay-verify="required" placeholder="模版名称" autocomplete="off"
				id="name" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<!-- <label class="layui-form-label"><span>*</span>通知方式</label> -->
		<label class="layui-form-label">单位</label>
		<div class="layui-input-block">
			<input type="text" name="dept"  placeholder="模版名称" autocomplete="off"
				   id="dept" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<!-- <label class="layui-form-label"><span>*</span>通知标题</label> -->
		<label class="layui-form-label">职务</label>
		<div class="layui-input-block">
			<input type="text" name="duties" placeholder="职务" autocomplete="off"
				id="duties" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		 <label class="layui-form-label"><span>*</span>手机</label>
		<div class="layui-input-block">
			<input type="text" name="phone" lay-verify="required" placeholder="手机" autocomplete="off"
				id="phone" class="layui-input">
		</div>
	</div>
	<div class="layui-form-item">
		<!-- <label class="layui-form-label"><span>*</span>通知标题</label> -->
		<label class="layui-form-label">车牌号</label>
		<div class="layui-input-block">
			<input type="text" name="numberPlate"  placeholder="车牌号" autocomplete="off"
				   id="numberPlate" class="layui-input">
		</div>
	</div>



	<div class="layui-form-item layui-layout-admin layui-hide">
		<div class="layui-input-block">
			<div style="position: absolute;right: 0px;bottom: 0px;">
				<button class="layui-btn" lay-submit="" lay-filter="addsms" id="click">增加</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</div>
</form>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
layui.config({
	base: '../../../layuiadmin/' //静态资源所在路径
}).extend({
	index: 'lib/index' //主入口模块
}).use(['index', 'form', 'laydate', 'element', 'upload'], function () {
	var $ = layui.$,
	setter = layui.setter,
	laydate = layui.laydate,
	form = layui.form;
	upload = layui.upload;

	var url = setter.baseUrl;
	// var url = "http://127.0.0.1:8083"
	var uploadfile = null;
	function getUrlParam(name) {
		var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
		var r = window.location.search.substr(1).match(reg);//匹配目标参数
		if (r != null) return decodeURI(r[2]); return null; //返回参数值
	}
	var urlParam = getUrlParam("notice");
	form.on('submit(addsms)', function (data) {
		$.ajax({
			url: url + "/noticePerson/save",
			type: "post",
			dataType: "json",
			data: {
				name: data.field.name,
				dept: data.field.dept,
				duties: data.field.duties,
				phone: data.field.phone,
				meetingNoticeId: urlParam,
				numberPlate: data.field.numberPlate
			},
			async: false,
			xhrFields: {
				withCredentials: true
			},
			success: function (data) {
				if (data.code == 0) {
					parent.layer.msg("添加成功")
					var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
					parent.layer.close(index);
					parent.reloads();
				}else{
					parent.layer.msg(data.msg)
				}
			},
			error: function (error) {
				console.log(error)
			}

		})
		return false;
	})
});
</script>
</body>
</html>
