<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>详细信息</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <style>
        .detailedinfo{
            font-size: 14px;
        }
        .detailedinfo p{
            line-height: 30px;
        }
        .detailedinfo p.a{
            color:#008908
        }
        .detailedinfo p.b{
            color:#4600ff
        }
        .detailedinfo p.c{
            color:#ff0000
        }


    </style>
</head>
<body>
<div style="padding:10px 20px">
    <div class="detailedinfo">
        <p>共<span  id="total"></span>条记录</p>
        <p>委员总数：<span id="totals"></span></p>
        <p>已报到：<span id="report"></span></p>
        <p class="a" >本人：<span id="ben"></span></p>
        <p class="b" >代理：<span id="dai"></span></p>
        <p class="c" >未报到：<span id="wei"></span></p>
        <p>报到率：<span id="rate"></span></p>
    </div>
</div>
</body>
</html>