<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>手动提交</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<style type="text/css">
		.layui-form-label {
			width: 90px;
		}

		.layui-input-block {
			margin-left: 120px;
		}

		.layui-form-item {
			margin-bottom: 0;
		}

		.headimg {
			float: left;
			border: 1px solid #d4d4d4;
			margin: 10px 10px 0 20px;
		}

		.headimg div {
			vertical-align: middle;
			display: table-cell;
			width: 140px;
			height: 200px;
			text-align: center;
		}

		.layui-form-label span {
			color: #f00;
			font-size: 14px;
			margin-right: 5px;
		}

		.layui-input-block .layui-form-radio {
			margin: 0 10px 0 0;
		}
	</style>
</head>

<body>
	<!-- 新增弹框-->
	<div class="layui-form" action="" lay-filter="component-form-group" style="padding: 20px 0 0 0;">
		<div class="headimg" style="float:left;">
			<div><img width="100" src="../../../images/headimg.png" id="img"></div>
		</div>
		<div style="float:left;">
			<div class="layui-form-item">
				<label class="layui-form-label">姓名</label>
				<div class="layui-input-block" style="line-height: 38px;" id="names"></div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">编号</label>
				<div class="layui-input-block" style="line-height: 38px;" id="id">001</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">性别</label>
				<div class="layui-input-block" style="line-height: 38px;" id="sex">男</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">参会状态</label>
				<div class="layui-input-block" style="line-height: 38px;" id="state"></div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">驻地</label>
				<div class="layui-input-block" style="line-height: 38px;" id="address">男</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">房间</label>
				<div class="layui-input-block" style="line-height: 38px;" id="roomid">山东大厦2223</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">组别</label>
				<div class="layui-input-block" style="line-height: 38px;" id="groups"></div>
			</div>
			<label class="layui-form-label">召集人</label>
			<div class="layui-input-block" style="line-height: 38px;" id="isconvenor"></div>
		</div>
			<div class="layui-form-item">
				<label class="layui-form-label">单位</label>
				<div class="layui-input-block" style="line-height: 38px;" id="company"></div>
			</div>
			<div class="layui-form-item">

			<div class="layui-form-item">
				<label class="layui-form-label">职务</label>
				<div class="layui-input-block" style="line-height: 38px;" id="duties">
				</div>
				<div class="layui-form-item">
					<label class="layui-form-label"><span>*</span>报到状态</label>
					<div class="layui-input-block" style="line-height: 38px;">
						<input type="radio" name="sex" id="wei" value="1" title="未到未报到" lay-filter="jiedian">
						<input type="radio" name="sex" id="ben" value="2" title="本人报到" lay-filter="jiedian">
						<input type="radio" name="sex" id="dai" value="3" title="代理报到" lay-filter="jiedian">
					</div>
				</div>
				<div class="layui-form-item" id="dailiren" style="display: none;">
					<label class="layui-form-label">代理人</label>
					<!-- <div class="layui-input-block" style="line-height: 38px;">12000022000</div> -->
					<div class="layui-input-inline">
						<input type="text" name="aname" id="aname" placeholder="请输入代理人姓名" autocomplete="off" id="aname"
							class="layui-input">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="aphone" id="aphone" placeholder="请输入代理人手机" autocomplete="off"
							id="aphone" class="layui-input">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="asfz" id="asfz" placeholder="请输入代理人身份证" autocomplete="off" id="asfz"
							class="layui-input">
					</div>
				</div>
				<div class="layui-inline" style="margin-top:10px">
					<label class="layui-form-label">选择会议时间</label>
					<div class="layui-input-block" style="line-height: 38px;" id="datetime"></div>

				</div>
				<div class="layui-form-item" style="margin-top:10px">
					<label class="layui-form-label"><span>*</span>常用手机</label>
					<!-- <div class="layui-input-block" style="line-height: 38px;">12000022000</div> -->
					<div class="layui-input-block">
						<input type="text" name="phone1" lay-verify="required" placeholder="模版名称" autocomplete="off"
							id="phone1" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item" style="margin-top:10px">
					<label class="layui-form-label">备用手机</label>
					<!-- <div class="layui-input-block" style="line-height: 38px;">12000022000</div> -->
					<div class="layui-input-block">
						<input type="text" name="phone2" placeholder="模版名称" autocomplete="off"
							id="phone2" class="layui-input">
					</div>
				</div>
				<div class="layui-form-item layui-layout-admin "style="display:none;>
					<div class="layui-input-block">
						<div style="position: absolute;right: 0px;bottom: 0px;">
							<button class="layui-btn" lay-submit="" lay-filter="addsms" id="click">增加</button>
							<button type="reset" class="layui-btn layui-btn-primary">重置</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script type="text/javascript">
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'user', 'table', 'tree', 'util', 'laydate'], function () {
				var $ = layui.$,
					form = layui.form,
						setter = layui.setter;

				// var url = "http://127.0.0.1:8083"
				var url = setter.baseUrl;
				var uri = window.location.search;
				var str = uri.substr(4);
				var personid = str.substring(0, str.indexOf("&"));
				var meetingid = str.substring(str.lastIndexOf("=") + 1)
				console.log(meetingid);
				$("#phone1").focus();

				$(document).keyup(function (event) {
				if (event.keyCode == 13) {
					$('#click').click();

				}
			})
			form.on('submit(addsms)', function (data) {
				var data = data.field;
				var signinstate = undefined;
				var report_state = undefined;
				var dainame = undefined;
				var daiphone = undefined;
				var daisfz = undefined;
				// console.log(datatime)
				if (data.sex == '1') {
					signinstate = 0;
					report_state = 0;
				}
				if (data.sex == '2') {
					signinstate = 1;
					report_state = 1;
				}
				if (data.sex == '3') {
					signinstate = 1;
					report_state = 2;
					dainame = data.aname
					daiphone = data.aphone
					daisfz = data.asfz
				}

				$.ajax({
					async: false,
					type: "post",
					url: url + "/meetingcanhui/updateMeetingCanHui",
					dataType: "json",
					xhrFields: {
						withCredentials: true
					},
					data: {
						id: personid,
						signInState: signinstate,
						reportState: report_state,
						phone1: data.phone1,
						phone2: data.phone2,
						agencyName: dainame,
						agencyPhone: daiphone,
						agencySfz: daisfz,
						reportTime: $('#datetime').text()

					},
					//成功的回调函数
					success: function (msg) {
						if (msg.code == 0) {
							parent.layer.msg("修改成功");
							var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
							parent.layer.closeAll();;
							parent.ajaxs(meetingid);
						}
					},
					//失败的回调函数
					error: function () {
						console.log("error")
					}
				})

			})

			form.on('radio(jiedian)', function (data) {
				if (data.value === '3') {
					$("#dailiren").show();


				} else {
					$("#dailiren").hide();

				}


			})

		})
		</script>
</body>

</html>
