<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>龙居里® Meeting++</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">

    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../css/scosun.css" />

    <link rel="stylesheet" href="../layuiadmin/font/iconfont.css"><!-- 2020.3.31 添加新字体 -->

    <script src="../js/scosun.js" type="text/javascript" charset="utf-8"></script>
    <script src="../js/jquery-3.1.1.min.js"></script>
</head>

<body class="layui-layout-body">

<div id="LAY_app">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <!-- 头部区域 -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item layadmin-flexible" lay-unselect>
                    <a href="javascript:;" layadmin-event="flexible" title="侧边伸缩">
                        <i class="layui-icon layui-icon-shrink-right" id="LAY_app_flexible"></i>
                    </a>
                </li>

                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" layadmin-event="refresh" title="刷新">
                        <i class="layui-icon layui-icon-refresh-3"></i>
                    </a>
                </li>

            </ul>
            <ul class="layui-nav layui-layout-right" lay-filter="layadmin-layout-right">
                <!--
                2020.3.31 去掉
                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="theme">
                        <i class="layui-icon layui-icon-theme"></i>
                    </a>
                </li>-->

                <li class="layui-nav-item layui-hide-xs" lay-unselect>
                    <a href="javascript:;" layadmin-event="fullscreen">
                        <i class="layui-icon layui-icon-screen-full"></i>
                    </a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;">
                        <cite id="username"></cite>
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a lay-href="set/user/info.html">基本资料</a></dd>
                        <dd><a lay-href="set/user/password.html">修改密码</a></dd>
                        <dd><a lay-href="set/user/phone.html">换绑手机</a></dd>
                        <hr>
                        <dd layadmin-event="1" id="logout"><a>退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>

        <!-- 侧边菜单 -->
        <div class="layui-side layui-side-menu">
            <div class="">
                <div class="layui-logo layui-icon" lay-href="systemindex/systemindex.html ">
                    <span><img src="../layuiadmin/style/res/logo.svg" /></span>
                </div>
                <ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu"
                    lay-filter="layadmin-system-side-menu">
                    <!-- 控制台 // 20.04.06 dh 新加 -->
                    <li data-name="component" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="我的会议" lay-direction="2">
                            <i class="layui-icon iconfont icon-kongzhitai"></i>
                            <cite>控制台</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="systemindex/systemindex.html">首页</a></dd>
                        </dl>
                    </li>
                    <li data-name="component" class="layui-nav-item ">
                        <a href="javascript:;" lay-tips="我的会场" lay-direction="2">
                            <i class="layui-icon iconfont icon-wodehuichang"></i>
                            <cite>我的会场</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd id="meeting"><a lay-href="arrange/meeting/meeting_room.html">会场列表</a></dd>
                            <dd data-name="metingman"><a
                                    lay-href="arrange/rulezone/rulezone.html">会场片区设定</a></dd>
                            <dd id="lounge"><a lay-href="arrange/lounge/lounge.html">休息室</a></dd>
<!--                            <dd><a lay-filter="seatmap" lay-href="arrange/meeting/seatmapseditor.html">会场编辑器</a></dd>-->
                            <!-- // 20.04.06 dh 去掉
                                <dd><a lay-filter="specialseatmap" lay-href="arrange/meeting/specialeditor.html">异形会场编辑器</a></dd> -->
                        </dl>
                        </dl>
                    </li>
                    <li data-name="component" class="layui-nav-item ">
                        <a href="javascript:;" lay-tips="编排规则" lay-direction="2">
                            <i class="layui-icon iconfont icon-bianpaiguize"></i>
                            <cite>编排规则</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd id="rules"><a lay-href="arrange/arrangeman/arrangeman.html">规则列表</a></dd>
                        </dl>
                    </li>
                    <li data-name="home" class="layui-nav-item ">
                        <a href="javascript:;" lay-tips="我的会议" lay-direction="2">
                            <i class="layui-icon iconfont icon-wodehuiyi"></i>
                            <cite>我的会议</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd id="meet"><a lay-href="arrange/meet/meet.html">会议列表</a></dd>
<!--                            <dd><a lay-href="arrange/attender2rule/attender2rule.html">对应关系列表</a></dd>-->
                        </dl>
                    </li>

                    <li data-name="component" class="layui-nav-item ">
                        <a href="javascript:;" lay-tips="参会人员" lay-direction="2">
                            <i class="layui-icon iconfont icon-canhuirenyuan"></i>
                            <cite>参会人员</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd id="person"><a lay-href="arrange/attender/attender_list.html">人员列表</a>
                            </dd>

                            <dd data-name="property" id="type"><a
                                    lay-href="arrange/typelist/typelist.html">属性列表</a></dd>
<!--                            <dd><a lay-href="arrange/attendersort/sortattendee.html">智能排序</a></dd>-->
                        </dl>
                        </dl>
                    </li>
                    <li data-name="component" class="layui-nav-item ">
                        <a href="javascript:;" lay-tips="智能排序" lay-direction="2">
                            <i class="layui-icon iconfont icon-zhinengpaixu"></i>
                            <cite>智能排序</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd><a lay-href="arrange/attendersort/sortattendee.html">排序列表</a></dd>
                            <dd><a lay-href="arrange/dictionary/dictionarylist.html">用户字典</a></dd>
                        </dl>
                        </dl>
                    </li>

                    <li data-name="component" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="电子桌牌" lay-direction="2">
                            <i class="layui-icon iconfont icon-dianzizhuopai"></i>
                            <cite>电子桌牌</cite>
                        </a>
                        <dl class="layui-nav-child">

                            <dd data-name="grid"><a lay-href="arrange/seatproduct/seatproductlists.html">产品列表</a></dd>
                            <dd data-name="seatdevicelist"><a lay-href="arrange/seatproduct/seatdevicelist.html">设备列表</a></dd>
                            <dd data-name="roomseatlist"><a lay-href="arrange/roomseat/roomseatlist.html">设备绑定</a></dd>
                            <dd data-name="controlseatlist"><a lay-href="arrange/controlseat/controlseatlist.html">群控管理</a></dd>

                            <!--                                <dd data-name="grid"><a lay-href="arrange/meetings/meetings_list.html">列表</a></dd>-->
                            <!--                                <dd data-name="grid"><a lay-href="arrange/meetings/meetings_list.html">会场绑定</a></dd>-->
                        </dl>
                    </li>
                    <li data-name="component" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="批量打席签" lay-direction="2">
                            <i class="layui-icon iconfont icon-sign"></i>
                            <cite>批量打席签</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="controlseatlist"><a lay-href="arrange/printtablecards/printtablecardslist.html">打印管理</a></dd>
                            <dd data-name="controlseatlist"><a lay-href="arrange/printtablecards/printseatsgintemplatelist.html">桌牌模版</a></dd>
                            <dd data-name="controlseatlist"><a lay-href="arrange/printtablecards/signprint.html">手动打印</a></dd>


                            <!--                                <dd data-name="grid"><a lay-href="arrange/meetings/meetings_list.html">列表</a></dd>-->
                            <!--                                <dd data-name="grid"><a lay-href="arrange/meetings/meetings_list.html">会场绑定</a></dd>-->
                        </dl>
                    </li>


                    <!--                    <li data-name="component" class="layui-nav-item">-->
                    <!--                        <a href="javascript:;" lay-tips="组件" lay-direction="2">-->
                    <!--                            <i class="layui-icon iconfont icon-renlianshibie"></i>-->
                    <!--                            <cite>人像识别</cite>-->
                    <!--                        </a>-->
                    <!--                        <dl class="layui-nav-child">-->
                    <!--                            <dd data-name="grid">-->
                    <!--                                <a lay-href="">入场签到</a>-->
                    <!--                            </dd>-->
                    <!--                        </dl>-->
                    <!--                    </li>-->
                    <li data-name="component" class="layui-nav-item"  >
                        <a  href="javascript:;" lay-tips="参会报到" lay-direction="2">
                            <i class="layui-icon iconfont icon-canhuibaodao"></i>
                            <cite>参会报到</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="grid">
                                <a lay-href="arrange/facerecognition/facerecognitionlist.html">人像识别</a>
                            </dd>
                            <dd data-name="grid">
                                <a lay-href="arrange/signin/signinlist.html">报到列表</a>
                            </dd>
                        </dl>
                    </li>
                    <li data-name="component" class="layui-nav-item">
                        <a href="javascript:;" lay-tips="短信通知" lay-direction="2">
                            <i class="layui-icon iconfont icon-duanxintongzhi"></i>
                            <cite>短信通知</cite>
                        </a>
                        <dl class="layui-nav-child">
                            <dd data-name="grid">
                                <a lay-href="arrange/smsnotice/smsnoticelist.html">会议通知</a>
                            </dd>
                            <dd data-name="grid">
                                <a lay-href="arrange/flocknotice/flocknoticelist.html">短信群发</a>
                            </dd>
                            <dd data-name="grid">
                                <a lay-href="arrange/smsnotice/smstemplatelist.html">短信模板</a>
                            </dd>
                            <dd data-name="grid">
                                <a lay-href="arrange/smsnotice/smstemplateparameter.html">标签参数</a>
                            </dd>
                        </dl>
                    </li>
<!--                    <li data-name="component" class="layui-nav-item" id="avirGroup">-->
<!--                        <a href="javascript:;" lay-tips="系统管理" lay-direction="2">-->
<!--                            <i class="layui-icon iconfont icon-xitongguanli"></i>-->
<!--                            <cite>系统管理</cite>-->
<!--                        </a>-->
<!--                        <dl class="layui-nav-child">-->
<!--                            <dd data-name="grid" id="user">-->
<!--                                <a lay-href="arrange/user/user.html">用户管理</a>-->
<!--                            </dd>-->
<!--                            <dd data-name="button" id="role">-->
<!--                                <a lay-href="arrange/role/role.html">权限组管理</a>-->
<!--                            </dd>-->
<!--                        </dl>-->
<!--                    </li>-->

                    <!-- <li data-name="component" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="组件" lay-direction="2">
                                <i class="layui-icon layui-icon-form"></i>
                                <cite>发通知</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="grid">
                                    <a href="javascript:;">通知列表</a>
                                </dd>
                                <dd data-name="button">
                                    <a lay-href="#">短信模板</a>
                                </dd>
                                <dd data-name="form">
                                    <a href="javascript:;">通讯录</a>
                                </dd>
                            </dl>
                        </li>

                        <li data-name="component" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="组件" lay-direction="2">
                                <i class="layui-icon layui-icon-read"></i>
                                <cite>APP</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="grid">
                                    <a href="javascript:;">座次查询菜单</a>
                                </dd>
                                <dd data-name="button">
                                    <a lay-href="#">RFID标签绑定</a>
                                </dd>
                            </dl>
                        </li>

                        <li data-name="component" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="组件" lay-direction="2">
                                <i class="layui-icon layui-icon-user"></i>
                                <cite>人脸识别</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="grid">
                                    <a lay-href="">人脸识别</a>
                                </dd>
                            </dl>
                        </li>



                        <li data-name="component" class="layui-nav-item">
                            <a href="javascript:;" lay-tips="组件" lay-direction="2">
                                <i class="layui-icon layui-icon-user"></i>
                                <cite>关于我们</cite>
                            </a>
                            <dl class="layui-nav-child">
                                <dd data-name="grid">
                                    <a lay-href="https://www.meetingjiajia.com/index.html#x">咪叮加加官网</a>
                                </dd>
                            </dl>
                        </li> -->
                </ul>
            </div>
        </div>

        <!-- 页面标签 -->
        <!-- 20203.31 去掉-->
        <div class="layadmin-pagetabs" id="LAY_app_tabs" style="display:none">
            <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
            <div class="layui-icon layadmin-tabs-control layui-icon-down">
                <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
                    <li class="layui-nav-item" lay-unselect>
                        <a href="javascript:;"></a>
                        <dl class="layui-nav-child layui-anim-fadein">
                            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
                            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
                            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
                <ul class="layui-tab-title" id="LAY_app_tabsheader">
                    <li lay-id="systemindex/systemindex.html" lay-attr="systemindex/systemindex.html" class="layui-this"><i
                            class="layui-icon layui-icon-home"></i></li>
                </ul>
            </div>
        </div>


        <!-- 主体内容 -->
        <div class="layui-body" id="LAY_app_body">
            <div class="layadmin-tabsbody-item layui-show">
                <iframe src="systemindex/systemindex.html" frameborder="0" class="layadmin-iframe"></iframe>
            </div>
        </div>

        <!-- 辅助元素，一般用于移动设备下遮罩 -->
        <div class="layadmin-body-shade" layadmin-event="shade"></div>
    </div>
</div>

<script src="../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use('index', function () {
        var $ = layui.$,
      setter =layui.setter;
        window.element = layui.element;
        var url = setter.baseUrl;
        console.log(url)
        $.ajax({
            async: false,
            type: "get",
            url: url + "/permission/getpremission",
            datatype: 'json',
            xhrFields: {
                withCredentials: true
            },

            //成功的回调函数
            success: function (msg) {
                var data = msg.data;
                if (msg.code != 0) {
                    // location.href = "user/login.html"
                    console.log(msg.code);
                }
                if (isEmptyObject(data) != 0) {

                    if ($.inArray("user", data) == -1) {
                        $('#user').addClass('layui-hide');
                    }
                    if ($.inArray("role", data) == -1) {
                        $('#role').addClass('layui-hide');
                    }
                    if ($.inArray("meet", data) == -1) {
                        $('#meet').addClass('layui-hide');
                    }
                    if ($.inArray("meeting", data) == -1) {
                        $('#meeting').addClass('layui-hide');
                    }
                    if ($.inArray("person", data) == -1) {
                        $('#person').addClass('layui-hide');
                    }
                    if ($.inArray("type", data) == -1) {
                        $('#type').addClass('layui-hide');
                    }
                    if ($.inArray("rule", data) == -1) {
                        $('#rule').addClass('layui-hide');
                    }
                    if ($.inArray("user", data) == -1 && $.inArray("role", data) == -1) {
                        $('#avirGroup').addClass('layui-hide');
                    }


                } else {
                    console.log("2")
                    $('#user').addClass('layui-hide');
                    $('#role').addClass('layui-hide');
                    $('#avirGroup').addClass('layui-hide');
                }
            },
            error: function (error) {
                console.log(error)
            },
        })


        function isEmptyObject(obj) {

            var jlength = 0;
            for (var key in obj) {
                if (key != "null") {
                    jlength++;
                }
            };
            return jlength
        };
        $.ajax({
            async: false,
            type: "get",
            url: url + "/user/getuser",
            datatype: 'json',

            xhrFields: {
                withCredentials: true
            },
            //成功的回调函数
            success: function (msg) {
                if (msg.code == 0) {
                    $('#username').text(msg.data.anotherName)
                }
                if (msg.code == 20090) {
                    layer.msg(msg.msg, {
                        offset: "15px",
                        icon: 2,
                        time: 1000
                    }, function () {
                        parent.location.href = "user/login.html"
                    })
                }
                if (msg.code == 300) {
                    layer.msg(msg.msg, {
                        offset: "15px",
                        icon: 2,
                        time: 1000
                    }, function () {
                        parent.location.href = "user/login.html"
                    })
                }

            },
            error: function (error) {
                console.log(error)
            },
        })
        $("#logout").click(function () {
            $.ajax({
                async: false,
                type: "get",
                url: url + "/quit",
                datatype: 'json',
                xhrFields: {
                    withCredentials: true
                },
                //成功的回调函数
                success: function (msg) {
                    location.href = "user/login.html"
                },
                error: function (error) {
                    console.log(error)
                },
            })
        })
    })
  
</script>
</body>

</html>