<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>会议室</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/login.css" media="all">
		<style type="text/css">
			.layui-btn {background-color: #666;}
			.layui-btn-danger {background-color: #FF5722;}
			.layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #666;}
		</style>
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-col-md12">
				<div class="layui-row grid-demo grid-demo-bg1">
					<div class="layui-col-md12">

					</div>
					<div class="layui-col-md12">
						<div class="layui-card">
							<div class="layui-card">
								<div class="layui-card-header">多会场管理</div>
								<div class="layui-card-body">
									<div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;">
										<button class="layui-btn layui-ds" data-type="add">增加</button>

										<button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
										<button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
										<button class="layui-btn" data-type="isAll">验证是否全选</button>

									</div>
									<div>
										<table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
									</div>
									<script type="text/html" id="table-zone-list">
										<a class=" layui-icon " lay-event="zonelist" id="zonelist" style="font-size: 1.5625rem;">&#xe62d;</a>
									</script>
									<script type="text/html" id="table-content-list">
										<a class="layui-btn layui-btn-xs layui-dd" lay-event="edit" data-type="edit" id="edit">编辑</a>
										<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-type="delete">删除</a>
									</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script type="text/javascript">
			var tablezonetable;
			layui.config({
					base: '../../../layuiadmin/' //静态资源所在路径
				}).extend({
					index: 'lib/index' //主入口模块
				}).use(['index', 'user', 'table'], function() {
						var $ = layui.$,
						setter = layui.setter,
						admin = layui.admin,
						form = layui.form,
						element = layui.element,
						table = layui.table,
						layer = layui.layer,
						datas = null,
						router = layui.router();
					
					$.ajax({
						url: "https://www.longjuli.com/ajax",
						type: "POST",
						data: {
							"a": "s1",
							"t": "roomlist"
						},
						async: false,
						success: function(data) {
							console.log(data.data)

														table.render({
															elem: '#test-table-operate',
															data: data.data,
															height: 515,
															page: true,
															skin: 'line',
															page: true //开启分页
																,
															limits: [5, 10, 15] //显示
																,
															limit: 10 //每页默认显示的数量
																,
															cols: [
																[{
																		type: 'checkbox',
																		fixed: 'left'
																	},
																	{
																		field: 'roomid',
																		width: '7%',
																		title: '会议室ID',
																		sort: true
																	}, {
																		field: 'roomname',
																		width: '18%',
																		title: '会议室名称',
																		align: "center"
																	}, {
																		field: 'templatefilename',
																		width: '12%',
																		title: '模板名称',
																		sort: true
																	}, {
																		field: 'seatrule',
																		width: '12%',
																		title: '编排规则'
																	}, {
																		width: '12%',
																		align: 'center',
																		title: '座区图',
																		toolbar: '#table-zone-list'
																	}, {
																		field: 'experience',
																		width: '25%',
																		title: '更新时间',
																		align: "center",
																		sort: true
																	}, {
																		width: '11.3%',
																		align: 'center',
																		title: '操作',
																		toolbar: '#table-content-list'
																	}
							
																]
															]
														})

						},
						error: function(error) {

							console.log(error)
						}

					})

				})
				</script>
				</body>
				 </html >
