<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <title>忘记密码 - 咪叮加加</title> -->
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
        <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
        <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../../css/scosun1.css" />
        <script src="../../js/scosun1.js" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
            <div class="layadmin-user-login-main">
                <div class="layadmin-user-login-box layadmin-user-login-header">
                    <h2><img src="../../layuiadmin/style/res/logo.svg" style="width:80px"></h2>
                </div>
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-cellphone" for="LAY-user-login-cellphone"></label>
                        <input type="text" name="cellphone" id="LAY-user-login-cellphone" lay-verify="phone"
                            placeholder="手机" class="layui-input">
                    </div>

                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                        <input type="password" name="password" lay-verify="pass" lay-verType="tips" autocomplete="off"
                            id="LAY_password" placeholder="新密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-row">
                            <div class="layui-col-xs7">
                                <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                                <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                                    placeholder="验证码" class="layui-input">
                            </div>
                            <div class="layui-col-xs5">
                                <div style="margin-left: 10px;">
                                    <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid" id="LAY-user-getsmscode">获取验证码</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">忘记密码</button>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script src="../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'user'], function() {
            var $ = layui.$,
                setter = layui.setter,
                admin = layui.admin,
                form = layui.form,
                router = layui.router();

            form.render();

            //找回密码下一步
            var url = "https://f.longjuli.com"

            //重置密码
            form.on('submit(LAY-user-reg-submit)', function(obj) {
                var field = obj.field;
                $.ajax({
                    async: true,
                    type: "post",
                    url: url + "/forget",
                    dataType: "json",
                    data: {
                        "phone": obj.field.cellphone,
                        "newpassword": obj.field.password,
                        "vocode": obj.field.vercode,
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    beforeSend: function(XMLHTTPRequest) {
                        loading = layer.load(0, {
                            shade: false,
                            time: 2 * 1000
                        });
                    },
                    success: function(msg) {
                        if (msg.code == 0) {
                            layer.msg("密码已重置,请重新登录", {
                                offset: "15px",
                                icon: 1,
                                time: 1000
                            }, function() {
                                location.href = "login.html"
                            })
                        } else {
                            layer.msg(msg.msg, {
                                offset: "15px",
                                icon: 2,
                                time: 1000
                            })

                        }
                    },
                    error: function(msg) {
                        console.log(msg.responseJSON.msg);
                        layer.msg(msg.responseJSON.msg, {
                            offset: "15px",
                            icon: 2
                        });

                    }

                })

            });

        });
    </script>
    </body>
</html>
