<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <title>登入 - 咪叮加加</title> -->
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
        <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
        <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="../../css/scosun1.css" />
        <script src="../../js/scosun1.js" type="text/javascript" charset="utf-8"></script>
        <style type="text/css">
            /* .layui-btn-primary {
                border: 1px solid #ffce00;
            }
            .layui-btn-primary:hover {
                border-color: #ffce00;
                color: #fff;
            } */
            .layui-btn-primary {
                border: 1px solid #ffce00;
                color: #000!important;
            }
            .layui-btn-primary:hover {
                border-color: #ffce00;
                color: #fff;
            }
            .layui-btn:hover {
                opacity: .8;
                filter: alpha(opacity=80);
                color: #000;
            }
        </style>
    </head>
    <body>

        <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

            <div class="layadmin-user-login-main">
                <div class="layadmin-user-login-box layadmin-user-login-header">
                    <h2><img src="../../layuiadmin/style/res/logo.svg" style="width:80px"></h2>
                    <!-- <p>咪叮加加 电子桌牌系统</p> -->
                </div>
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                        <input type="text" name="username" id="LAY-user-login-username" lay-verify="required"
                            placeholder="用户名" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                        <input type="password" name="password" id="LAY-user-login-password" lay-verify="required"
                            placeholder="密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-row">
                            <div class="layui-col-xs9">
                                <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                                <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required"
                                    placeholder="图形验证码" class="layui-input">
                            </div>
                            <div class="layui-col-xs3" style=" width: 80px; height: 40px;margin-top: 2px;">
                                <div style="margin-left: 10px;">
                                    <img src="" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item" style="margin-bottom: 20px;">
                        <input type="checkbox" name="remember" lay-skin="primary" title="记住密码">
                        <a href="forget.html" class="layadmin-user-jump-change layadmin-link" style="margin-top: 7px;">忘记密码？</a>
                    </div>
                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-login-submit" id="login">登 录</button>
                    </div>
                    <div class="layui-trans layui-form-item layadmin-user-login-other">
                        <a href="login.html" class=" layadmin-link">验证码登录</a>
                        <a href="reg.html" class="layadmin-user-jump-change layadmin-link">注册帐号</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="../../layuiadmin/layui/layui.js"></script>
        <script src="https://pv.sohu.com/cityjson?ie=utf-8"></script>
        <script>
            layui.config({
                base: '../../layuiadmin/', //静态资源所在路径
            }).extend({
                index: 'lib/index', //主入口模块
            }).use(['index', 'user','setter'], function() {
                var $ = layui.$,
                    setter = layui.setter,
                    admin = layui.admin,
                    form = layui.form,
                    router =
                    layui.router(),
                    search = router.search;
                var url = setter.baseUrl;
                var imageid  = undefined;
                form.render();
                $.ajax({
                    async: true,
                    type: "get",
                    url: url + "/islogin",
                    dataType: "json",

                    xhrFields: {
                        withCredentials: true
                    },

                    success: function(msg) {
                        if (msg.code == 0) {
                            location.href = "../index.html"

                        }
                    },
                    error: function(msg) {


                    }

                })
                $.ajax({
                    async: true,
                    type: "get",
                    url: url + "/code/codeimg",
                    dataType: "json",
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function(msg) {
                        var data = msg.data;
                        imageid = data.imgcode;
                        $("#LAY-user-get-vercode").attr("src", data.image)
                    },
                    error: function() {
                        console.log("error")
                    }
                })
                $("#LAY-user-get-vercode").click(function() {
                    $.ajax({
                        async: true,
                        type: "get",
                        url: url+"/code/codeimg",
                        dataType: "json",
                        xhrFields: {
                            withCredentials: true
                        },
                        success: function(msg) {
                            var data = msg.data;
                            imageid = data.imgcode;
                            $("#LAY-user-get-vercode").attr("src", data.image)

                        },
                        error: function() {
                            console.log("error")
                        }
                    })
                });
                window.onkeyup = function(ev) {
                    var key = ev.keyCode || ev.which;
                    if (key == 13) { //按下Escape
                        $('#login').click()
                    }
                }
                //提交
                form.on('submit(LAY-user-login-submit)', function(obj) {
                    var flag;
                    if (obj.field.remember == undefined) {
                        flag = false;
                    } else {
                        flag = true;
                    }


                    // 请求登入接口
                    $.ajax({
                        async: true,
                        type: "post",
                        url: url + "/login",
                        dataType: "json",
                        data: {
                            "username": obj.field.username,
                            "password": obj.field.password,
                            "vcode": obj.field.vercode,
                            "remember": flag,
                            "cid":imageid,
                            "ip":returnCitySN["cip"]
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        crossDomain: true,
                        beforeSend: function(XMLHTTPRequest) {
                            loading = layer.load(0, {
                                shade: false,
                                time: 2 * 1000
                            });
                        },
                        success: function(msg) {
                            console.log(msg);
                            if (msg.code == 0) {
                                var storage=window.localStorage;
                                console.log(msg.id)
                                storage.setItem("id",msg.id);
                                layer.msg("登入成功", {
                                    offset: "15px",
                                    icon: 1,
                                    time: 1000
                                }, function() {
                                    location.href = "../index.html"
                                })
                            } else {
                                layer.msg(msg.msg, {
                                    offset: "15px",
                                    icon: 2,
                                    time: 1000
                                })

                            }
                        },
                        error: function(msg) {
                            console.log(msg.responseJSON.msg);
                            layer.msg(msg.responseJSON.msg, {
                                offset: "15px",
                                icon: 2
                            });

                        }

                    })

                });
            });
        </script>
    </body>
</html>
