<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>泉政钉·智慧会务</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<script type="text/javascript" src="js/pmsp.js"></script>
<link href="css/base.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #4e4e4e;">
<div class="contText">
    <h3>泉政钉·智慧会务</h3>
    <img src="images/pimg.png" alt="">
    <p><span>请通过电脑客户端打开使用</span></p>
    <p>点击客户端左侧菜单【工作】图标<br />在【OA工作台】中【协同效率】栏目<br />点击【会务】图标进入应用</p>
</div>
</body>
</html>
