<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>会议室</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/login.css" media="all">
		<link rel="stylesheet" type="text/css" href="../../../css/scosun.css"/>
		<script src="../../../js/scosun.js"></script>
        <script src="../../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<style type="text/css">
			.btnsearch {
				background: #666 url(../../../images/btnsearch.png) no-repeat center center;
				background-size: 1.2rem 1.2rem;
				text-indent: -9999px;
			}
		</style>
	</head>
	<body>
		<div class="layui-fluid" style="padding:3px 0">
			<div class="layui-col-md12">
				<div class="layui-row grid-demo grid-demo-bg1">
					<div class="layui-col-md12">
						<div class="layui-card">
								<div class="layui-card-body">
                                    <div>
                                        <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;" id="group">
                                        </div>
                                        <!-- 右侧筛选条件 -->
                                        <div class="test-table-reload-btn" style="float:right;margin-bottom: 10px;">
                                            <div class="layui-inline">
                                                <input class="layui-input" name="id" placeholder="关键字模糊搜索" id="demoReload"
                                                    autocomplete="off">
                                            </div>
                                            <button class="layui-btn layui-ds btnsearch" data-type="search" id="search" >搜索</button>
                                        </div>
                                        <!-- 右侧筛选条件 end-->
                                    </div>
									
									<div>
										<table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
									</div>
									<script type="text/html" id="table-zone-list">
										<a class=" layui-icon " lay-event="zonelist" id="zonelist" style="font-size:1.4rem">&#xe62d;</a>
									</script>
									<script type="text/html" id="table-content-list">
										
               							
                                        {{#  if($.inArray("uproom", a) != -1){ }}
                                      <a class="layui-btn layui-btn-xs layui-dd" lay-event="edit" data-type="edit" id="edit">编辑</a>
                                         		{{#  } }}
                                         {{#  if($.inArray("delroom", a) != -1){ }}
                                         		<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-type="delete">删除</a>
                                         				{{#  } }}
                                        								  
            						</script>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script src="../../../layuiadmin/layui/arrange/meeting/meetingroom.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
