<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>
<div class="layui-form" action="" lay-filter="component-form-group" style="padding: 20px 30px 0 0;">
	<div class="layui-form-item">
		<label class="layui-form-label">行数</label>
		<div class="layui-input-block">
			<input id="rownum" type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input hyname">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">列数</label>
		<div class="layui-input-block">
			<input id="colnum" type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input hyname">
		</div>
	</div>
</div>
<!-- <script src="../../../layuiadmin/layui/layui.js"></script> -->
<!-- <script src="../../../layuiadmin/layui/arrange/meet/meetcreatfrom.js"></script> -->
</body>
</html>
