<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../../web.contextmenu/web.contextmenu.css" media="all">
	<link rel="stylesheet" href="../../../css/seat.css" media="all">
	<link rel="stylesheet" href="JSRuler/ruler.css" />
	<script src="../../../web.contextmenu/web.contextmenu.js" ></script>
	<script src="jquery-1.7.1.js"></script>
	<!-- <script src="../../../js/jquery-3.1.1.min.js"></script> -->
	<style type="text/css">
		header {
			box-shadow: 0px 0px 5px gray;
			height: 3.5rem;
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			z-index: 9999;
			background-color: white;
		}
		body {
			background-color: #f1f1f1;
		}
		/*右侧菜单*/
		.layui-right-nav{
			position: absolute;
			right:10px;
			top:0;
			height: 3.5rem;
			line-height: 3.5rem;
			background-color: #fff;
		}
		.layui-right-nav i{
			display: block;
			height: 20px;
			width: 20px;
			float: left;
			margin-top:18px;
			padding-left:10px;
			padding-right:5px;
		}
		.layui-right-nav i img{
			width: 100%;
			display: block;
			margin-right: 10px;
		}
		.layui-nav .layui-nav-item a {
			color: #999;
		}
		.layui-nav { padding: 0;}
		.layui-nav .layui-nav-item {
			line-height: 3.5rem;
		}

		.layui-bg-cyan {
		background-color: #fff!important;
		}
		.layui-nav .layui-nav-item a img{
			width: 20px;
			height: 20px;
			margin-right: 5px;
		}
		.layui-nav .layui-nav-item a:hover, .layui-nav .layui-this a {
			color: #000;
		}
		.layui-nav .layui-nav-more {
			border-color: #999 transparent transparent;
			border-top-color:#999;
		}
		.layui-nav .layui-nav-mored, .layui-nav-itemed>a .layui-nav-more {
			margin-top: -9px;
			border-style: dashed dashed solid;
			border-color: transparent transparent #999;
		}
		.layui-nav-child {
			top: 55px;
			}
		.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
			background-color: #20222a;height: 2px;
		}
		.layui-nav .layui-nav-item a {
			padding: 0 18px 0 10px;
		}
		.layui-nav .layui-nav-more {
			border-width: 5px;
		}
		.layui-nav-child.layui-nav-last-child {
			left: auto;
			right:0;
			top: 65px;
		}
	</style>

	<!-- /* dragDiv 拖动工具箱 3.25 */ -->
<!-- /* dragDiv 拖动工具箱 3.25 */ -->
<style type="text/css">
	.clear{clear:both; height:0; width:100%;}
	.clearfix:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
	.clearfix{zoom: 1; clear:both;}
	#dragDiv{position: fixed;top:100px;right: 10px;z-index: 10000;width:92px;background:#f1f1f1;border:1px solid #f6f6f6;border-radius:2px;box-shadow:0 0 5px rgba(0,0,0,0.3);}
	#dragDiv .title{position:relative;height:24px; background-color: #ebebeb;}
	#dragDiv .title h2{padding:0 10px;font-size:12px;height:24px;line-height:24px;border-bottom:1px solid #f6f6f6;}
	#dragDiv .title div{position:absolute;height:24px;top:0;right:0;}
	#dragDiv .title a{float:left;width:24px;height:24px;display:block;}
	#dragDiv .title a img{margin-left:2px; margin-top:2px;width:20px;}
	#dragDiv .toollist{width:80px;padding-top:10px;padding-left:10px;background:#f1f1f1;}
	#dragDiv .toollist_li{float:left;position:relative;width:30px;height:30px;margin-right:10px;margin-bottom:10px;}
	#dragDiv .toollist_li > a{ display: block;float:left; text-align: center;width:28px;height:28px;border:1px solid #f1f1f1;}
	#dragDiv .toollist_li > a span{ display: none;}
	#dragDiv .toollist_li img{width:20px;height:20px;margin-top:4px}
	#dragDiv .toollist_li.has_child > a{background:url(../../../images/has_child.png) no-repeat right bottom;}
	#dragDiv .toollist_li > a:hover,
	#dragDiv .toollist_li.on > a,
	#dragDiv .toollist_li.has_child > a:hover,
	#dragDiv .toollist_li.has_child.on > a{border:1px solid #d3d3d3;background-color:#d8d8d8;}
	#dragDiv .toollist_li .child_cont{position:absolute;left:30px;top:30px;background:#f1f1f1;border:1px solid #f6f6f6;border-radius:2px;box-shadow: 0 0 8px rgba(0,0,0,0.2);padding-top:5px;padding-bottom:5px;z-index: 10;}
	#dragDiv .toollist_li .child_cont.leftSet{right: 0;left: auto;}
	#dragDiv .toollist_li .child_cont.bottomSet{left:30px;top:auto;bottom:30px;}
	#dragDiv .toollist_li .child_cont.leftbottomSet{left: auto;right: 0;top: auto;bottom: 30px;}
	#dragDiv .child_cont_li{float:left;position:relative;height:30px;margin-left:5px;margin-bottom:10px;}
	#dragDiv .child_cont_li:last-child{margin-bottom:0;}
	#dragDiv .child_cont_li > a{ display: block;text-align: left;height:28px;line-height:28px;border:1px solid #f1f1f1;width: 105px;margin-right: 5px;font-family: tahoma,"microsoft yahei","\5FAE\8F6F\96C5\9ED1"!important;}
	#dragDiv .child_cont_li img{width:20px;height:20px;margin-top: 0;margin-left: 5px;margin-right: 5px;}
	#dragDiv .child_cont_li.on > a,
	#dragDiv .child_cont_li > a:hover{border:1px solid #d3d3d3;background-color:#d8d8d8;}
	
	
		#rulerOuter {
            width : 3000px;
            height : 3000px;
			position: relative;
        }

        /* #rulerInner {
            width: 2000px;
            height: 2000px;
        } */
		.ruler_panel_container{
			overflow: hidden;
		}
		/* .ui_ruler .ruler_v_container {
			top: 74px;
		} */
	</style>
	<script type="text/javascript">  
		function doNothing(){  
			window.event.returnValue=false;  
			return false;  
		}
	</script>
</head>
<body oncontextmenu="doNothing()">
	<header style="position: relative;">
		<span class="layui-breadcrumb" style="line-height: 3.5rem;">
			<a><cite> &nbsp; &nbsp; &nbsp; 座区图编辑器</cite></a>|
			<a><cite id="refreshbtn" style="cursor: pointer;"><i class="layui-icon layui-icon-refresh-3" onclick="asd()" ></i></cite></a>
		</span>
		<span class="layui-right-nav">
			<i id="autocodebtn" data="自动编排座区ID"><img src="../../../images/completebtn.png"></i>
			<i id="completebtn" data="保存座区图数据"><img src="../../../images/savelocalbtn.png"></i>
		</span>
	</header>
	
	<!-- dragDiv 拖动工具箱 3.25 -->
	<div id="dragDiv">
		<div class="title">
			<h2>工具箱</h2>
			<div>
				<a class="Jreduction" href="javascript:;" title="还原"><img src="../../../images/reduction.png"></a>
			</div>
		</div>
		<div class="toollist clearfix">
			<div class="toollist_li has_child">
				<a data="nav-radio" href="javascript:;" alt="单选" title="单选"><img src="../../../images/toolkit/the_radio.svg"><span>单选</span></a>
				<div class="child_cont" style="display: none;">
					<div class="child_cont_li">
						<a data="nav-radio" href="javascript:;" alt="单选" title="单选"><img src="../../../images/toolkit/the_radio.svg"><span>单选</span></a>
					</div>
					<div class="child_cont_li">
						<a data="selectall" href="javascript:;" alt="全选" title="全选"><img src="../../../images/toolkit/check_all.svg"><span>全选</span></a>
					</div>
					<div class="child_cont_li">
						<a data="unselectall" href="javascript:;" alt="取消全选" title="取消全选"><img src="../../../images/toolkit/deselect_all.svg"><span>取消全选</span></a>
					</div>
					<div class="child_cont_li">
						<a data="selectrow" href="javascript:;" alt="行选中" title="行选中"><img src="../../../images/toolkit/line_selected.svg"><span>行选中</span></a>
					</div>
					<div class="child_cont_li">
						<a data="selectcol" href="javascript:;" alt="列选中" title="列选中"><img src="../../../images/toolkit/column_selected.svg"><span>列选中</span></a>
					</div>
					<div class="child_cont_li">
						<a data="selectsame" href="javascript:;" alt="类别选中" title="类别选中"><img src="../../../images/toolkit/selectsame.svg"><span>类别选中</span></a>
					</div>
				</div>
			</div>
			<div id="nav-selection" class="toollist_li">
				<a data="nav-selection" href="javascript:;" alt="框选" title="框选"><img src="../../../images/toolkit/box_to_choose.svg"><span>框选</span></a>
				<!-- <div class="child_cont" style="display: none;">
					<div class="child_cont_li on">
						<a href="javascript:;" alt="框选" title="框选"><img src="../../../images/toolkit/box_to_choose.svg"><span>框选</span></a>
					</div>
					<div class="child_cont_li">
						<a href="javascript:;" alt="取消框选" title="取消框选"><img src="../../../images/toolkit/cancel_box_to_choose.svg"><span>取消框选</span></a>
					</div>
				</div> -->
			</div>
			<div class="toollist_li">
				<a id="nav-down" data="nav-down" href="javascript:;" alt="矩形座区" title="矩形座区"><img src="../../../images/toolkit/rectangular.svg"></a>
			</div>
			<div class="toollist_li has_child">
				<a id="create-circle-run" data="create-circle-down" href="javascript:;" alt="圆形座区" title="圆形座区"><img src="../../../images/toolkit/circular.svg"><span>圆形座区</span></a>
				<div class="child_cont" style="display: none;">
					<div class="child_cont_li">
						<a id="create-run-down" data="create-run-down" href="javascript:;" alt="跑道形会场" title="跑道形会场"><img src="../../../images/toolkit/runway.svg"><span>跑道形会场</span></a>
					</div>
					<div class="child_cont_li on">
						<a id="create-circle-down" data="create-circle-down" href="javascript:;" alt="圆形座区" title="圆形座区"><img src="../../../images/toolkit/circular.svg"><span>圆形座区</span></a>
					</div>
				</div>
			</div>
			<div class="toollist_li">
				<a id="polygonbtn" href="javascript:;" alt="多边形座区" title="多边形座区"><img src="../../../images/toolkit/polygon.svg"></a>
			</div>
			<div class="toollist_li">
				<a id="ovalbtn" href="javascript:;" alt="椭圆形座区" title="椭圆形座区"><img src="../../../images/toolkit/the_oval.svg"></a>
			</div>
			<div class="toollist_li">
				<a data="nav-add" href="javascript:;" alt="快速绘制" title="快速绘制"><img src="../../../images/toolkit/pladd.png"></a>
			</div>
			<div class="toollist_li has_child">
				<a data="keydownmove" href="javascript:;" alt="位移" title="位移"><img src="../../../images/toolkit/displacement.svg"><span>位移</span></a>
				<div class="child_cont" style="display: none;">
					<div class="child_cont_li on">
						<a data="keydownmove" href="javascript:;" alt="位移" title="位移"><img src="../../../images/toolkit/displacement.svg"><span>位移</span></a>
					</div>
					<div class="child_cont_li">
						<a data="drightmovebtn" href="javascript:;" alt="右移" title="右移"><img src="../../../images/toolkit/right_moves.svg"><span>右移</span></a>
					</div>
					<div class="child_cont_li">
						<a data="dleftmovebtn" href="javascript:;" alt="左移" title="左移"><img src="../../../images/toolkit/left_moves.svg"><span>左移</span></a>
					</div>
					<div class="child_cont_li">
						<a data="dbottommovebtn" href="javascript:;" alt="下移" title="下移"><img src="../../../images/toolkit/down_moves.svg"><span>下移</span></a>
					</div>
					<div class="child_cont_li">
						<a data="dtopmovebtn" href="javascript:;" alt="上移" title="上移"><img src="../../../images/toolkit/up_moves.svg"><span>上移</span></a>
					</div>
				</div>
			</div>
			<div class="toollist_li has_child">
				<a data="nav-vertical-c" href="javascript:;" alt="横向分布" title="横向分布"><img src="../../../images/toolkit/transverse.svg"><span>横向分布</span></a>
				<div class="child_cont" style="display: none;">
					<div class="child_cont_li">
						<a data="nav-horizontal-c" href="javascript:;" alt="垂直分布" title="垂直分布"><img src="../../../images/toolkit/vertical.svg"><span>垂直分布</span></a>
					</div>
					<div class="child_cont_li on">
						<a data="nav-vertical-c" href="javascript:;" alt="横向分布" title="横向分布"><img src="../../../images/toolkit/transverse.svg"><span>横向分布</span></a>
					</div>
				</div>
			</div>
			<div class="toollist_li has_child">
				<a data="nav-align-left" href="javascript:;" alt="左对齐" title="左对齐"><img src="../../../images/toolkit/left.svg"><span>左对齐</span></a>
				<div class="child_cont" style="display: none;">
					<div class="child_cont_li on">
						<a data="nav-align-left" href="javascript:;" alt="左对齐" title="左对齐"><img src="../../../images/toolkit/left.svg"><span>左对齐</span></a>
					</div>
					<div class="child_cont_li">
						<a data="nav-align-center" href="javascript:;" alt="左右对齐" title="左右对齐"><img src="../../../images/toolkit/or_so.svg"><span>左右对齐</span></a>
					</div>
					<div class="child_cont_li">
						<a data="nav-align-right" href="javascript:;" alt="右对齐" title="右对齐"><img src="../../../images/toolkit/right.svg"><span>右对齐</span></a>
					</div>
					<div class="child_cont_li">
						<a data="nav-align-up" href="javascript:;" alt="上对齐" title="上对齐"><img src="../../../images/toolkit/up.svg"><span>上对齐</span></a>
					</div>
					<div class="child_cont_li">
						<a data="nav-align-center-v" href="javascript:;" alt="上下对齐" title="上下对齐"><img src="../../../images/toolkit/up_down.svg"><span>上下对齐</span></a>
					</div>
					<div class="child_cont_li">
						<a data="nav-align-down" href="javascript:;" alt="下对齐" title="下对齐"><img src="../../../images/toolkit/down.svg"><span>下对齐</span></a>
					</div>
				</div>
			</div>
			<div class="toollist_li">
				<a data="nav-delete" href="javascript:;" alt="删除" title="删除"><img src="../../../images/toolkit/del.svg"></a>
			</div>
			<div class="toollist_li has_child">
				<a data="nav-forward" href="javascript:;" alt="恢复座区" title="恢复座区"><img src="../../../images/toolkit/restore.svg"><span>恢复座区</span></a>
				<div class="child_cont" style="display: none;">
					<div class="child_cont_li on">
						<a data="nav-rollback" href="javascript:;" alt="恢复删除" title="恢复删除"><img src="../../../images/toolkit/prev_step.svg"><span>恢复删除</span></a>
					</div>
					<div class="child_cont_li">
						<a data="nav-forward" href="javascript:;" alt="恢复座区" title="恢复座区"><img src="../../../images/toolkit/restore.svg"><span>恢复座区</span></a>
					</div>
				</div>
			</div>
			<div class="toollist_li">
				<a data="nav-mark" href="javascript:;" alt="文字编辑" title="文字编辑"><img src="../../../images/toolkit/copy_editor.svg"></a>
			</div>
			<div class="toollist_li">
				<a data="nav-drag" href="javascript:;" alt="拖拽" title="拖拽"><img src="../../../images/toolkit/drag_drop.svg"></a>
			</div>

			<div class="toollist_li">
				<a data="rightbtn" href="javascript:;" alt="右键菜单" title="右键菜单"><img src="../../../images/toolkit/rightbtn.svg"></a>
			</div>

			<!-- <div class="toollist_li">
				<a data="add-height" href="javascript:;" alt="增加画布高度" title="增加画布高度"><img src="../../../images/toolkit/add_height.svg"></a>
			</div> -->

			<div class="toollist_li">
				<a data="drag-container" href="javascript:;" alt="拖拽画布" title="拖拽画布"><img src="../../../images/toolkit/hand.svg"></a>
			</div>
			<div class="toollist_li has_child">
				<a id="set-centerpoint" data="set-centerpoint" href="javascript:;" alt="设置向心点" title="设置向心点"><img src="../../../images/toolkit/restore.svg"><span>设置向心点</span></a>
				<div class="child_cont" style="display: none;">
					<div class="child_cont_li on">
						<a id="set-centerpoint-down" data="set-centerpoint" href="javascript:;" alt="设置向心点" title="设置向心点"><img src="../../../images/toolkit/prev_step.svg"><span>设置向心点</span></a>
					</div>
					<div class="child_cont_li">
						<a data="close-centerpoint" href="javascript:;" alt="关闭向心点" title="关闭向心点"><img src="../../../images/toolkit/prev_step.svg"><span>关闭向心点</span></a>
					</div>
					<div class="child_cont_li">
						<a id="centerpoint-list" data="centerpoint-list" href="javascript:;" alt="向心点列表" title="向心点列表"><img src="../../../images/toolkit/restore.svg"><span>向心点列表</span></a>
					</div>
				</div>
			</div>
			<!--

			<div class="toollist_li">
				<a href="javascript:;" alt="旋转" title="旋转"><img src="../../../images/toolkit/rotating.svg"></a>
			</div>
			<div class="toollist_li">
				<a href="javascript:;" alt="半径放缩" title="半径放缩"><img src="../../../images/toolkit/radius_zooming.svg"></a>
			</div>
			-->
		</div>
	</div>


	<div id="rulerOuter">
		<div id="seatcontainer" class="seatcontainer" style="width: 3000px; height: 3000px;">
			<div style="position:absolute;left:10px;top:15px;">
				<img style="height:20px;" src="../../../images/leftright-ts.svg">
			</div>
			<div id="meetingname" style="display:none;font-family: 'FZXiaoBiaoSong-B05S','方正小标宋简体' !important;font-size: 18px;text-align: center;padding-top:60px;">[#会议名称#]座区图</div>
			<div id="seatcontainerId"></div>
			<div id="mousecontainerId"></div>
			
			
			<div id="dragcontainerId" title="双击选中" class="dragcontainer" style="box-sizing:border-box !important;"></div>
			<div id="movecontainerId" title="拖拽调整" class="dragcontainer" style="box-sizing:border-box !important;"></div>
			<div id="meetingaddress" style="text-align: left;position:absolute;left:50px;bottom:50px;font-family:'黑体';display:none;">地点：[#会议地点#]</div>
			<div id="meetingtime" style="text-align: left;position:absolute;right:50px;bottom:50px;font-family:'黑体';display:none;">时间：[#会议时间#]</div>
			<div id="meetingremark" style="text-align: left;position:absolute;left:50px;bottom:20px;font-family:'黑体';display:none;">备注：[#会议备注#]</div>
		
		</div>
		
		<div id="xaxis" style="width: 0px;height: 1px;position: absolute;left: 0px;top: 0px;background: green;"></div>
		<div id="yaxis" style="height: 0px;width: 1px;position: absolute;left: 0px;top: 0px;background: green;"></div>
		<div id="xytip" style="display:none;position: absolute;height: 20px; border: 1px solid red;padding: 0 2px;"></div>
		<div id="xyaxis" style="left:0px;top:0px;position:absolute;width: 6px;height: 6px;background: red;border-radius: 50%;display: none;"></div>
		
		<div id="circlemousexyId" title="点击设置圆心" style="pointer-events: none;position:absolute;width: 6px;height: 6px;background: red;border-radius: 50%;display: none;"></div>
		<div style="width: 100%;height: 100%;">
			<svg id="circlemousesvg" style="width: 100%;height:100%;" xmlns="http://www.w3.org/2000/svg" version="1.1">
				<line id="circlemouseline" x1="0" y1="0" x2="0" y2="0" style="stroke:rgb(255,0,0);stroke-width:2"/>
			</svg>
		</div>
	</div>
	
</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="JSRuler/jquery.event.drag-2.2.js"></script>
<script src="JSRuler/jquery.event.drop-2.2.js"></script>
<script src="JSRuler/ruler.js"></script>
<script src="seatscontrol_temp.js"></script>

<!-- /* dragDiv 拖动工具箱 3.25*/ -->
<script type="text/javascript">
	/*-------------------------- + 获取id, class, tagName +-------------------------- */
	var get = {
		byId: function(id) {
			return typeof id === "string" ? document.getElementById(id) : id
		},
		byClass: function(sClass, oParent) {
			var aClass = [];
			var reClass = new RegExp("(^| )" + sClass + "( |$)");
			var aElem = this.byTagName("*", oParent);
			for (var i = 0; i < aElem.length; i++) reClass.test(aElem[i].className) && aClass.push(aElem[i]);
			return aClass
		},
		byTagName: function(elem, obj) {
			return (obj || document).getElementsByTagName(elem)
		}
	};
	/*-------------------------- + 拖拽函数 +-------------------------- */
	function dragAction(oDrag, handle){
		var disX = dixY = 0;
		var oJreduction = get.byClass("Jreduction", oDrag)[0];
		handle = handle || oDrag;
		handle.style.cursor = "move";
		handle.onmousedown = function (event){
			var event = event || window.event;
			disX = event.clientX - oDrag.offsetLeft;
			disY = event.clientY - oDrag.offsetTop;
			document.onmousemove = function (event){
				var event = event || window.event;
				var iL = event.clientX - disX;
				var iT = event.clientY - disY;
				var maxL = document.documentElement.clientWidth - oDrag.offsetWidth - 10;
				var maxT = document.documentElement.clientHeight - oDrag.offsetHeight - 10;
				
				iL <= 8 && (iL = 8);
				iT <= 65 && (iT = 65);
				iL >= maxL && (iL = maxL);
				iT >= maxT && (iT = maxT);
				oDrag.style.left = iL + "px";
				oDrag.style.top = iT + "px";
				return false
			};
			document.onmouseup = function (){
				document.onmousemove = null;
				document.onmouseup = null;
				this.releaseCapture && this.releaseCapture()
			};
			this.setCapture && this.setCapture();
			return false
		};	
		//还原到原来位置
		oJreduction.onclick = function (){
			oDrag.style.left ='auto';
			oDrag.style.top = 65 + "px";
		};
	}
	window.onload = window.onresize = function (){
		var oDrag = document.getElementById("dragDiv");
		var oTitle = get.byClass("title", oDrag)[0];
		dragAction(oDrag, oTitle);
	}
</script>

<!-- /* 点击、长按事件 3.25*/ -->
<script>
	$(document).click(function(){
		if(!__longEvent){
			$(".child_cont").removeClass("leftSet bottomSet leftbottomSet").hide();
		}else{
			setTimeout(function(){
				__longEvent = false;
			},500);
		}
		// $('.toollist .on').removeClass("on");
	});
	$(".child_cont_li > a").click(function(evt){
		console.log("child_cont_li-----------click");
		// evt.stopPropagation();

		$('.child_cont_li').removeClass("on");
		$(this).parent().addClass("on");
		
		var src = $(this).find("img").attr("src");
		var data = $(this).attr("data");
		var title = $(this).attr("title");
		$(this).parent().parent().prev().attr({"data":data,"title":title,"alt":title});
		$(this).parent().parent().prev().find("img").attr("src",src);

		seatMapEvent(data,this);
	});

	$('.toollist_li > a').bind('click',function(evt){
		// evt.stopPropagation();

		var data = $(this).attr("data");
		
		if(!data){
			return;
		}

		console.log("data-----",data);
		
		if(!__longEvent){
			$('.toollist_li').removeClass("on");
			$(this).parent().addClass("on");
		}else{
			setTimeout(function(){
				__longEvent = false;
			},500);
		}
		seatMapEvent(data,this);
		// return false;
	});


	var __activeRight = false;
	var __handDrag = null;
	function seatMapEvent(data,ele){
		__keydownMoveUp = false;
		__keydownMoveDown = false;
		__keydownMoveLeft = false;
		__keydownMoveRight = false;
		unDragMoveSeats();

		if(data != "rightbtn"){
			__activeRight = false;
			removeContextMenu();
		}
		
		switch(data){
			case "nav-radio":
				//单选
				bindOneSeats();
			break;
			case "selectall":
				//全选
				selectSeatAll();
			break;
			case "unselectall":
				//取消全选
				unSelectSeatAll();
			break;
			case "selectrow":
				//行选中
				selectSeatRow();
			break;
			case "selectcol":
				//列选中
				selectSeatCol();
			break;
			case "selectsame":
				//类别选中
				selectSameSeats();
			break;

			case "nav-selection":
				console.log("nav-selection");
				selectSeats();
			break;

			case "nav-down":
				// setTimeout(function(){
				// 	$(ele).parent().removeClass("on");
				// 	$("#nav-selection").addClass("on");
				// },1000);
			break;

			case "create-circle-down":
			case "create-run-down":
				// setTimeout(function(){
				// 	$(ele).parent().removeClass("on");
				// 	$("#nav-selection").addClass("on");
				// },1000);
			break;

			case "nav-add":
				boxCreateSeats();
			break;
			
			case "keydownmove":
				__keydownMoveUp = true;
				__keydownMoveDown = true;
				__keydownMoveLeft = true;
				__keydownMoveRight = true;
			break;
			case "dleftmovebtn":
				__keydownMoveLeft = true;
				leftMoveSeats();
			break;
			case "drightmovebtn":
				__keydownMoveRight = true;
				rightMoveSeats();
			break;
			case "dtopmovebtn":
				__keydownMoveUp = true;
				topMoveSeats();
			break;
			case "dbottommovebtn":
				__keydownMoveDown = true;
				bottomMoveSeats();
			break;

			case "nav-vertical-c":
				xAvgSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;
			case "nav-horizontal-c":
				yAvgSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;

			case "nav-align-center":
				xCenterSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;
			case "nav-align-center-v":
				yCenterSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;
			case "nav-align-left":
				leftSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;
			case "nav-align-right":
				rightSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;
			case "nav-align-up":
				topSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;
			case "nav-align-down":
				bottomSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;

			case "nav-delete":
				deleteSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;

			case "nav-forward":
				revertSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;
			case "nav-rollback":
				resetSeats();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;

			case "nav-mark":
				setRowNum();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;

			case "nav-drag":
				dragMoveSeats();
			break;

			case "add-height":
				addSeatContainerHeight();
				setTimeout(function(){
					$(ele).parent().removeClass("on");
					$("#nav-selection").addClass("on");
				},1000);
			break;

			case "rightbtn":
				if(__activeRight){
					__activeRight = false;
					removeContextMenu();
					$('.toollist_li').removeClass("on");
					$("#nav-selection").addClass("on");
				}else{
					bindContextMenu();
					__activeRight = true;
				}
			break;

			case "drag-container":
				if(__handDrag){
					__handDrag = null;
					$('#seatcontainer').unbind('mousedown');
					$('#seatcontainer').unbind('mouseup');
					$('#seatcontainer').unbind('mousemove');
					$('.toollist_li').removeClass("on");
					$("#nav-selection").addClass("on");
					selectSeats();
				}else{
					removeContainerEvent();
					__handDrag = new Drag();
				}
			break;


			case "close-centerpoint":
				unbindRulePoint();
			break;
		}
	}

	function Drag(){
		this.dragWrap = $("#seatcontainer");
		this.init.apply(this,arguments);
	};
	Drag.prototype = {
		constructor:Drag,
		_dom : {},
		_x : 0,
		_y : 0,
		_top :0,
		_left: 0,
		move : false,
		down : false,
		init : function () {
			this.bindEvent();
		},
		bindEvent : function () {
			var t = this;
			$('#seatcontainer').bind('mousedown',function(e){
				e && e.preventDefault();
				if ( !t.move) {
					t.mouseDown(e);
				}
			});
			$('#seatcontainer').bind('mouseup',function(e){
				t.mouseUp(e);
			});

			$('#seatcontainer').bind('mousemove',function(e){
				if (t.down) {
					t.mouseMove(e);
				}
			});
		},
		mouseMove : function (e) {
			e && e.preventDefault();
			this.move = true;
			var x = this._x - e.clientX,
				y = this._y - e.clientY,
				dom = document.documentElement;
			dom.scrollLeft = (this._left + x);
			dom.scrollTop = (this._top + y);
		},
		mouseUp : function (e) {
			e && e.preventDefault();
			this.move = false;
			this.down = false;
			this.dragWrap.css('cursor','');
		},
		mouseDown : function (e) {
			this.move = false;
			this.down = true;
			this._x = e.clientX;
			this._y = e.clientY;
			this._top = document.documentElement.scrollTop;
			this._left = document.documentElement.scrollLeft;
			// console.log(this._top,this._left)
			this.dragWrap.css('cursor','move');
		}
	};

	var obj = $('.toollist_li.has_child');
	for(let i = 0; i<obj.length; i++){
		// 给a添加长按事件和点击事件
		addLongDown(obj[i] , function(evt){
			console.log("long click-----------")
			__longEvent = true;

			evt.stopPropagation();
			var _this = obj[i];
			//$(_this).children("a").event.stopPropagation();
			$(_this).addClass("on");
			$(_this).siblings().removeClass("on");
			var _left = ( document.documentElement.clientWidth-$(_this).offset().left ) - 30 < 67;
			var _bottom = ( document.documentElement.clientHeight-$(_this).offset().top ) - 30 < 175;
			if(_left){
				if(_bottom){
					$(_this).children(".child_cont").addClass("leftbottomSet").show()
				}else{
					$(_this).children(".child_cont").addClass("leftSet").show()
				}
			}else{
				if(_bottom){
					$(_this).children(".child_cont").addClass("bottomSet").show()
				}else{
					$(_this).children(".child_cont").show()
				}
			}
			$(_this).siblings().children(".child_cont").hide();
		});

		// obj[i].addEventListener('click' , function(){
		// 	var _this = obj[i];
		// 	$(_this).addClass("on");
		// 	$(_this).siblings().removeClass("on");
		// 	$(_this).siblings().children(".child_cont").hide();
		// 	//event.stopPropagation();
		// })
	}
	function addLongDown(ele , fn){
		var time = 0; // 用于计算按下时间
		var flag = false; // 判断按下时间否是大于500毫秒
		var t;
		ele.addEventListener('mousedown' , function(e){ // 按下计时
			time = 0;
			flag = false;
			time = new Date().getTime();
			t = setTimeout(function(){
				flag = (new Date().getTime() - time) > 300;
				if(flag){
					fn.call(this , e); // 按下大于500毫秒执行回调函数
				}
			}, 500);
		});
		ele.addEventListener('mouseup' , function(e){ // 抬起计算
			clearTimeout(t);
		});
	}
</script>


<script>
	$(function(){
		// $("#rulerOuter").css({"height":"5000px","width":"5000px"});
		// $("#seatcontainer").css({"height":"5000px","width":"5000px"});
		var w = $("#seatcontainer").width();
		var h = $("#seatcontainer").height();
		if(w > 3000 || h > 3000){
			$("#rulerOuter").css({"width":w+"px","height":h+"px"});
		}else{
			// $("#seatcontainer").css({"height":"3000px","width":"3000px"});
		}
		var rule = new Ruler().wrap('seatcontainer');
		// console.log(rule)
	});

	var rulexy = [];
	var editRuleId = "";
	function bindRulePoint(editid){
		editRuleId = editid;
		unbindRulePoint();
		$("#rulerOuter").bind("mousemove",function(){
			evt = window.event || arguments[0];
			var _x = null;
			var _y = null;

			//鼠标位置
			_x = (evt.x || evt.clientX);
			_y = (evt.y || evt.clientY);

			var _stop = document.documentElement.scrollTop || document.body.scrollTop || 0;
			var _sleft = document.documentElement.scrollLeft || document.body.scrollLeft || 0;

			_x = _x + _sleft;
			_y = _y + _stop - 56;

			
			$("#xaxis").css({"width":_x+"px","top":_y+"px"});
			$("#yaxis").css({"height":_y+"px","left":_x+"px"});

			$("#xytip").html("x:"+(_x - 17)+",y:"+(_y - 17));
			$("#xytip").attr("data",(_x - 17)+","+(_y - 17));
			$("#xytip").css({"left":(_x + 10)+"px","top":(_y - 20) +"px"});
			$("#xaxis,#yaxis,#xytip").show();
		});

		$("#rulerOuter").bind("click",function(){
			var xy = $("#xytip").attr("data");
			// console.log(xy)
			if(editRuleId){
				//修改历史记录
				editRulePointById(editRuleId,xy);
			}else{
				window.sessionStorage.setItem("__rulepoint",xy);
				$("#xaxis,#yaxis,#xytip").hide();
				__setCenterPoint();
			}
		});
	}
	function unbindRulePoint(){
		$("#rulerOuter").unbind("click");
		$("#rulerOuter").unbind("mousemove");
		$("#xaxis,#yaxis,#xytip").hide();
	}
	

	
	function saveRulePointData(name,x,y){
		//	{
		// 		name:"",
		// 		pos:100.93,20.45
		// 	}
		var obj = {};
		obj.name = name;
		obj.id = "p_" + (new Date() - 0);
		obj.pos = x+","+y;
		

		var rulepoint = window.localStorage.getItem("__rulepoint") || "";
		if(rulepoint){
			rulepoint = JSON.parse(rulepoint);
		}else{
			rulepoint = [];
		}
		rulepoint.push(obj);

		var jsonstr = JSON.stringify(rulepoint);
		window.localStorage.setItem("__rulepoint",jsonstr);
		layer.msg("向心点保存成功");

		unbindRulePoint();
	}
	
	function showRulePoint(pos){
		var xy = pos.split(',');

		$("#xyaxis").css({"left":+xy[0]+14+"px","top":+xy[1]+14+"px"});
		$("#xyaxis").show();

	}

	function editRulePointById(id,pos){
		var rulepoint = window.localStorage.getItem("__rulepoint") || "";
		if(rulepoint){
			rulepoint = JSON.parse(rulepoint);
			rulepoint.map(function(item){
				if(item.id == id){
					item.pos = pos;
				}
			});
			
			showRulePoint(pos);
			unbindRulePoint();
			var jsonstr = JSON.stringify(rulepoint);
			window.localStorage.setItem("__rulepoint",jsonstr);
			layer.msg("重新定位成功");
		}
	}

	function deleteRulePointById(id){
		var rulepoint = window.localStorage.getItem("__rulepoint") || "";
		if(rulepoint){
			rulepoint = JSON.parse(rulepoint);
			var ind = 0
			for(var i = 0,len = rulepoint.length; i < len; i++){
				var item = rulepoint[i];
				if(item.id == id){
					ind = i;
				}
			}
			rulepoint.splice(ind,1);
			
			var jsonstr = JSON.stringify(rulepoint);
			window.localStorage.setItem("__rulepoint",jsonstr);
			layer.msg("删除成功");
		}
	}
</script>

<script type="text/javascript">
layui.config({
	base: '../../../layuiadmin/' //静态资源所在路径
}).extend({
	index: 'lib/index' //主入口模块
}).use(['index', 'user', 'table'], function() {
	var $ = layui.$,
		form = layui.form,
		element = layui.element,
		table = layui.table,
		layer = layui.layer,
		router = layui.router();
		
		//在这里我想得到页面 二次显示的事件
// 		parent.element.on('tab(layadmin-layout-tabs)',function(a,b,c,data){
// 			loadSessionData();
//         })


		function openRectangleMeeting(){
			layer.open({
				type: 2,
				title: '设置行列',
				shadeClose: true,
				offset: '10%',
				area: ['340px', '230px'],
				content: 'seatmapseditor_pop.html',
				btn: ['提交', '取消'],
				yes: function(index, layero) {
					var rownum = +layero.find('iframe').contents().find("#rownum").val() || 0;
					var colnum = +layero.find('iframe').contents().find("#colnum").val() || 0;
					if(rownum > 0 && colnum > 0){
						creatSeats(rownum,colnum);
						layer.close(index);
					}else{
						layer.msg('行，列数字输入错误');
					}
				}
			});
		}
		function openSpecialMeeting(){
			layer.open({
				type: 2,
				title: '设置参数',
				shadeClose: true,
				offset: '10%',
				area: ['620px', '380px'],
				content: 'specialeditor_pop.html',
				btn: ['提交', '取消'],
				yes: function(index, layero) {
					var ccx = +layero.find('iframe').contents().find("#ccx").val() || 0;
					var ccy = +layero.find('iframe').contents().find("#ccy").val() || 0;
					var r1 = +layero.find('iframe').contents().find("#r1").val() || 0;
					var seatnum = +layero.find('iframe').contents().find("#seatnum").val() || 0;
					var centernum = layero.find('iframe').contents().find("#centernum").val() || "";

					if(ccx <= 0 || ccy <= 0){
						layer.msg('圆心坐标输入错误');
						return false;
					}
					if(r1 <= 0 ){
						layer.msg('半径输入错误');
						return false;
					}
					if(seatnum <= 0 ){
						layer.msg('座位数量输入错误');
						return false;
					}
					
					if(centernum == ""){
						createCircleSeatMap(ccx,ccy,r1,seatnum);
						layer.close(index);
					}else{
						if(centernum <= 0){
							layer.msg('中间座位数输入错误');
							return false;
						}
						layer.close(index);		//关闭窗口
						createRunSeatMap(ccx,ccy,r1,seatnum,centernum);
					}
				}
			});
		}

		function circleAndRunCreate(data){
			if(data == "create-circle-down"){
				layer.open({
					type: 2,
					title: '设置座位数',
					shadeClose: true, //弹出框之外的地方是否可以点击
					offset: '10%',
					area: ['500px', '460px'],
					content: 'special_circle_type.html',
					btn: ['确定', '取消'],
					yes: function(index, layero) {
						var typeid = +layero.find('iframe').contents().find("#meet_typeid").val();
						var select_ruleid = +layero.find('iframe').contents().find("#select_ruleid").val();
						var seatnum = +layero.find('iframe').contents().find("#seatnum").val() || 0;
						if(seatnum <= 0 ){
							layer.msg('座位数量输入错误');
							return false;
						}

						if(typeid == 1){
							mouseCreateSeatMap(1,seatnum,0,select_ruleid);
						}else{
							var ccx = +layero.find('iframe').contents().find("#ccx").val() || 0;
							var ccy = +layero.find('iframe').contents().find("#ccy").val() || 0;
							var r1 = +layero.find('iframe').contents().find("#r1").val() || 0;
							if(ccx <= 0 || ccy <= 0){
								layer.msg('圆心坐标输入错误');
								return false;
							}
							if(r1 <= 0 ){
								layer.msg('半径输入错误');
								return false;
							}
							createCircleSeatMap(ccx,ccy,r1,seatnum,select_ruleid,0);
						}
						layer.close(index);
					}
				});
			}else{
				layer.open({
					type: 2,
					title: '设置座位数',
					shadeClose: true, //弹出框之外的地方是否可以点击
					offset: '10%',
					area: ['500px', '500px'],
					content: 'special_run_type.html',
					btn: ['确定', '取消'],
					yes: function(index, layero) {
						var typeid = +layero.find('iframe').contents().find("#meet_typeid").val();
						var select_ruleid = +layero.find('iframe').contents().find("#select_ruleid").val();
						var seatnum = +layero.find('iframe').contents().find("#seatnum").val() || 0;
						var centernum = layero.find('iframe').contents().find("#centernum").val() || "";
						if(seatnum <= 0 ){
							layer.msg('座位数量输入错误');
							return false;
						}
							
						if(centernum <= 0){
							layer.msg('中间座位数输入错误');
							return false;
						}

						if(typeid == 1){
							mouseCreateSeatMap(2,seatnum,centernum,select_ruleid);
						}else{
							var ccx = +layero.find('iframe').contents().find("#ccx").val() || 0;
							var ccy = +layero.find('iframe').contents().find("#ccy").val() || 0;
							var r1 = +layero.find('iframe').contents().find("#r1").val() || 0;
							if(ccx <= 0 || ccy <= 0){
								layer.msg('圆心坐标输入错误');
								return false;
							}
							if(r1 <= 0 ){
								layer.msg('半径输入错误');
								return false;
							}
							createRunSeatMap(ccx,ccy,r1,seatnum,centernum,select_ruleid,0);
						}
						layer.close(index);
					}
				});
			}
		}

		/*环形绘制，跑道绘制*/
		$('#create-circle-run,#create-circle-down,#create-run-down').on('click', function(){
			if(__longEvent){
				return;
			}
			var data = $(this).attr("data");
			circleAndRunCreate(data);
		});
		

		/*向心点设置*/
		$('#set-centerpoint,#set-centerpoint-down').on('click', function(){
			if(__longEvent){
				return;
			}
			
			var data = $(this).attr("data");
			if(data == "set-centerpoint"){
				setCenterPoint();
			}
		});
		
		window.__setCenterPoint = setCenterPoint;
		function setCenterPoint(){
			
			layer.open({
				type: 2,
				title: '设置向心点',
				shadeClose: true, //弹出框之外的地方是否可以点击
				offset: '20%',
				area: ['500px', '240px'],
				content: 'set_point.html',
				resize:false,
				btn: ['确定', '取消'],
				yes: function(index, layero) {
					var xaxis = +layero.find('iframe').contents().find("#xaxis").val() || "";
					var yaxis = +layero.find('iframe').contents().find("#yaxis").val() || "";
					var pointname = layero.find('iframe').contents().find("#pointname").val() || "";
					
					if(xaxis <= 0 ){
						layer.msg('X坐标输入错误');
						return false;
					}
					if(yaxis <= 0 ){
						layer.msg('Y坐标输入错误');
						return false;
					}
					if(pointname == ""){
						layer.msg('请输入向心点名称');
						return false;
					}else{
						//保存向心点数据到本地
						saveRulePointData(pointname,xaxis,yaxis);
					}
					layer.close(index);
				}
			});
		
		}

		/*向心点列表*/
		$("#centerpoint-list").on('click',function(){
			if(__longEvent){
				return;
			}
			
			var data = $(this).attr("data");
			if(data == "centerpoint-list"){
				openCenterPointList();
			}
		});
		function openCenterPointList(){
			layer.open({
				type: 2,
				title: '向心点列表',
				shadeClose: true, //弹出框之外的地方是否可以点击
				offset: '20%',
				area: ['500px', '400px'],
				content: 'point_list.html',
				resize:false,
				btn: ['显示','重新定位','删除', '关闭'],
				yes: function(index, layero) {
					var point = layero.find('iframe').contents().find(".pointlist > li.on");
					if(point.length == 0){
						layer.msg("没有选择数据");
						return false;
					}
					
					var data = point.attr("data");
					showRulePoint(data);
					layer.close(index);
				}
				,btn2:function(index,layero){
					var point = layero.find('iframe').contents().find(".pointlist > li.on");
					if(point.length == 0){
						layer.msg("没有选择数据");
						return false;
					}
					var id = point.attr("id");
					bindRulePoint(id);
					layer.close(index);
				}
				,btn3:function(index,layero){
					var point = layero.find('iframe').contents().find(".pointlist > li.on");
					if(point.length == 0){
						layer.msg("没有选择数据");
						return false;
					}
					var myIframe = window[layero.find('iframe')[0]['name']];
					
					var id = point.attr("id");
					deleteRulePointById(id);
					myIframe.addPonitList();
					return false;
					// layer.close(index);
				}
				,btn4:function(index,layero){
					console.log(4)
				}
			});
		}








		/*右侧菜单 设置行列弹框*/
		$('#nav-down').on('click', function(){
			layer.open({
				type: 2,
				title: '设置行列',
				shadeClose: true, //弹出框之外的地方是否可以点击
				offset: '10%',
				area: ['500px', '260px'],
				content: 'special_type.html',
				btn: ['确定', '取消'],
				yes: function(index, layero) {
					// var meet_typeid = +layero.find('iframe').contents().find("#meet_typeid").val() || 0;

					// if(meet_typeid == 1){
						// openRectangleMeeting();
					var rownum = +layero.find('iframe').contents().find("#rownum").val() || 0;
					var colnum = +layero.find('iframe').contents().find("#colnum").val() || 0;
					if(rownum > 0 && colnum > 0){
						creatSeats(rownum,colnum);
						layer.close(index);
					}else{
						layer.msg('行，列数字输入错误');
					}
					// }else{
					// 	// openSpecialMeeting();
					// 	// var ccx = +layero.find('iframe').contents().find("#ccx").val() || 0;
					// 	// var ccy = +layero.find('iframe').contents().find("#ccy").val() || 0;
					// 	// var r1 = +layero.find('iframe').contents().find("#r1").val() || 0;
					// 	var seatnum = +layero.find('iframe').contents().find("#seatnum").val() || 0;
					// 	var centernum = layero.find('iframe').contents().find("#centernum").val() || "";

					// 	// if(ccx <= 0 || ccy <= 0){
					// 	// 	layer.msg('圆心坐标输入错误');
					// 	// 	return false;
					// 	// }
					// 	// if(r1 <= 0 ){
					// 	// 	layer.msg('半径输入错误');
					// 	// 	return false;
					// 	// }
					// 	if(seatnum <= 0 ){
					// 		layer.msg('座位数量输入错误');
					// 		return false;
					// 	}
						
					// 	if(centernum == ""){
					// 		// createCircleSeatMap(ccx,ccy,r1,seatnum);
					// 		mouseCreateSeatMap(1,seatnum);
					// 		layer.close(index);
					// 	}else{
					// 		if(centernum <= 0){
					// 			layer.msg('中间座位数输入错误');
					// 			return false;
					// 		}
					// 		layer.close(index);		//关闭窗口
					// 		// createRunSeatMap(ccx,ccy,r1,seatnum,centernum);
					// 		mouseCreateSeatMap(2,seatnum,centernum);
					// 	}
					// }
					// layer.close(index);

					// var rownum = +layero.find('iframe').contents().find("#rownum").val() || 0;
					// var colnum = +layero.find('iframe').contents().find("#colnum").val() || 0;
					// if(rownum > 0 && colnum > 0){
					// 	creatSeats(rownum,colnum);
					// 	layer.close(index);
					// }else{
					// 	layer.msg('行，列数字输入错误');
					// }
				}
			});
			
		});
		

		/*多边形绘制，椭圆绘制*/
		$('#polygonbtn').on('click', function(){
			if(__longEvent){
				return;
			}
			layer.open({
				type: 2,
				title: '设置多边形参数',
				shadeClose: true, //弹出框之外的地方是否可以点击
				offset: '10%',
				area: ['500px', '260px'],
				content: 'special_polygon_type.html',
				btn: ['确定', '取消'],
				yes: function(index, layero) {
					// var typeid = +layero.find('iframe').contents().find("#select_typeid").val() || 0;
					var edges = +layero.find('iframe').contents().find("#edges").val() || "";
					var seat_nums = layero.find('iframe').contents().find("#seat_nums").val() || "";
					
					if(edges == "" || edges < 3){
						layer.msg('请输入边数，必须大于3');
						return false;
					}
					if(seat_nums == ""){
						layer.msg('请输入座位数');
						return false;
					}
					var condi = {};
					condi.type = 0;
					condi.edges = +edges;
					condi.seat_nums = seat_nums.split(",");
					condi.seat_nums = condi.seat_nums.map(function(n){
						if(!+n){
							layer.msg('座位数只能输入数字，且用,分割');
							return false;
						}
						return +n;
					});
					getCustomSeats(condi);
					layer.close(index);
				}
			});
		});
		$('#ovalbtn').on('click', function(){
			if(__longEvent){
				return;
			}
			layer.open({
				type: 2,
				title: '设置椭圆参数',
				shadeClose: true, //弹出框之外的地方是否可以点击
				offset: '10%',
				area: ['500px', '220px'],
				content: 'special_oval_type.html',
				btn: ['确定', '取消'],
				yes: function(index, layero) {
					// var typeid = +layero.find('iframe').contents().find("#select_typeid").val() || 0;
					// var edges = +layero.find('iframe').contents().find("#edges").val() || "";
					var seat_nums = layero.find('iframe').contents().find("#seatnum").val() || "";
					
					if(seat_nums == ""){
						layer.msg('请输入座位数');
						return false;
					}
					var condi = {};
					condi.type = 1;
					condi.edges = 1;
					condi.seat_nums = [+seat_nums];
					getCustomSeats(condi);
					layer.close(index);
				}
			});
		});
		
		function getCustomSeats(condi){
			// type为0时多边形，type为1是椭圆形；
			// edges是边数，多边形的话edges>2，椭圆形的话edges=1
			// center_x和center_y可以不传;
			// seat_nums是从里到外嵌套排列，每一层的座位数
			var condi = condi;
			console.log(condi,$);
			layer.load(2);
			$.ajax({
				async: true,
				type: "post",
				data: JSON.stringify(condi),
				contentType: 'application/json', 
				url: "https://m.longjuli.com/v1/editor",
				dataType: "json",
				success: function(obj) {
					console.log(obj);
					if(obj && obj.seats){
						bulidSeverPolygonContainer(obj);
					}
					layer.closeAll();
				},
				//失败的回调函数
				error: function() {
					console.log("error");
					layer.closeAll();
				}
			});
		}


		$('#autocodebtn img').on('click', function(){
			layer.open({
				type: 2,
				title: '自动编排',
				shadeClose: true, //弹出框之外的地方是否可以点击
				offset: '10%',
				area: ['500px', '260px'],
				content: 'seatmapseditor_code.html',
				btn: ['确定', '取消'],
				yes: function(index, layero) {
					var ruleid = +layero.find('iframe').contents().find("#select_ruleid").val() || 0;
					autoCode(ruleid);
					layer.close(index);
				}
			});
		});



		/*右侧菜单HOVER显示提示文字*/
		var subtips;
		$('.layui-right-nav i').each(function(){
			var _id = $(this).attr('id');
			var _data = $(this).attr('data');
			$("#" + _id).hover(function() {
				openMsg();
			}, function() {
				if(subtips){
					layer.close(subtips);
				}
			});
			function openMsg() {
				subtips = layer.tips(_data, '#'+_id,{tips:[3,'#666'],time: 30000});
			}
		})
		/*右侧菜单HOVER显示提示文字 end*/
})
</script>
</html>
