<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<script src="../../../js/jquery-3.1.1.min.js"></script>
</head>
<body>
<div class="layui-form" action="" lay-filter="component-form-group" style="padding: 20px 30px 0 0;">
	<!-- <div class="layui-form-item">
		<label class="layui-form-label">会场类别</label>
        <div class="layui-input-block">
            <select class="dialogRuleSelect" lay-skin="select" lay-filter="meetrule-form-select" id="meet_typeid">
			    <option value="1">矩形会场</option>
				<option value="2">异形会场</option>
            </select>
        </div>
	</div> -->


	<div class="layui-form" id="meet1form">
		<div class="layui-form-item">
			<label class="layui-form-label">行数</label>
			<div class="layui-input-block">
				<input id="rownum" type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input hyname">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">列数</label>
			<div class="layui-input-block">
				<input id="colnum" type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input hyname">
			</div>
		</div>
	</div>

	<div class="layui-form" id="meet2form" style="display:none;">
		<div class="layui-form-item">
			<label class="layui-form-label">环形座位数</label>
			<div class="layui-input-block">
				<input id="seatnum" type="text" name="name" lay-verify="required" placeholder="20" autocomplete="off" class="layui-input hyname">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">中间座位数</label>
			<div class="layui-input-block">
				<input id="centernum" type="text" name="name" lay-verify="required" placeholder="当输入值就是创建跑道会场" autocomplete="off" class="layui-input hyname">
			</div>
		</div>
	</div>

	<!-- <div class="layui-form-item">
		<label class="layui-form-label">列数</label>
		<div class="layui-input-block">
			<input id="colnum" type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input hyname">
		</div>
	</div> -->
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<!-- <script src="../../../layuiadmin/layui/arrange/meet/meetcreatfrom.js"></script> -->
<script>

layui.config({
	base: '../../../layuiadmin/' //静态资源所在路径
}).extend({
	index: 'lib/index' //主入口模块
}).use(['index', 'user', 'table'], function() {
	var $ = layui.$,
		form = layui.form,
		element = layui.element,
		table = layui.table,
		layer = layui.layer,
		router = layui.router();
		
		// form.on('select(meetrule-form-select)', function(data){
		// 	var id = +data.value;
		// 	if(id == 1){
		// 		$("#meet1form").show();
		// 		$("#meet2form").hide();
		// 	}else{
		// 		$("#meet2form").show();
		// 		$("#meet1form").hide();
		// 	}
		// });

		$('#colnum').on('keydown', function (event) {
			if (event.keyCode == 13) {
				var layer = layui.layer;
				var rownum = +$("#rownum").val() || 0;
				var colnum = +$("#colnum").val() || 0;
				if(rownum > 0 && colnum > 0){
					var index=parent.layer.getFrameIndex(window.name); //获取当前窗口的name
               		parent.layer.close(index);		//关闭窗口
					window.parent.seatmaps.creatSeats(rownum,colnum);
				}else{
					layer.msg('行，列数字输入错误');
				}
				return false
			}
		});

		// $('#seatnum,#centernum').on('keydown', function (event) {
		// 	if (event.keyCode == 13) {
		// 		var layer = layui.layer;
		// 		var ccx = +$("#ccx").val() || 0;
		// 		var ccy = +$("#ccy").val() || 0;
		// 		var r1 = +$("#r1").val() || 0;
		// 		var seatnum = +$("#seatnum").val() || 0;
		// 		var centernum = $("#centernum").val() || "";

		// 		// if(ccx <= 0 || ccy <= 0){
		// 		// 	layer.msg('圆心坐标输入错误');
		// 		// 	return false;
		// 		// }
		// 		// if(r1 <= 0 ){
		// 		// 	layer.msg('半径输入错误');
		// 		// 	return false;
		// 		// }
		// 		if(seatnum <= 0 ){
		// 			layer.msg('座位数量输入错误');
		// 			return false;
		// 		}
				
		// 		if(centernum == ""){
		// 			var index=parent.layer.getFrameIndex(window.name); //获取当前窗口的name
        //        		parent.layer.close(index);		//关闭窗口
		// 			// window.parent.createCircleSeatMap(ccx,ccy,r1,seatnum);
		// 			window.parent.mouseCreateSeatMap(1,seatnum);
		// 		}else{
		// 			if(centernum <= 0){
		// 				layer.msg('中间座位数输入错误');
		// 				return false;
		// 			}
		// 			var index=parent.layer.getFrameIndex(window.name); //获取当前窗口的name
        //        		parent.layer.close(index);		//关闭窗口
		// 			// window.parent.createRunSeatMap(ccx,ccy,r1,seatnum,centernum);
		// 			window.parent.mouseCreateSeatMap(2,seatnum,centernum);
		// 		}
		// 		return false
		// 	}
		// });
})
</script>
</body>
</html>
