<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<script src="../../../js/jquery-3.1.1.min.js"></script>
	<link rel="stylesheet" href="../../../layuiadmin/font/iconfont.css">
	<script src="../../../js/jquery-3.1.1.min.js"></script>
	<style type="text/css">
		.layui-form-label {
			width: 50px;
		}
		.layui-input-block {
			margin-left: 80px;
		}
		.layui-form-item-div{padding-right: 75px;position: relative;}
		.layui-form-item-w50{float:left;width:50%;clear: none;}

		
		.iconfont.icon-dingwei {
			font-size: 19px;
			margin-left: -2px;
		}
		.rightBTN{
			position:absolute;right:10px;top:7px;
			height: 20px;
			line-height: 20px;
		}
		.rightBTN i{
			vertical-align: middle;
		}.rightBTN span{
			vertical-align: middle;
		}

		.layui-form-label{
			width: 70px;
		}
		.layui-input-block {
			margin-left: 100px;
		}
	</style>
</head>
<body>
<div class="layui-form" action="" lay-filter="component-form-group" style="padding: 20px 30px 0 0;">
	<!-- <div class="layui-form-item">
		<label class="layui-form-label">类型</label>
        <div class="layui-input-block">
            <select class="dialogRuleSelect" id="select_typeid">
                <option value="0">多边形</option>
				<option value="1">椭圆</option>
            </select>
        </div>
	</div> -->
	<div class="layui-form-item">
		<label class="layui-form-label">边数</label>
		<div class="layui-input-block">
			<input id="edges" type="text" name="name" lay-verify="required" placeholder="多边形边数，必须大于3" autocomplete="off" class="layui-input hyname">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">座位数</label>
		<div class="layui-input-block">
			<input id="seat_nums" type="text" name="name" lay-verify="required" placeholder="多边形多个边数用,分割: 4,5" autocomplete="off" class="layui-input hyname">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">编号规则</label>
        <div class="layui-input-block">
            <select class="dialogRuleSelect" lay-skin="select" id="select_ruleid">
                <option value="1">左单右双</option>
				<option value="2">左双右单</option>
				<option value="3">从左到右</option>
				<option value="4">从右到左</option>
            </select>
        </div>
	</div>
	<div class="layui-form-item-div">
		<div class="layui-form-item layui-form-item-w50" style="width: 100%;">
			<label class="layui-form-label">起点</label>
			<div class="layui-input-block" style="float: left;margin: 0;width: 16%;">
				<input id="startxaxis" type="number" name="name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input hyname">
			</div>
			<div class="layui-input-block" style="float: left;margin: 0;width: 16%;">
				<input id="startyaxis" type="number" name="name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input hyname">
			</div>
			<label class="layui-form-label" style="width: 30px;">终点</label>
			<div class="layui-input-block" style="float: left;margin: 0;width: 16%;">
				<input id="endxaxis" type="number" name="name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input hyname">
			</div>
			<div class="layui-input-block" style="float: left;margin: 0;width: 16%;">
				<input id="endyaxis" type="number" name="name" lay-verify="required" placeholder="" autocomplete="off" class="layui-input hyname">
			</div>
		</div>
		<a id="mousecheck" href="javascript:;" class="rightBTN">
			<i class="layui-icon iconfont icon-dingwei"></i>
			<span>点选</span>
		</a>
	</div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<!-- <script src="../../../layuiadmin/layui/arrange/meet/meetcreatfrom.js"></script> -->
<script>

layui.config({
	base: '../../../layuiadmin/' //静态资源所在路径
}).extend({
	index: 'lib/index' //主入口模块
}).use(['index', 'user', 'table'], function() {
	var $ = layui.$,
		form = layui.form,
		element = layui.element,
		table = layui.table,
		layer = layui.layer,
		setter = layui.setter,
		router = layui.router();
		var seatUrl = setter.seatBaseUrl;
	
	var axisxy = window.sessionStorage.getItem("__polygonaxisxy") || "";
	if(!!axisxy){
		axisxy = JSON.parse(axisxy);
		$("#startxaxis").val(axisxy.x1);
		$("#startyaxis").val(axisxy.y1);
		$("#endxaxis").val(axisxy.x);
		$("#endyaxis").val(axisxy.y);

		$("#edges").val(axisxy.edges||"")
		$("#seat_nums").val(axisxy.seatnum||"");
		$("#select_ruleid").val(axisxy.select_ruleid||"1");

		layui.form.render("select");
		
		window.sessionStorage.setItem("__polygonaxisxy","");
	}

	$("#mousecheck").bind('click',function(){
		var edges = $("#edges").val() || "";
		var seat_nums = $("#seat_nums").val() || "";
		var select_ruleid = $("#select_ruleid").val() || "";

		// window.parent.bindRulePoint();
		window.parent.seatmaps.mouseCreateMapAxis("polygon",seat_nums,select_ruleid,edges);

		var index = parent.layer.getFrameIndex(window.name);
		parent.layer.close(index);
	});

	// $('#seat_nums').on('keydown', function (event) {
	// 	if (event.keyCode == 13) {
	// 		var layer = layui.layer;
	// 		var edges = +$("#edges").val() || 0;
	// 		var seat_nums = $("#seat_nums").val() || "";
	// 		if(edges == "" || edges < 3){
	// 			layer.msg('请输入边数，必须大于3');
	// 			return false;
	// 		}
	// 		if(seat_nums == ""){
	// 			layer.msg('请输入座位数');
	// 			return false;
	// 		}
	// 		var condi = {};
	// 		condi.type = 0;
	// 		condi.edges = +edges;
	// 		condi.seat_nums = seat_nums.split(",");
	// 		condi.seat_nums = condi.seat_nums.map(function(n){
	// 			if(!+n){
	// 				layer.msg('座位数只能输入数字，且用,分割');
	// 				return false;
	// 			}
	// 			return +n;
	// 		});
	// 		getCustomSeats(condi);
			
	// 		return false
	// 	}
	// });

	// function getCustomSeats(condi){
	// 	// type为0时多边形，type为1是椭圆形；
	// 	// edges是边数，多边形的话edges>2，椭圆形的话edges=1
	// 	// center_x和center_y可以不传;
	// 	// seat_nums是从里到外嵌套排列，每一层的座位数

	// 	layer.load(2);
	// 	var condi = condi;
	// 	$.ajax({
	// 		async: true,
	// 		type: "post",
	// 		data: JSON.stringify(condi),
	// 		contentType: 'application/json', 
	// 		url: seatUrl + "/v1/editor",
	// 		dataType: "json",
	// 		success: function(obj) {
	// 			console.log(obj);
	// 			if(obj && obj.seats){
	// 				window.parent.bulidSeverPolygonContainer(obj);
	// 			}
	// 			layer.closeAll();

	// 			var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
	// 			parent.layer.close(index);
	// 		},
	// 		//失败的回调函数
	// 		error: function() {
	// 			console.log("error");
	// 			layer.closeAll();

	// 			var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
	// 			parent.layer.close(index);
	// 		}
	// 	});
	// }
})
</script>
</body>
</html>
