<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>表单组合</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<script src="../../../js/jquery-3.1.1.min.js"></script>
</head>
<body>
<div class="layui-form" action="" lay-filter="component-form-group" style="padding: 20px 30px 0 0;">
	
	<div class="layui-form-item">
		<label class="layui-form-label">绘制方式</label>
        <div class="layui-input-block">
            <select class="dialogRuleSelect" lay-skin="select" lay-filter="meetrule-form-select" id="meet_typeid">
			    <option value="1">鼠标绘制</option>
				<option value="2">参数绘制</option>
            </select>
        </div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">编号规则</label>
        <div class="layui-input-block">
            <select class="dialogRuleSelect" lay-skin="select" id="select_ruleid">
                <option value="1">左单右双</option>
				<option value="2">左双右单</option>
				<option value="3">从左到右</option>
				<option value="4">从右到左</option>
            </select>
        </div>
	</div>

	<div class="layui-form-item"  id="meet3form" style="display: none;">
		<label class="layui-form-label">向心点选择</label>
        <div class="layui-input-block">
            <select class="dialogRuleSelect" lay-skin="select" lay-filter="point-form-select"  id="select_point">
                
            </select>
        </div>
	</div>
	
	<div class="layui-form" >
		<div class="layui-form-item">
			<label class="layui-form-label">环形座位数</label>
			<div class="layui-input-block">
				<input id="seatnum" type="text" name="name" lay-verify="required" placeholder="20" autocomplete="off" class="layui-input hyname">
			</div>
		</div>
		<div id="mousetip" ><span style="font-size: 12px;color: #2b2b2b;margin-left: 112px;">输入环形座位数，点击确定之后，拖动鼠标绘制环形座区图。</span></div>
	</div>

	<div class="layui-form" id="meet2form" style="display: none;">
		<div class="layui-form-item" >
			<label class="layui-form-label">圆心(x,y)</label>
			<div class="layui-input-block" style="float: left;margin-left: 0px;">
				<input id="ccx" type="text" name="name" lay-verify="required" placeholder="600" autocomplete="off" class="layui-input hyname">
			</div>
			<div class="layui-input-block" style="float: left;margin-left: 0px;">
				<input id="ccy" type="text" name="name" lay-verify="required" placeholder="300" autocomplete="off" class="layui-input hyname">
			</div>
		</div>
		<div class="layui-form-item" >
			<label class="layui-form-label">半径</label>
			<div class="layui-input-block">
				<input id="r1" type="text" name="name" lay-verify="required" placeholder="200" autocomplete="off" class="layui-input hyname">
			</div>
		</div>
	</div>


	<div class="layui-form-item" style="display: none;">
		<label class="layui-form-label">显示桌号</label>
		<div class="layui-input-block" >
			<input type="checkbox" id="diningtable" name="" title="" lay-skin="primary" > 
		</div>
	</div>
	
	<!-- <div class="layui-form-item">
		<label class="layui-form-label">列数</label>
		<div class="layui-input-block">
			<input id="colnum" type="text" name="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input hyname">
		</div>
	</div> -->
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<!-- <script src="../../../layuiadmin/layui/arrange/meet/meetcreatfrom.js"></script> -->
<script>

layui.config({
	base: '../../../layuiadmin/' //静态资源所在路径
}).extend({
	index: 'lib/index' //主入口模块
}).use(['index', 'user', 'table'], function() {
	var $ = layui.$,
		form = layui.form,
		element = layui.element,
		table = layui.table,
		layer = layui.layer,
		router = layui.router();
	
		form.on('select(meetrule-form-select)', function(data){
			var id = +data.value;
			if(id == 1){
				$("#meet2form,#meet3form").hide();
				$("#mousetip").show();
			}else{
				$("#meet2form,#meet3form").show();
				$("#mousetip").hide();
			}
		});

		form.on('select(point-form-select)', function(data){
			var pos = data.value;
			setPointXy(pos);
		});

	$('#seatnum,#r1').on('keydown', function (event) {
		if (event.keyCode == 13) {
			var layer = layui.layer;
			var typeid = +$("#meet_typeid").val();
			var select_ruleid = +$("#select_ruleid").val();

			var seatnum = +$("#seatnum").val() || 0;
			if(seatnum <= 0 ){
				layer.msg('座位数量输入错误');
				return false;
			}

			if(typeid == 1){
				window.parent.seatmaps.mouseCreateSeatMap(1,seatnum,0,select_ruleid);
			}else{
				var ccx = +$("#ccx").val() || 0;
				var ccy = +$("#ccy").val() || 0;
				var r1 = +$("#r1").val() || 0;
				if(ccx <= 0 || ccy <= 0){
					layer.msg('圆心坐标输入错误');
					return false;
				}
				if(r1 <= 0 ){
					layer.msg('半径输入错误');
					return false;
				}
				window.parent.seatmaps.createCircleSeatMap(ccx,ccy,r1,seatnum,select_ruleid,0);
			}
			var index = parent.layer.getFrameIndex(window.name);
			parent.layer.close(index);
			return false
		}
	});

	
	addPonitList();
	//加载本地数据
	function addPonitList(){
		var rulepoint = window.localStorage.getItem("__rulepoint") || "";
		if(rulepoint){
			rulepoint = JSON.parse(rulepoint);
		}else{
			rulepoint = [];
		}


		var ul = [];
		ul.push('<option value="" >请选择</option>');
		for(var i = 0,len = rulepoint.length; i < len; i++){
			var item = rulepoint[i] || {};
			var pos = item.pos;

			ul.push('<option value="' + pos + '" >' + item.name +'</option>');

		}
		$("#select_point").html(ul.join(''));
		layui.form.render();
	}

	function setPointXy(pos){
		var xy = pos.split(',');
		$("#ccx").val(xy[0]);
		$("#ccy").val(xy[1])
	}
});
</script>
</body>
</html>
