<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>人员表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <style type="text/css">
        .layui-form-label{
            width: 120px;
        }
        .layui-input-block {
            margin-left: 150px;
        }
        .layui-tree-emptyText {
            text-align: left;
            color: #999;
            padding-top: 8px;
        }
    </style>
</head>
<body>
<div style="padding: 20px 20px 0 0;">
    <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list">
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">会议名称</label>-->
<!--            <div class="layui-input-block">-->
<!--                <select name="meeting_list" lay-filter="component-form-select" id="meeting_list" class="meeting_list" style="width: 400px">-->
<!--                    <option value="">请选择会议</option>-->
<!--                    <option value="" id="select_meet"></option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-block">
                <input type="text" name="author" lay-verify="required" placeholder="请输入姓名(必填)" autocomplete="off" id="name" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">姓名首字母</label>
            <div class="layui-input-block">
                <input type="text" name="szm" lay-verify="required" placeholder="请输入姓名首字母" autocomplete="off" id="szm"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-block">
                <select name="sexid" id="sexid">
                    <option value="" selected="selected">请选择性别</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">单位</label>
            <div class="layui-input-block">
                <input type="text" name="company" lay-verify="required" placeholder="请输入单位(必填)" autocomplete="off" id="company"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">职务</label>
            <div class="layui-input-block">
                <input type="text" name="duties" lay-verify="required" placeholder="请输入职务(必填)" autocomplete="off" id="duties"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">常用手机号</label>
            <div class="layui-input-block">
                <input type="text" name="phone1" lay-verify="required" placeholder="请输入常用手机号(必填)(接收回复各类信息)" autocomplete="off" id="phone1"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备用手机号</label>
            <div class="layui-input-block">
                <input type="text" name="phone2"  placeholder="请输入备用手机" autocomplete="off" id="phone2" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">紧急联系人</label>
            <div class="layui-input-block">
                <input type="text" name="contacts"  placeholder="请输入紧急联系人(办公秘书或者其他固定联系人)" autocomplete="off" id="contacts"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">紧急联系人手机</label>
            <div class="layui-input-block">
                <input type="text" name="contactsphone"  placeholder="请输入紧急联系人手机号" autocomplete="off" id="contactsphone"
                       class="layui-input">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">人员证件编号</label>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="text" name="cardid" lay-verify="required" placeholder="请输入人员证件编号(大会证件编号)" autocomplete="off" id="cardid"-->
<!--                       class="layui-input">-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">是否上主席台</label>-->
<!--            <div class="layui-input-block">-->
<!--                <select name="isstagger" lay-filter="isstagger" id="isstagger"  style="width: 400px">-->
<!--                    <option value="">请选择</option>-->
<!--                    <option value="0">不上</option>-->
<!--                    <option value="1">上</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item" id="viprooms" style="display: none">-->
<!--            <label class="layui-form-label">休息室</label>-->
<!--            <div class="layui-input-block">-->
<!--                <select name="viproom" lay-filter="component-form-select" id="viproom"  style="width: 400px">-->
<!--                    <option value="">请选择休息室</option>-->
<!--                    <option value="1">南休息室</option>-->
<!--                    <option value="2">东休息室</option>-->
<!--                    <option value="3">西休息室</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item">-->
<!--            <label class="layui-form-label">是否是召集人</label>-->
<!--            <div class="layui-input-block">-->
<!--                <select name="isconvenor" lay-filter="isconvenor" id="isconvenor"  style="width: 400px;">-->
<!--                    <option value="">请选择</option>-->
<!--                    <option value="1">是</option>-->
<!--                    <option value="0">不是</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="layui-form-item" style="display: none" id="convenornums">-->
<!--            <label class="layui-form-label">第几召集人</label>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="text" name="convenornum" placeholder="请输入" autocomplete="off" id="convenornum"-->
<!--                       class="layui-input">-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">驻地</label>
            <div class="layui-input-block">
                <input type="text" name="address" lay-verify="required" placeholder="请输入驻地" autocomplete="off" id="address"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">房间号</label>
            <div class="layui-input-block">
                <input type="text" name="roomnum" lay-verify="required" placeholder="请输入驻地" autocomplete="off" id="roomnum"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">属性列表</label>
            <div class="layui-input-block">
                <div id="tree"></div>
            </div>

        </div>
        <div class="layui-form-item" style="position: relative;">
            <label class="layui-form-label">证件照片</label>
            <div class="layui-card-body" style="position: absolute;left: 135px;">
                <div id="test-upload-image" style="float: left;margin-bottom:10px;margin-right:10px"></div>
                <!-- <div id = "test-upload-image" style="float: left;"></div> -->
                <div class="layui-upload-drag" id="test-upload-drag" style="float: left;">
                    <i class="layui-icon"></i>
                    <p>点击上传，或将证件照片拖拽到此处</p>
                </div>
            </div>
        </div>

        <!-- <div class="layui-form-item" style="display: none;">
            <div class="layui-col-md12"> -->
        <!-- <div class="layui-card"> -->
        <!-- <div class="layui-card-header">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;证件照片</div>
        <div class="layui-card-body">
            <div class="layui-upload-drag" id="test-upload-drag" style="margin-left: 100px;float: left;">
                <i class="layui-icon"></i>
                <p>点击上传，或将证件照片拖拽到此处</p>
            </div>
            <div id = "test-upload-image" style="float: left;margin-left: 50px;"></div>
        </div> -->
        <!-- </div> -->
        <!-- </div>
    </div> -->


        <div class="layui-form-item" style="display: none;">
            <div class="layui-input-block">
                <input type="text" name="" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"
                       id="meetingid" style="display: none;">
            </div>
        </div>
        <div class="layui-form-item layui-hide">
            <div class="layui-input-block">
                <input type="text" name="id" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"
                       id="id" style="display: none;">
            </div>
        </div>
        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div style="position: absolute;right: 0px;bottom: 0px;">
                    <button class="layui-btn" lay-submit="" lay-filter="addmeeting" id="click">增加</button>
                    <button class="layui-btn" lay-submit="" lay-filter="updatameeting" id="upclick">修改</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<!--<script src="../../../layuiadmin/layui/arrange/attender/attenderupform.js" type="text/javascript" charset="utf-8"></script>-->
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form','upload','tree'], function(){
        var $ = layui.$
            ,upload = layui.upload
            ,form = layui.form,
            setter = layui.setter,
            tree = layui.tree
        var url = setter.baseUrl;
        var attributes =[];
        var uploadfile = null;
        //监听提交
        var uploadInst = upload.render({
            elem: '#test-upload-normal'
            ,url: '/upload/'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#test-upload-normal-img').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#test-upload-demoText');
                demoText.html('<span style="color: #ff5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
        //渲染会议下拉框的ajax
        // $.ajax({
        //     async: false,
        //     type: "get",
        //     url: url+"/meeting/findAll",
        //     dataType: "json",
        //     xhrFields: {
        //         withCredentials: true
        //     },
        //     //成功的回调函数
        //     data: {
        //
        //     },
        //     success: function(msg) {
        //
        //         var data = msg.data.reverse();
        //
        //         $.each(data, function(idx, con) {
        //             $("#select_meet").after("<option value=" + con.id + ">" + con.name + "</option>");
        //
        //         })
        //
        //         $("#meeting_list").val($("#meetingid").val());
        //
        //
        //     },
        //     //失败的回调函数
        //     error: function() {
        //         console.log("error")
        //     }
        // })
        var data;
        var id = $('#id').val();
        console.log(id)
        $.ajax({
            async: false,
            type: "get",
            url: url+"/attribute/findshowtree",
            datatype: 'json',
            data:{
                "id":id
            },

            xhrFields: {
                withCredentials: true
            },
            //成功的回调函数
            success: function (msg) {
                data = msg.data

            },
            error: function (error) {
                console.log(error)
            },
        })
        //渲染
        var inst1 = tree.render({
            elem: '#tree'  //绑定元素
            , data: data,
            showCheckbox: true,
            oncheck: function (obj) {
                // console.log(obj.data); //得到当前点击的节点数据
                // console.log(obj.checked.id); //得到当前节点的展开状态：open、close、normal
                // console.log(obj.elem); //得到当前节点元素
                if(obj.checked == true){
                    if(obj.data.children.length !=0){
                        $.each(obj.data.children,(idx,con)=>{
                            attributes.push(con.id);
                        })
                    }else{
                        attributes.push(obj.data.id);
                    }

                }else{
                    if(obj.data.children.length !=0){
                        $.each(obj.data.children,(idx,con)=>{
                            attributes.splice($.inArray(con.id,attributes),1)
                        })
                    }else{
                        var i = $.inArray(obj.data.id,attributes)

                        if( i != -1){
                            attributes.splice(i,1)
                        }
                    }



                }
            }

        });

        upload.render({
            elem: '#test-upload-drag'
            ,url: '/upload/',
            auto: false,
            bindAction:'#btn99',
            choose: function(obj){ //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                obj.preview(function(index, file, result){
                    // console.log(index); //得到文件索引
                    // console.log(file);
                    uploadfile = file;//得到文件对象
                    // console.log(uploadfile)
                    // console.log(result); //得到文件base64编码，比如图片

                    //obj.resetFile(index, file, '123.jpg'); //重命名文件名，layui 2.3.0 开始新增

                    //这里还可以做一些 append 文件列表 DOM 的操作

                    //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                    //delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                });
            }
            ,done: function(res){
                console.log(res)
            }
        });

        // upload.render({
        //     elem: '#test-upload-drag'
        //     ,url: '/upload/'
        //     ,done: function(res){
        //         console.log(res)
        //     }
        // });
        form.render();
        form.on('submit(updatameeting)', function(data) {
            var formdata = new FormData();
            if(uploadfile != null){
                /* return layer.msg("请选择证件照片") */
                formdata.append('file',uploadfile);
            }
            formdata.append('id',data.field.id);
            formdata.append('file',uploadfile);
            formdata.append('name',data.field.author);
            formdata.append('company',data.field.company);
            formdata.append('duties',data.field.duties);
            formdata.append('phone1',data.field.phone1);
            formdata.append('phone2',data.field.phone2);
            formdata.append('contacts',data.field.contacts);
            formdata.append('contactsPhone',data.field.contactsphone);
            // formdata.append('cardId',data.field.cardid);
            formdata.append('attributes',JSON.stringify(attributes));
            // formdata.append('convenornum',data.field.convenornum);
            formdata.append('meetingId',data.field.meeting_list);
            formdata.append('sexid',data.field.sexid);
            formdata.append('address',data.field.address);
            formdata.append('roomnum',data.field.roomnum);
            formdata.append('szx',data.field.szm);
            $.ajax({
                async: false,
                url: url + "/addressbook/modify",
                type: "POST",
                xhrFields: {
                    withCredentials: true
                },
                data: formdata,
                contentType:false,
                processData: false,
                success: function (res) {
                    if (res.code == '0') {
                        parent.layer.msg('维护成功');
                        var index = parent.layer.getFrameIndex(window.name)
                        parent.layer.closeAll();
                        parent.reload();
                    } else {
                        layer.msg(res.msg, {
                            icon: 5
                        });
                        var index = parent.layer.getFrameIndex(window.name)
                        parent.layer.closeAll();
                    }
                },
                error: function (error) {
                    layer.msg('维护失败，服务器错误请稍后再试', {
                        icon: 5
                    });
                    layer.close(index);
                }
            });

        });
        form.on('submit(addmeeting)', function(data) {
            console.log(data)
            console.log()
            if(uploadfile == null){
                return layer.msg("请选择证件照片")
            }
            var formdata = new FormData();
            formdata.append('file',uploadfile);
            formdata.append('name',data.field.author);
            formdata.append('company',data.field.company);
            formdata.append('duties',data.field.duties);
            formdata.append('phone1',data.field.phone1);
            formdata.append('phone2',data.field.phone2);
            formdata.append('contacts',data.field.contacts);
            formdata.append('contactsPhone',data.field.contactsphone);
            // formdata.append('cardId',data.field.cardid);
            formdata.append('attributes',JSON.stringify(attributes));
            formdata.append('convenornum',data.field.convenornum);
            formdata.append('meetingId',data.field.meeting_list);
            formdata.append('sexid',data.field.sexid);
            formdata.append('address',data.field.address);
            formdata.append('roomnum',data.field.roomnum);
            formdata.append('szx',data.field.szm);
            $.ajax({
                async: false,
                type: "post",
                url: url+"/meetingcanhui/addMeetingCanHui",
                contentType:false,
                processData: false,
                data:formdata,
                xhrFields: {
                    withCredentials: true
                },
                //成功的回调函数
                success: function (msg) {

                    if(msg.code==0){
                        parent.layer.msg(msg.msg)
                        var index = parent.layer.getFrameIndex(window.name)
                        parent.layer.closeAll();
                        parent.reload();
                    }else{
                        parent.layer.msg(msg.msg)
                        var index = parent.layer.getFrameIndex(window.name)
                        parent.layer.closeAll();
                    }
                },
                error: function (error) {
                    console.log(error)
                },
            })
            return false;
        });
    })
</script>
</body>
</html>
