<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <style type="text/css">
        .layui-form-label {
            width: 100px;
        }

        .layui-input-block {
            margin-left: 130px;
        }

        .layui-form-label span {
            color: #f00;
            font-size: 14px;
            margin-right: 5px;
        }

        .layui-input-block span,
        p span {
            color: #f00;
            font-size: 14px;
            margin: 0 5px;
        }
    </style>
</head>

<body>
<div class="layui-card-body" style="padding: 20px 20px 0 0;">
    <form class="layui-form" action="" lay-filter="component-form-group">
        <div class="layui-form-item">
            <label class="layui-form-label"><span>*</span>Version</label>
            <div class="layui-input-block">
                <input type="text" name="version" lay-verify="required" placeholder="请输入Version" autocomplete="off"
                       id="version" class="layui-input">
            </div>
        </div>
		<div class="layui-form-item">
		    <label class="layui-form-label"><span>*</span>ContractType</label>
		    <div class="layui-input-block">
		        <input type="text" name="contractType" lay-verify="required" placeholder="请输入ContractType" autocomplete="off"
		               id="contractType" class="layui-input">
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label"><span>*</span>DevEUI</label>
		    <div class="layui-input-block">
		        <input type="text" name="devEUI" lay-verify="required" placeholder="请输入DevEUI" autocomplete="off"
		               id="devEUI" class="layui-input">
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label"><span>*</span>PINCode</label>
		    <div class="layui-input-block">
		        <input type="text" name="pincode" lay-verify="required" placeholder="请输入PINCode" autocomplete="off"
		               id="pincode" class="layui-input">
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label"><span>*</span>AppKey</label>
		    <div class="layui-input-block">
		        <input type="text" name="appKey" lay-verify="required" placeholder="请输入AppKey" autocomplete="off"
		               id="appKey" class="layui-input">
		    </div>
		</div>
		<div class="layui-form-item">
		    <label class="layui-form-label"><span>*</span>GenAppKey</label>
		    <div class="layui-input-block">
		        <input type="text" name="genAppKey" lay-verify="required" placeholder="请输入GenAppKey" autocomplete="off"
		               id="genAppKey" class="layui-input">
		    </div>
		</div>
        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div style="position: absolute;right: 0px;bottom: 0px;">
                    <button class="layui-btn" lay-submit="" lay-filter="addsms" id="click">增加</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form', 'laydate', 'element', 'upload'], function () {
        var $ = layui.$,
            setter = layui.setter,
            form = layui.form;
        var url = setter.baseUrl;
        // var url = "http://127.0.0.1:8083"
        var id = getUrlParam("id");
		
		
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);  //匹配目标参数
            if (r != null) return decodeURI(r[2]); return null; //返回参数值
        }
		
        form.on('submit(addsms)', function () {
            var data = {};
			data.version = $("#version").val();
			data.contractType = $("#contractType").val();
			data.devEUI = $("#devEUI").val();
			data.pINCode = $("#pincode").val();
			data.appKey = $("#appKey").val();
			data.genAppKey = $("#genAppKey").val();
			
            $.ajax({
                url: url + "/deviceGroup/insertSelective",
                type: "post",
                dataType: "json",
                data: data,
                async: false,
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    if (data.code == 0) {
                        parent.layer.msg("修改成功")
                        var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                        parent.layer.close(index);
                        parent.reloads();
                    }else{
                        parent.layer.msg(data.msg)
                    }
                },
                error: function (error) {
                    console.log(error)
                }

            })
            return false;
        })
    });
</script>
</body>

</html>