<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>编排规则</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" type="text/css" href="../../../css/scosun.css" />
    <script src="../../../js/scosun.js"></script>
    <script src="../../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        .btnadd {
            background: #666 url(../../../images/btnadd.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .btndel {
            background: #666 url(../../../images/btndel.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .btncheckall {
            background: #666 url(../../../images/btncheckall.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .btndow {
            background: #666 url(../../../images/btndow.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .btnempty {
            background: #666 url(../../../images/btnempty.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .btnsearch {
            background: #666 url(../../../images/btnsearch.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .btnupload {
            background: #666 url(../../../images/btnupload.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .btnuploadimg {
            background: #666 url(../../../images/btnuploadimg.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .btnsearch {
            background: #666 url(../../../images/btnsearch.png) no-repeat center center;
            background-size: 1.2rem 1.2rem;
            text-indent: -9999px;
        }

        .layui-btn+.layui-btn {
            margin-left: 0;
        }

        .layui-card-body {
            padding-top: 12px
        }
    </style>
</head>

<body>
    <div class="layui-col-md12">
        <div class="layui-row grid-demo grid-demo-bg1">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card">

                        <div class="layui-card-body">
                            <div>
                                <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;"
                                    id="group">
                                    <!-- <button class="layui-btn" data-type="add">增加</button>
                                    <button class="layui-btn" data-type="getCheckData">获取选中行数据</button>
                                    <button class="layui-btn" data-type="getCheckLength">获取选中数目</button>
                                    <button class="layui-btn" data-type="isAll">验证是否全选</button> -->


                                </div>
                                <div class="layui-input-inline" style="margin-bottom:10px;margin-left:10px;width: 25%">
                                    <label class="layui-form-label">选择会议</label>
                                    <div class="layui-input-block">
                                        <form class="layui-form" action="">

                                            <select name="interest" lay-skin="select" lay-filter="component-form-select"
                                                id="select-room">

                                                <option value="-1">选择会议</option>
                                                <option value="" id="select_meets"></option>
                                            </select>
                                        </form>
                                    </div>
                                </div>

                                <!-- <div class="layui-btn-group test-table-operate-btn1" style="margin-left: 20px;margin-bottom: 10px;"
                                    id="group">
                                    <!-- <!-- <!-- <button class="layui-btn" data-type="add">增加</button>
                                    <button class="layui-btn" data-type="getCheckData">获取选中行数据</button> -->
                                <!-- <button class="layui-btn layui-ds" data-type="upload">批量导入</button>
                                    <button class="layui-btn layui-ds" data-type="download">下载模板</button> -->
                                <!-- </div> -->
                                <!-- 右侧筛选条件 -->
                                <div class="test-table-reload-btn" style="float:right;margin-bottom: 10px;">
                                    <div class="layui-inline">
                                        <input class="layui-input" name="id" placeholder="关键字模糊搜索" id="demoReload"
                                            autocomplete="off">
                                    </div>
                                    <button class="layui-btn layui-ds btnsearch" data-type="search" id="btnsearch"
                                        data="搜索">搜索</button>
                                </div>
                                <!-- 右侧筛选条件 end-->
                            </div>
                            <div>
                                <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate">
                                </table>
                            </div>
                            <div class="layui-form-item layui-layout-admin layui-hide">
                                <div class="layui-input-block">
                                    <div style="position: absolute;right: 0px;bottom: 0px;">
                                        <button class="layui-btn" lay-submit="" lay-filter="addsms"
                                            id="click">增加</button>
                                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script type="text/javascript">
        var indexs = 0;

        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'user', 'form', 'table'], function () {
            var $ = layui.$,
                setter = layui.setter,
                admin = layui.admin,
                form = layui.form,
                element = layui.element,
                table = layui.table,
                layer = layui.layer,
                datas = null,
                router = layui.router();
            element.render();
            //初次渲染表格
            var url = "https://f.longjuli.com"
            // var url="http://127.0.0.1:8083";
            var uri = window.location.search;
            var sid = uri.substr(4)
            
            var checkedSet = new Set();
            $.ajax({
                    url: url + "/flockperson/findBymeeting",
                    type: "get",
                    dataType: "json",
                    data: {
                        id: sid,
                    },
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            checkedSet = new Set(data.data)
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }

                })
            //渲染下拉框的ajax
            $.ajax({
                async: true,
                type: "get",
                url: url + "/meeting/findAll",
                dataType: "json",
                xhrFields: {
                    withCredentials: true
                },
                //成功的回调函数
                success: function (msg) {
                    var data = msg;
                    $.each(data.data, function (idx, con) {
                        $("#select_meets").after("<option value=" + con.id + ">" + con.name +
                            "</option>");
                    })
                    form.render();
                },
                //失败的回调函数
                error: function () {
                    console.log("error")
                }
            })
            //选中以后更新表的ajax
            window.ajaxs = function (value) {

                table.render({
                    elem: '#test-table-operate',
                    // height: 'full-200',
                    url: url + "/meetingcanhui/findMeetingCanHuiBylayui" //数据接口
                    ,
                    xhrFields: {
                        withCredentials: true
                    },
                    where: {
                        "meetingId": value
                    },

                    method: 'get',
                    page: {
                        layout: ['prev', 'page', 'next', 'count', 'skip']
                    },
                    cols: [
                        [ //表头
                            {
                                type: 'checkbox',
                                fixed: 'left'
                            },
                            {
                                field: 'id',
                                title: 'ID',
                                align: 'left',
                                unresize: 'false',
                                width: 80
                            },
                            {
                                field: 'name',
                                title: '姓名',
                                align: 'leftleft',
                            },
                            {
                                field: 'duties',
                                // width: '25%',
                                title: '单位职务',
                                align: 'left',
                            }, {
                                field: 'phone1',
                                align: 'left',
                                title: '联系电话'
                            },
                            {
                                width: 80,
                                field: 'isleave',
                                align: 'left',
                                title: '是否请假',
                                templet: function (data) {
                                    if (data.isleave == 0) {
                                        return '参会'
                                    }
                                    if (data.isleave == 1) {
                                        return '请假'
                                    }
                                    if (data.isleave == undefined) {
                                        return ''
                                    }
                                },
                            },

                            {
                                field: 'modifytime',
                                title: '时间',
                                align: 'left',

                            }
                        ]
                    ],

                    event: true,
                    page: true,
                    limit: 15,
                    skin: 'line',
                    even: true,
                    limits: [5, 10, 15],
                    parseData: function (res) {
                        console.log(res)
                        for (var i in res.data) {

                            if (checkedSet.has(res.data[i].id)) {
                                //如果set集合中有的话，给rows添加check属性选中
                                res.data[i]["LAY_CHECKED"] = true;
                            }
                        }
                        return {
                            "code": res.code, //解析接口状态
                            "count": res.count, //解析数据长度
                            "data": res.data //解析数据列表
                        };
                    },
                    done: function (res, curr, count) {
                        table_data = res.data;

                        layer.closeAll('loading');
                        // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
                        // layer.close(index);    //返回数据关闭loading
                    },
                });
            }

            window.onkeyup = function (ev) {
                var key = ev.keyCode || ev.which;
                if (key == 27) { //按下Escape
                    layer.closeAll('iframe'); //关闭所有的iframe层

                }
            }
            //监听下拉框选中
            form.on('select(component-form-select)', function (data) {

                ajaxs(data.value)
                window.indexs = data.value;
            });
            //监听选中的复选框
            table.on('checkbox(test-table-operate)', function (obj) {
                if (!obj.checked && obj.type == 'all') {
                    var data = layui.table.cache['test-table-operate']
                    $.each(data, function (idx, con) {
                        checkedSet.delete(con.id)
                    });

                }
                if (obj.checked && obj.type == 'all') {

                    $.each(table.checkStatus('test-table-operate').data, function (idx, con) {
                        checkedSet.add(con.id);
                    });
                }
                if (obj.checked && obj.type == 'one') {
                    checkedSet.add(obj.data.id);
                }
                if (!obj.checked && obj.type == 'one') {
                    checkedSet.delete(obj.data.id)
                }
                // if(obj.checked){

                // 			  	}else{
                // }
                console.log(checkedSet)

            });


            form.on('submit(addsms)', function (data) {
                if($('#select-room').val()==-1){
                    return layer.msg("请选择会议")
                }
                var data = data.field;
                var checkbox = Array.from(checkedSet);
                $.ajax({
                    url: url + "/flockperson/addBymeeting",
                    type: "post",
                    dataType: "json",
                    data: {
                        ids: checkbox.join(","),
                        meetingid: $('#select-room').val(),
                        id: sid,
                    },
                    async: false,
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            parent.layer.msg("添加成功")
                            var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                            parent.layer.close(index);
                            parent.reload();
                        } else {
                            parent.layer.msg(data.msg)
                        }
                    },
                    error: function (error) {
                        console.log(error)
                    }

                })
                return false;
            })
            //弹出层区

            var active = {
                search: function () {
                    if ($('#select-room').val() == '-1') {
                        return layer.msg("请选中会议后再搜索")
                    }
                    table.render({
                        elem: '#test-table-operate',
                        // height: 'full-200',
                        url: url + "/meetingcanhui/selectSeatch" //数据接口
                        ,
                        where: {
                            "name": $('#demoReload').val(),
                            "meetingId": $('#select-room').val(),
                        },

                        method: 'get',
                        xhrFields: {
                            withCredentials: true
                        },
                        page: {
                            layout: ['prev', 'page', 'next', 'count', 'skip']
                        },
                        cols: [
                            [ //表头
                                {
                                    type: 'checkbox',
                                    fixed: 'left'
                                },
                                {
                                    field: 'id',
                                    title: 'ID',
                                    align: 'left',
                                    unresize: 'false',
                                    width: 80
                                },
                                {
                                    field: 'name',
                                    title: '姓名',
                                    align: 'leftleft',
                                },
                                {
                                    field: 'duties',
                                    // width: '25%',
                                    title: '单位职务',
                                    align: 'left',
                                }, {
                                    field: 'phone1',
                                    align: 'left',
                                    title: '联系电话'
                                },
                                {
                                    width: 80,
                                    field: 'isleave',
                                    align: 'left',
                                    title: '是否请假',
                                    templet: function (data) {
                                        if (data.isleave == 0) {
                                            return '参会'
                                        }
                                        if (data.isleave == 1) {
                                            return '请假'
                                        }
                                        if (data.isleave == undefined) {
                                            return ''
                                        }
                                    },
                                },

                                {
                                    field: 'modifytime',
                                    title: '时间',
                                    align: 'left',

                                },
                                {
                                    width: 140,
                                    //align: 'right',
                                    //flxed: 'right',
                                    title: '操作',
                                    toolbar: '#table-content-list',
                                }
                            ]
                        ],


                        event: true,
                        page: true,
                        limit: 15,
                        skin: 'line',
                        even: true,
                        limits: [5, 10, 15],
                        done: function (res, curr, count) {
                            table_data = res.data;

                            layer.closeAll('loading');
                            attenderList.length = 0;
                            // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
                            // layer.close(index);    //返回数据关闭loading
                        },




                    });

                },


            }

            //弹出层选项区

            $('.layui-ds').on('click', function () {
                var type = $(this).data('type');
                active[type] && active[type].call(this);
            });

            /*右侧菜单HOVER显示提示文字*/
            $('.test-table-operate-btn button').each(function () {
                var _id = $(this).attr('id');
                var _data = $(this).attr('data');
                $("#" + _id).hover(function () {
                    openMsg();
                }, function () {
                    layer.close(subtips);
                });
                function openMsg() {
                    subtips = layer.tips(_data, '#' + _id, { tips: [3, '#666'], time: 30000 });
                }
            })


        })
    </script>
</body>

</html>