<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>人员表单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
</head>

<body>

    <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list">
        <div class="layui-upload-drag" id="test-upload-drag" style="margin-left: -157px;margin-top: 50px;left: 50%;">
            <i class="layui-icon"></i>
            <p>点击上传，或将参会人员信息拖拽到此处</p>
        </div>

    </div>
    <div class="layui-form-item layui-hide">
        <div class="layui-input-block">
            <input type="text" name="meetingid" lay-verify="required" placeholder="请输入" autocomplete="off"
                class="layui-input" id="meetingid">
        </div>
        <div class="layui-form-item layui-layout-admin layui-hide">
            <div class="layui-input-block">
                <div style="position: absolute;right: 0px;bottom: 0px;">
                    <button class="layui-btn" lay-submit="" lay-filter="addmeeting" id="click">增加</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
        }).use(['index', 'form', 'upload', 'tree'], function () {
            var $ = layui.$
                , upload = layui.upload
                , form = layui.form,
                setter = layui.setter;
            var url = setter.baseUrl;
            // var url = "http://127.0.0.1:8083"
            var uri = window.location.search;
            var sid = uri.substr(4)
            var uploadfile = null;
            var attributes = [];
            upload.render({
                elem: '#test-upload-drag'
                , url: '/upload/',
                auto: false,
                exts: 'xls|xlsx',
                bindAction: '#btn99'
                , choose: function (obj) { //obj参数包含的信息，跟 choose回调完全一致，可参见上文。
                    obj.preview(function (index, file, result) {
                        // console.log(index); //得到文件索引
                        // console.log(file);
                        uploadfile = file //得到文件对象
                        // console.log(uploadfile)
                        // console.log(result); //得到文件base64编码，比如图片

                        //obj.resetFile(index, file, '123.jpg'); //重命名文件名，layui 2.3.0 开始新增

                        //这里还可以做一些 append 文件列表 DOM 的操作

                        //obj.upload(index, file); //对上传失败的单个文件重新上传，一般在某个事件中使用
                        //delete files[index]; //删除列表中对应的文件，一般在某个事件中使用
                    });
                }
                , done: function (res) {
                    console.log(res)
                }
            });
            form.on('submit(addmeeting)', function (data) {
                var meetingid = $('#meetingid').val();
                if (meetingid == -1) {
                    return layer.msg("请选择会议后再进行批量导入人员")
                }
                if (uploadfile == null) {
                    return layer.msg("请选择文件")
                }
                var formdata = new FormData();
                formdata.append('file', uploadfile);
                formdata.append('id', sid);
                $.ajax({
                    async: false,
                    type: "post",
                    url: url + "/flockperson/excelByperson",
                    contentType: false,
                    processData: false,
                    data: formdata,
                    xhrFields: {
                        withCredentials: true
                        },
                    //成功的回调函数
                    success: function (msg) {
                        console.log(msg.code)
                        if (msg.code == 0) {
                            parent.layer.msg(msg.msg)
                            var index = parent.layer.getFrameIndex(window.name)
                            parent.layer.close(index)
                            parent.ajaxs(meetingid)
                        } else {
                            parent.layer.msg(msg.msg)
                            var index = parent.layer.getFrameIndex(window.name)
                            parent.layer.close(index)
                        }

                    },
                    error: function (error) {
                        console.log(error)
                    },
                })

                return false;
            });
        })
    </script>
</body>

</html>
