<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<style type="text/css">
		.layui-form-label {
			width: 100px;
		}

		.layui-input-block {
			margin-left: 130px;
		}

		.layui-form-label span {
			color: #f00;
			font-size: 14px;
			margin-right: 5px;
		}

		.layui-input-block span,
		p span {
			color: #f00;
			font-size: 14px;
			margin: 0 5px;
		}
	</style>
</head>

<body>
	<div class="layui-card-body" style="padding: 20px 20px 0 0;">
		<form class="layui-form" action="" lay-filter="component-form-group">
			<div class="layui-form-item">
				<label class="layui-form-label"><span>*</span>通知标题:</label>
				<div class="layui-input-block">
					<input type="text" name="title" lay-verify="required" placeholder="模版名称" autocomplete="off"
						id="username" class="layui-input">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">选择输入方式:</label>
				<div class="layui-input-block">
					<select name="flag" lay-skin="select" lay-filter="component-form-selects">
						<option value="-1">请选择输入方式</option>
						<option value="0" >自定义输入</option>
						<option value="1" >选择模版</option>
					</select>
				</div>
			</div>
			<div class="layui-form-item layui-hide" id="template">
				<label class="layui-form-label"><span>*</span>通知模版:</label>
				<div class="layui-input-block">
					<select name="noticeid" lay-skin="select" lay-filter="component-form-select" id="smslist">
						<option value="" id="smss"></option>
					</select>
				</div>
			</div>
			<div class="layui-form-item layui-layout-admin layui-hide">
				<div class="layui-input-block">
					<div style="position: absolute;right: 0px;bottom: 0px;">
						<button class="layui-btn" lay-submit="" lay-filter="addsms" id="click">增加</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</div>
			<div class="layui-form-item layui-hide" id="content" >
				<label class="layui-form-label">内容:</label>
				<div class="layui-input-block">
					<textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">手机号:</label>
				<div class="layui-input-block">
					<!--					<textarea type="text" name="phone" placeholder="请输入内容111" autocomplete="off"-->
					<!--							  class="layui-textarea"> </textarea>-->
					<textarea name="phone" id="phone" placeholder="请输入手机号，多个手机号的格式为13000000000,13011111111(逗号请用英文下的逗号)" class="layui-textarea"></textarea>
					<p id="label">已输入<span id="smslength">0</span>个字符，共<span id="phones">0</span>个手机号。<br/>
					</p>
				</div>
			</div>


		</form>
	</div>
	<script src="../../../layuiadmin/layui/layui.js"></script>
	<script>
		layui.config({
			base: '../../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'form', 'laydate', 'element', 'upload'], function () {
			var $ = layui.$,
				layer = layui.layer,
				setter = layui.setter,
				form = layui.form;
			var url = setter.baseUrl;
			// var url = "http://127.0.0.1:8083"
			var uploadfile = null;
			$('#phone').bind('input propertychange', function () {
				$('#smslength').text($(this).val().length);
				$('#phones').text($(this).val().split(",").length);
			});
			$.ajax({
				async: false,
				type: "get",
				url: url + "/smstemplate/findAll?smsTemplateType=0",
				where: {
					smsTemplateType: 0
				},
				xhrFields: {
					withCredentials: true
				},

				//成功的回调函数
				success: function (msg) {
					var data = msg;
					$.each(data.data, function (idx, con) {
						$("#smss").after("<option value=" + con.smsTemplateId + ">" + con.smsTemplateName +
								"</option>");
					})
					form.render();
				},
				//失败的回调函数
				error: function () {
					console.log("error")
				}
			})

			form.on('select(component-form-selects)', function (data) {
				if (data.value == "0"){
					$('#template').addClass('layui-hide');
					$('#content').removeClass('layui-hide');
				}
				if (data.value == "1"){
					$('#template').removeClass('layui-hide');
					$('#content').addClass('layui-hide');
				}


			});
			form.on('submit(addsms)', function (data) {

				var data = data.field;
				if (data.flag == -1){
					return layer.msg("请选择输入方式")
				}
				console.log(data);
				$.ajax({
					url: url + "/flolckstatistics/add",
					type: "post",
					dataType: "json",
					data: {
						title: data.title,
						templateid: data.noticeid,
						phone:data.phone,
						content:data.content
					},
					async: false,
					xhrFields: {
						withCredentials: true
					},
					success: function (data) {
						if (data.code == 0) {
							parent.layer.msg("添加成功")
							var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
							parent.layer.closeAll();;
							parent.reloads();
						}else{
							parent.layer.msg(data.msg)
						}
					},
					error: function (error) {
						console.log(error)
					}

				})
				return false;
			})
		});
	</script>
</body>

</html>
