<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>全市领导干部会议</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="email=no">
<script type="text/javascript" src="js/pmsp.js"></script>
<link href="css/base.css" rel="stylesheet" type="text/css" />
<link href="css/Ddate.css" rel="stylesheet" type="text/css" />
<link href="font/iconfont.css" rel="stylesheet">
</head>
<body class="bg2">
<div class="yuingInfo">
    <p class="ts">选择日期</p>
    <div class="chooseDateA">
       2021-3-2 ~ 2021-3-7<i class="iconfont icon-rili"></i>
    </div>
    <div class="stateBt">
        <div class="bt">状态</div>
        <div class="a"><span></span>确定</div>
        <div class="b"><span></span>预定</div>
        <div class="c"><span></span>后补</div>
        <div class="d"><span></span>问询</div>
        <div class="e"><span></span>空闲</div>
    </div>
    <div class="listCont">
        <div class="liDiv">
            <div class="liDivBt">
                <p>龙奥大厦G0401</p>
                <i class="iconfont icon-ziyuan"></i>
            </div>
            <div class="liDivCont">
                <ul class="days">
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom greenLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom blueLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing purpleLeftTop purpleLeftBottom purpleRightTop purpleRightBottom">
                            </div>
                            <div class="innerRing purpleLeftTop purpleRightTop purpleRightBottom purpleLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing greenRightTop">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="liDiv">
            <div class="liDivBt">
                <p>龙奥大厦G0401</p>
                <i class="iconfont icon-ziyuan"></i>
            </div>
            <div class="liDivCont">
                <ul class="days">
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom greenLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom blueLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing purpleLeftTop purpleLeftBottom purpleRightTop purpleRightBottom">
                            </div>
                            <div class="innerRing purpleLeftTop purpleRightTop purpleRightBottom purpleLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing greenRightTop">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="liDiv">
            <div class="liDivBt">
                <p>龙奥大厦G0401</p>
                <i class="iconfont icon-ziyuan"></i>
            </div>
            <div class="liDivCont">
                <ul class="days">
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom greenLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom blueLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing purpleLeftTop purpleLeftBottom purpleRightTop purpleRightBottom">
                            </div>
                            <div class="innerRing purpleLeftTop purpleRightTop purpleRightBottom purpleLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing greenRightTop">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="liDiv">
            <div class="liDivBt">
                <p>龙奥大厦G0401</p>
                <i class="iconfont icon-ziyuan"></i>
            </div>
            <div class="liDivCont">
                <ul class="days">
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom greenLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom blueLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing purpleLeftTop purpleLeftBottom purpleRightTop purpleRightBottom">
                            </div>
                            <div class="innerRing purpleLeftTop purpleRightTop purpleRightBottom purpleLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing greenRightTop">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="liDiv">
            <div class="liDivBt">
                <p>龙奥大厦G0401</p>
                <i class="iconfont icon-ziyuan"></i>
            </div>
            <div class="liDivCont">
                <ul class="days">
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom greenLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom blueLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing purpleLeftTop purpleLeftBottom purpleRightTop purpleRightBottom">
                            </div>
                            <div class="innerRing purpleLeftTop purpleRightTop purpleRightBottom purpleLeftBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="innerRing orangeLeftTop orangeRightTop orangeRightBottom">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                    <li>
                        <div class="ringDiv">
                            <div class="outsideRing greenRightTop">
                            </div>
                            <div class="innerRing greenRightTop">
                            </div>
                            <div class="clockDiv">
                                <div class="a"></div>
                                <div class="b"></div>
                                <div class="c"></div>
                                <div class="d"></div>
                            </div>
                        </div>
                        <p>10日</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- 预定详情 弹框 -->
<div class="pop-mask2" style="display: none;">
    <div class="meetingInfo">
        <div class="meetingInfo-x">
            <div class="meetingInfo-ts">
                <h5>龙奥大厦G0401会议室</h5>
                <p>2021年3月2日（星期二）</p>
            </div>
            <div class="meetingInfo-cont">
                <div class="mcTS">
                    上午<div class="btn y">预定</div>
                </div>
                <!--
                    <span class="a"></span>确定
                    <span class="b"></span>预定
                    <span class="c"></span>后补
                    <span class="d"></span>问询
                    <span class="e"></span>空闲
                -->
                <ul class="mcList">
                    <li><span class="e"></span>空闲</li>
                    <li><span class="d"></span>询问：市政协办公厅</li>
                    <li><span class="d"></span>询问：市纪委建委办公厅</li>
                    <li><span class="d"></span>询问：市外办</li>
                </ul>
            </div>
            <div class="meetingInfo-cont">
                <div class="mcTS">
                    下午<div class="btn h">后补</div>
                </div>
                <ul class="mcList">
                    <li><span class="b"></span>预定：市人大常委会办公厅</li>
                </ul>
            </div>
        </div>
        <div class="choosepop-btn">
            <div class="a">取消</div>
            <div class="b">确定</div>
        </div>
    </div>
</div>

<!-- 选择时间 弹框 -->
<div class="pop-mask2" style="display: none-;">
    <div class="meetingInfo a">
        <div class="meetingInfo-x a">
            <h4>时间选择</h4>
            <div class="meetingInfo-ss">起始时间</div>
            <div class="chooseDate">
                <input id="dateinput" type="text" readonly="" placeholder="请选择" value="">
                <i class="iconfont icon-rili"></i>
            </div>
            <div class="meetingInfo-ss">结束时间</div>
            <div class="chooseDate">
                <input id="dateinput1" type="text" readonly="" placeholder="请选择" value="">
                <i class="iconfont icon-rili"></i>
            </div>
        </div>
        <div class="choosepop-btn">
            <div class="a">取消</div>
            <div class="b">确定</div>
        </div>
    </div>
</div>
<!-- 查找 -->
<div class="right_btnC">
    <div class="r_btnC"><i class="iconfont icon-fangdajing"></i></div>
</div>

<!-- 点击提交时弹出提交中提示框 -->
<div class="loadingInfo" style="display: none">
    <div class="loadingInfo-l">
        <div></div>
        <p>提交中，请稍等</p>
    </div>
</div>
<!-- 日期容器 -->
<div id="datePlugin" style="opacity:1"></div>
<!-- 日期选择 -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/Ddate.js"></script>
<script type="text/javascript" src="js/Discroll_date.js"></script>
<script>
    /*----初始化日期插件----*/
    $('#dateinput').date();
    $('#dateinput1').date();
    //默认日期
    var date = new Date();
    var Y = date.getFullYear() + '-'
    var M = (date.getMonth()+1 < 10 ? '0'+(date.getMonth()+1) : date.getMonth()+1) + '-';
    var D = (date.getDate() < 10 ? '0'+(date.getDate()) : date.getDate()) + ' ';
    var currData =Y+M+D;
    $("#dateinput").val(currData);
    $("#dateinput1").val(currData);
</script>
</body>
</html>
