<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>设置我的资料</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">

    </head>
    <body>

        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">设置我的资料
                            <i class="layui-icon"  lay-href="systemindex/systemindex.html">&#x1006;</i>

                        </div>

                        <div>

                        <div class="layui-card-body" pad15>

                            <div class="layui-form" lay-filter="">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">昵称</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="nickname" value=""
                                            autocomplete="off" placeholder="请输入昵称" class="layui-input" id="name">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">性别</label>
                                    <div class="layui-input-inline">
                                        <select name="sex" lay-verify="" id="sex">

                                            <option value=1>男</option>
                                            <option value=2>女</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">年龄</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="age" value="" autocomplete="off"
                                            class="layui-input" id="age">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">邮箱</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="email" value="" lay-verify="email" autocomplete="off"
                                            class="layui-input" id="email">
                                    </div>
                                </div>
                                <div class="layui-form-item layui-hide">
                                    <label class="layui-form-label"></label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="id" value=""  autocomplete="off"
                                            class="layui-input" id="userid">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" lay-submit lay-filter="setmyinfo">确认修改</button>
                                        <button type="reset" class="layui-btn layui-btn-primary" lay-filter="">重新填写</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../../../layuiadmin/layui/layui.js"></script>
        <script>
            layui.config({
                base: '../../../layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'set'], function() {
                var $ = layui.$,
                setter = layui.setter,
                form = layui.form;
                var url = setter.baseUrl;
                $.ajax({
                    async: true,
                    type: "get",
                    url:url+"/user/getuser",
                    dataType: "json",
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function(msg) {
                        if (msg.code == 0) {
                            console.log(msg.data)
                            $('#name').val(msg.data.anotherName)
                            $('#sex').val(msg.data.sex)
                            $('#age').val(msg.data.age)
                            $('#email').val(msg.data.email)
                            $('#userid').val(msg.data.userId)
                        } else {
                            layer.msg(msg.msg, {
                                offset: "15px",
                                icon: 2,
                                time: 1000
                            }, function() {
                                   parent.location.href = "../../user/login.html"
                                })

                        }
                    },
                    error: function(msg) {
                        console.log(msg.responseJSON.msg);
                        layer.msg(msg.responseJSON.msg, {
                            offset: "15px",
                            icon: 2
                        });

                    }

                })
                 form.on('submit(setmyinfo)', function(obj) {
                   $.ajax({
                       async: true,
                       type: "get",
                       url: url+"/user/setuser",
                       dataType: "json",
                       data:{
                           "anotherName":obj.field.nickname,
                           "sex":obj.field.sex,
                           "age":obj.field.age,
                           "email":obj.field.email,
                           "userId":obj.field.id
                       },
                       xhrFields: {
                           withCredentials: true
                       },
                       success: function(msg) {
                           if (msg.code == 0) {
                              layer.msg("修改成功", {
                                  offset: "15px",
                                  icon: 1,
                                  time: 1000
                              })
                           } else {
                               layer.msg(msg.msg, {
                                   offset: "15px",
                                   icon: 2,
                                   time: 1000
                               })

                           }
                       },
                       error: function(msg) {
                           console.log(msg.responseJSON.msg);
                           layer.msg(msg.responseJSON.msg, {
                               offset: "15px",
                               icon: 2
                           });

                       }

                   })
                 })

            });
        </script>
    </body>
</html>
