<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>群发通知</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <script src="../../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="../../../css/scosun.css"/>
    <link rel="stylesheet" type="text/css" href="../../../layuiadmin/modules/dropdown/dropdown.css"/>
    <script src="../../../js/scosun.js"></script>
    <style type="text/css">
        .layui-btn {
            background-color: #666;
        }

        .layui-btn-danger {
            background-color: #FF5722;
        }

        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #666;
        }

        .w60 {
            width: 60px;
        }

        .w40 {
            width: 40px;
        }

        .textC {
            text-align: center;
        }

        .layui-btn-sign-red, .layui-btn-sign-green {
            height: 20px;
            line-height: 20px;
            padding: 0 4px;
            font-size: 12px;
            background-color: #fff;
            border: 1px solid #e6e6e6;
        }

        .layui-btn-sign-red {
            color: #ff0000;
            border-color: #ff0000
        }

        .layui-btn-sign-green {
            color: #008908;
            border-color: #008908
        }

        .layui-btn-sign-red:hover {
            color: #fff;
            border-color: #ff0000;
            background-color: #ff0000;
        }

        .layui-btn-sign-green:hover {
            color: #fff;
            border-color: #008908;
            background-color: #008908;
        }

        .cursorD {
            cursor: default;
        }

        .layui-btn-group .layui-btn:only-child {
            border-radius: 2px;
        }
        .layui-btn+.layui-btn {
            margin-left: 0;
        }
        .dropdown-menu-nav.dropdown-bottom-right {
            padding-left:10px;
            padding-right:10px;
        }
        .dropdown-menu-nav.dropdown-top-right {
            padding-left:10px;
            padding-right:10px;
        }
        .layui-btn-primary {
            border: 1px solid #ccc;
            display: inline-block;
            border-radius: 2px;
        }
        .layui-btn-sm {
            height: 22px;
            line-height: 22px;
        }
        .layui-btn-sm i {
            display: inline-block;
            vertical-align: middle;
            color: #aaa;
        }
        .layui-btn-primary:hover {
            border-color: #ccc;
            color: #333;
        }
    </style>
</head>
<body>
<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>组件</cite></a>
        <a><cite>数据表格</cite></a>
        <a><cite>数据操作</cite></a>
    </div>
</div>
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div>
                        <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;" id="group">
                            <button class="layui-btn layui-ds layui-hide"  data-type="getCheckData" id="click">全选</button>
                        </div>
                        <!-- 右侧筛选条件 -->
                        <div class="test-table-reload-btn" style="float:right;margin-bottom: 10px;">
                            <div class="layui-inline">
                                <input class="layui-input" name="id" placeholder="请输入关键字" id="demoReload"
                                       autocomplete="off">
                            </div>
                            <button class="layui-btn layui-ds" data-type="search">搜索</button>
                        </div>
                        <!-- 右侧筛选条件 end-->
                    </div>
                    <table id="test-table-operate" lay-filter="test-table-operate" style="margin-top: 30px"></table>
<!--                    <script type="text/html" id="table-zone-list">-->
<!--                        <a class=" layui-icon " lay-event="zonelist" id="zonelist" style="font-size:1.4rem">&#xe62d;</a>-->
<!--                    </script>-->
<!--                    <script type="text/html" id="test-table-operate-barDemo">-->
<!--                    <a class="layui-btn layui-btn-xs" lay-event="edit">选择会议</a>-->
<!--                    <a class="layui-btn layui-btn-xs" lay-event="del">历史记录</a>-->
<!--                </script>-->
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        dropdown: '/dropdown/dropdown'
    }).use(['index', 'table', 'jquery', 'upload','dropdown'], function () {
        var table = layui.table,
            admin = layui.admin,
            setter = layui.setter,
            upload = layui.upload,
            $ = layui.jquery,
            dropdown = 'dropdown';
        var url = setter.baseUrl;
        // var url = "http://127.0.0.1:8083";
        var uri = window.location.search;
        var roomid = uri.substr(4);
        var devices = {};
        var deviceList = [];
        // #test-table-operate
        //渲染表格
        table.render({
            elem: '#test-table-operate',
            // height: 'full-200',
            //url: url + "/meeting/findAllBylayui", //数据接口
            method: 'get',
            where: {
                roomid: roomid
            },
            xhrFields: {
                withCredentials: true
            },
            url: url + "/historicalrecord/findAll", //数据接口
            page: {
                layout: ['prev', 'page', 'next', 'count', 'skip']
            },
            cols: [
                [ //表头
                    {
                        type: 'checkbox',
                        fixed: 'left'
                    },
                    {
                        field: 'id',
                        title: 'ID',
                        width: 60,
                        //align: 'center',
                        unresize: 'false',
                    },
                    {
                        field: 'name',
                        title: '操作名称',
                        align: 'left',
                    }, {
                    field: 'operationtime',
                    title: '操作时间',
                    align: 'left',
                },
                    {
                        field: 'seatnum',
                        title: '管理桌牌数量',
                        align: 'left',
                    },
                    {
                        field: 'meetingname',
                        title: '当前会议',
                        align: 'left',
                    },
                    {
                        field: 'remake',
                        title: '备注',
                        align: 'left',
                    }

                ]
            ],
            event: true,
            page: true,
            limit: 15,
            skin: 'line',
            even: true,
            limits: [5, 10, 15],
            done: function (res, curr, count) {
                table_data = res.data;

                layer.closeAll('loading');
                deviceList.length = 0;
                // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
                // layer.close(index);    //返回数据关闭loading
            },
        });
        //刷新表格
        window.reloads = function () {
            table.render({
                elem: '#test-table-operate',
                // height: 'full-200',
                //url: url + "/meeting/findAllBylayui", //数据接口
                method: 'get',
                where: {
                    roomid: roomid
                },
                xhrFields: {
                    withCredentials: true
                },
                url: url + "/historicalrecord/findAll", //数据接口
                page: {
                    layout: ['prev', 'page', 'next', 'count', 'skip']
                },
                cols: [
                    [ //表头
                        {
                            type: 'checkbox',
                            fixed: 'left'
                        },
                        {
                            field: 'id',
                            title: 'ID',
                            width: 60,
                            //align: 'center',
                            unresize: 'false',
                        },
                        {
                            field: 'name',
                            title: '操作名称',
                            align: 'left',
                        }, {
                        field: 'operationtime',
                        title: '操作时间',
                        align: 'left',
                    },
                        {
                            field: 'seatnum',
                            title: '管理桌牌数量',
                            align: 'left',
                        },
                        {
                            field: 'meetingname',
                            title: '当前会议',
                            align: 'left',
                        },
                        {
                            field: 'remake',
                            title: '备注',
                            align: 'left',
                        }

                    ]
                ],
                event: true,
                page: true,
                limit: 15,
                skin: 'line',
                even: true,
                limits: [5, 10, 15],
                done: function (res, curr, count) {
                    table_data = res.data;

                    layer.closeAll('loading');
                    deviceList.length = 0;
                    // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
                    // layer.close(index);    //返回数据关闭loading
                },
            });
        }
        window.onkeyup = function (ev) {
            var key = ev.keyCode || ev.which;
            if (key == 27) { //按下Escape
                layer.closeAll('iframe'); //关闭所有的iframe层

            }
        }

        //监听表格复选框选择
        table.on('checkbox(test-table-operate)', function (obj) {
            // console.log(obj.checked); //当前是否选中状态
            // // console.log(obj.data); //选中行的相关数据
            // console.log(obj.type); //如果触发的是全选，则为：all，如果触发的是单选，则为：one
            // // console.log(table.checkStatus('test-table-operate').data); // 获取表格中选中行的数据
            if (obj.checked && obj.type == 'one') {
                var devi = {};
                devi = obj.data.id;
                deviceList.push(devi)
            }
            if (!obj.checked && obj.type == 'one') {
                var index = deviceList.indexOf(obj.data.id);
                if (index > -1) {
                    deviceList.splice(index, 1);
                }
            }
            if (!obj.checked && obj.type == 'all') {
                deviceList.length = 0;

            }
            if (obj.checked && obj.type == 'all') {
                $.each(table.checkStatus('test-table-operate').data, function (idx, con) {
                    var devi = {};
                    devi = con.id;

                    deviceList.push(devi)
                });
                deviceList = Array.from(new Set(deviceList))
            }

        });

        //监听工具条
        table.on('tool(test-table-operate)', function (obj) {
            var data = obj.data;
            if (obj.event === 'zonelist') {
                layer.open({
                    type: 2,
                    // title: '会议室座区图',
                    content: 'controlzone.html?id='+data.id
                    // ,maxmin: true
                    ,
                    area: ['100%', '106%'],
                    scrollbar: false,
                    shadeClose: false, //弹出框之外的地方是否可以点击
                    closeBtn: 1,
                    offset: '-43px',
                    yes: function(index, layero) {
                    },
                    success: function(layero, index) {
                    }
                });

            }
            else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    //title: '收藏管理 (考生姓名：张无忌)',
                    title: '选择会议',
                    maxmin: true,
                    shadeClose: false, //弹出框之外的地方是否可以点击
                    area: ['50%', '63%'],
                    btn: ['确定', '取消'],
                    closeBtn: 1,
                    //offset: '-43px',
                    //  content: $('#show-view'),
                    content: 'controlseatmeeting.html?id=' + obj.data.id+"&meeting="+obj.data.presentmeeting,
                    success: function (layero, index) {

                    },
                    yes: function (index, layero) {
                        var submit = layero.find('iframe').contents().find("#click");
                        submit.click();
                    }

                });
            } else if (obj.event === 'del') {
                layer.confirm('确认删除吗？', function (index) {
                    $.ajax({
                        async: false,
                        type: "get",
                        maxmin: true,
                        url: url + "/flolckstatistics/delete",
                        datatype: 'json',
                        data: {
                            id: obj.data.id,
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        //成功的回调函数
                        success: function (msg) {
                            if (msg.code == 0) {
                                layer.msg(msg.msg)
                                // var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                                // layer.close(index);
                                reloads();
                            } else {
                                layer.msg(msg.msg)
                            }

                        },
                        error: function (error) {
                            console.log(error)
                        },
                    })
                    layer.close(index);
                });

            } else if (obj.event === 'nosend') {
                if (obj.data.issendmail != 1) {
                    return layer.msg('当前未发送短信');
                }
                layer.confirm('确认要通知吗？', function (index) {
                    $.ajax({
                        async: false,
                        type: "get",
                        maxmin: true,
                        url: url + "/smsstatistics/nosend",
                        datatype: 'json',
                        data: {
                            id: obj.data.id,
                            sid: obj.data.meetingid
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        //成功的回调函数
                        success: function (msg) {
                            if (msg.code == 0) {
                                layer.msg(msg.msg)
                                // var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
                                // layer.close(index);
                                reloads();
                            } else {
                                layer.msg(msg.msg)
                            }

                        },
                        error: function (error) {
                            console.log(error)
                        },
                    })
                    layer.close(index);

                });
            }

        });
        // form.on('submit(component-form-search)', function(data) {
        //     alert(1);
        // })


        var $ = layui.$,

            active = {
                //全选
                getCheckData: function () { //获取选中数据
                    reloads();


                },
                //批量删除
                getCheckLength: function () {
                    if (deviceList.length == 0) {
                        return layer.msg("请选择会议后再批量删除")
                    }
                    //获取选中数目
                    layer.confirm('真的删除吗？', function () {
                        $.ajax({
                            async: false,
                            type: "post",
                            url: url + "/meeting/batchRemove",
                            dataType: "json",
                            xhrFields: {
                                withCredentials: true
                            },
                            //成功的回调函数
                            data: {
                                "meetingid": deviceList.join(",")

                            },
                            success: function (msg) {
                                if (msg.code == 0) {
                                    layer.msg("删除成功");
                                    reloads(); // 父页面刷新

                                } else {
                                    layer.msg(msg.msg);


                                }

                            },
                            //失败的回调函数
                            error: function () {
                                console.log("error")
                            }
                        })
                    })
                },
                //批量删除
                isAll: function () { //验证是否全选
                    window.location = url + "/flockperson/download/";
                },
                add: function () {
                    layer.open({
                        type: 2,
                        //title: '收藏管理 (考生姓名：张无忌)',
                        title: '新建短信通知',
                        shadeClose: false, //弹出框之外的地方是否可以点击
                        area: ['75%', '85%'],
                        btn: ['确定', '取消'],
                        closeBtn: 1,
                        //offset: '-43px',
                        content: 'flocknoticeadd.html',
                        success: function (layero, index) {
                            // var body = layui.layer.getChildFrame('body', index);
                            // var roomid;
                            // // 取到弹出层里的元素，并把编辑的内容放进去
                            // body.find("#ruleid").val(data.id);
                            // body.find("#roomid").val(data.roomid); //将选中的数据的id传到编辑页面的隐藏域，便于根据ID修改数据
                        },
                        yes: function (index, layero) {
                            var submit = layero.find('iframe').contents().find("#click");
                            console.log(submit)
                            submit.click();
                        }
                    });
                },
                search: function () {
                    table.render({
                        elem: '#test-table-operate',
                        // height: 'full-200',
                        //url: url + "/meeting/findAllBylayui", //数据接口
                        method: 'get',
                        where: {
                            content: $('#demoReload').val()
                        },
                        xhrFields: {
                            withCredentials: true
                        },
                        url: url + "/flolckstatistics/search", //数据接口
                        page: {
                            layout: ['prev', 'page', 'next', 'count', 'skip']
                        },

                        cols: [
                            [ //表头
                                {
                                    type: 'checkbox',
                                    fixed: 'left'
                                },
                                {
                                    field: 'id',
                                    title: 'ID',
                                    width: 60,
                                    //align: 'center',
                                    unresize: 'false',
                                },
                                {
                                    field: 'title',
                                    title: '通知标题',
                                    align: 'left',
                                }, {
                                field: 'succeednotice',
                                title: '成功通知',
                                align: 'left',
                            },
                                {
                                    field: 'notnotice',
                                    title: '失败通知',
                                    align: 'left',
                                },
                                {
                                    title: '操作',
                                    align: 'left',
                                    toolbar: '#test-table-operate-barDemo',
                                    width: 140,
                                },

                            ]
                        ],
                        event: true,
                        page: true,
                        limit: 15,
                        skin: 'line',
                        even: true,
                        limits: [5, 10, 15],
                        done: function (res, curr, count) {
                            table_data = res.data;

                            layer.closeAll('loading');
                            deviceList.length = 0;
                            // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
                            // layer.close(index);    //返回数据关闭loading
                        },
                    });

                }
            };

        $('.layui-ds').on('click', function () {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });

    });


</script>
</body>
</html>