<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/login.css" media="all">
    <link rel="stylesheet" href="../../../css/seat.css" media="all">
    <link rel="stylesheet" href="../../../web.contextmenu/web.contextmenu.css" media="all">

	<script src="../../../web.contextmenu/web.contextmenu.js" ></script>
    <script src="../../../js/jquery-3.1.1.min.js"></script>
    <script src="/m/js/scosun.js"></script>
    <link rel="stylesheet" href="../../arrange/meet/rule_zq.css" />
    <link rel="stylesheet" type="text/css" href="../../../layuiadmin/modules/dropdown/dropdown.css"/>
    <style type="text/css">
        header {
            box-shadow: 0px 0px 5px gray;
            height: 3.5rem;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            z-index: 9999;
            background-color: white;
        }

        body {
            background-color: white;
        }

        /*右侧菜单*/
        .layui-right-nav {
            position: absolute;
            right: 5px;
            top: 0;
            height: 3.5rem;
            line-height: 3.5rem;
            background-color: #fff;
        }

        .layui-right-nav i {
            display: block;
            height: 20px;
            width: 20px;
            float: left;
            margin-top: 18px;
            padding-left: 7px;
            padding-right: 7px;
        }

        .layui-right-nav i img {
            width: 100%;
            display: block;
        }

        .btnbar-select{
            display: inline-block;
            width: 112px;
            float: right;
            margin-right: 450px;
            margin-top: 9px;
        }

        .bindmac{
            background: #ff000040;
        }
    </style>
</head>

<body>

<header>
		<span class="layui-breadcrumb" style="line-height: 3.5rem;">
			<a><cite> &nbsp; &nbsp; &nbsp; 座区图</cite></a>
		</span>
    <!-- 右侧菜单 -->
    <div class="btnbar-select" style="width:auto;margin-right: 50px;">
        <span style="float: left;
			line-height: 36px;
			margin: 0 5px;
			font-size: 20px;">|</span>
        <div class="layui-form " style="width: 70px;margin-top: 10px;padding-left:10px;float: left;">
            <div class="dropdown-menu dropdown-hover">
                <a><span style="padding-left: 15px"> 投票</span></a>
                <ul class="dropdown-menu-nav">
                    <li class="title">投票功能</li>
                    <li><a>投票模版</a></li>
                    <li><a>发起投票</a></li>
                    <li><a>回收投票</a></li>
                    <li><a>投票统计</a></li>
                </ul>
            </div>
        </div>
        <span style="float: left;
			line-height: 36px;
			margin: 0 5px;
			font-size: 20px;">|</span>
        <div class="layui-form " style="width: 70px;margin-top: 10px;padding-left:10px;float: left;">
            <div class="dropdown-menu dropdown-hover">
                <a><span style="padding-left: 15px">短信</span></a>
                <ul class="dropdown-menu-nav">
                    <li class="title">短信功能</li>
                    <li><a>发短信</a></li>
                    <li><a>确认回收</a></li>
                </ul>
            </div>
        </div>
        <span style="float: left;
			line-height: 36px;
			margin: 0 5px;
			font-size: 20px;">|</span>
        <div class="layui-form " style="width: 70px;margin-top: 10px;margin-left:10px;float: left;">
            <div class="dropdown-menu dropdown-hover">
                <a><span>桌牌控制</span></a>
                <ul class="dropdown-menu-nav">
                    <li class="title">桌牌状态</li>
                    <li class="title">会议准备</li>
                    <li id="meetstart" ><a>会议开始</a></li>
                    <li class="title">会议暂停</li>
                    <li class="title">会议恢复</li>
                    <li id="meetstop" ><a>会议结束</a></li>
                    <li class="title">重新开始</li>
                </ul>
            </div>
        </div>
        <span style="float: left;
			line-height: 36px;
			margin: 0 5px;
			font-size: 20px;">|</span>
        <div class="layui-form " style="width: 130px;float: left;">
            <select class="dialogRuleSelect" lay-filter="component-timeselect" id="ruleselect">
                <option value="20">频率20秒</option>
                <option value="30">频率30秒</option>
                <option value="60">频率60秒</option>
            </select>
        </div>
        <span style="float: left;
			line-height: 36px;
			margin: 0 5px;
			font-size: 20px;">|</span>

        <a onclick="asd()" style="float: left;line-height: 36px;" href="javascript:;"><cite>刷新</cite></a>
    </div>
    <span class="layui-right-nav" >
			<i id="nav-close" data="关闭此窗口"  class="layui-ds" data-type="close" style="width: 18px;height: 18px;line-height: 3.5rem;"><img src="../../../images/close.png" ></i>
		</span>
    <!-- 右侧菜单 end-->
</header>

<div class="layui-form-item" style="display: none;">
    <div class="layui-input-block">
        <input type="text" name="roomid" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input"
               id="roomid" style="display: none;">
    </div>
</div>

</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script src="../../../js/seatscontrol_drag.js" charset="utf-8"></script>
<script type="text/javascript">



    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index', //主入口模块
        dropdown: '/dropdown/dropdown'
    }).use(['index', 'user', 'table','dropdown'], function() {
        var $ = layui.$,
            form = layui.form,
            element = layui.element,
            table = layui.table,
            layer = layui.layer,
            router = layui.router(),
            dropdown = 'dropdown';
        var uri = window.location.search;
        var roomid = uri.substr(4);

        form.on('select(component-ruleselect)', function(data){
            var id = +data.value;
            if(id==1){

            }else if(id == 2){
                editSeatMac();
            }else{
                deleteSeatMac();
            }
        });
        form.on('select(component-timeselect)', function(data){
            interTime = +data.value;
            startInterval();
        });

        $.ajax({
            url: "https://www.longjuli.com/ajax",
            type: "POST",
            async: true,
            data: {
                "a": "s",
                "t": "seatzone",
                "c": roomid
            },
            success: function(data) {
                var datas = data.data;
                $("body").append(datas.code);


                var seats = $("#seatcontainer .seatdiv");
                seats.each(function(){
                    var html = this.id;
                    $(this).attr({"title":html,"alt":html});
                    $(this).html('');
                })

                // getFindByseatmac();
            }
        });


        $("#meetstart").bind('click',function(){
            layer.confirm('确定开始会议吗？', {
				btn: ['确定', '取消']
			}, function (index) {
				StartMeetWebSocket();
				layer.close(index);
			}.bind(this));
        })
        $("#meetstop").bind('click',function(){
            layer.confirm('确定结束会议吗？', {
				btn: ['确定', '取消']
			}, function (index) {
				
				layer.close(index);
			}.bind(this));
        })


        function StartMeetWebSocket(){
            if ("WebSocket" in window){
               // 打开一个 web socket
               var ws = new WebSocket("ws://m.longjuli.com:8083/cardWebSocket/shuxian");
                
               ws.onopen = function(){
                  // Web Socket 已连接上，使用 send() 方法发送数据
                  ws.send(roomid+"&startMeeting");
                  console.log("数据发送中...");
               };
                
               ws.onmessage = function (evt) { 
                  var received_msg = evt.data || "";
                  var obj = JSON.parse(received_msg);
                  if(obj.code == 0){
                      
                  }
                  console.log("数据已接收...",obj);
               };
                
               ws.onclose = function() { 
                  // 关闭 websocket
                  console.log("链接关闭....");
               };
            }else{
               // 浏览器不支持 WebSocket
               alert("您的浏览器不支持 WebSocket!");
            }
         }


        // var macdata = {};
        // var interTime = 20;
        // var inter = null;
        // var chkseat = {};

        // function getFindByseatmac(){
        //     $.ajax({
        //         url: "https://f.longjuli.com/seatmac/findByseatmac",
        //         type: "GET",
        //         async: true,
        //         data: {
        //             "roomid": roomid
        //         },
        //         success: function(data) {
        //             var data = data.data || {};
        //             macdata = data;
        //             setSeatBindStatus(data);
        //             bindOneSeats();
        //         }
        //     });
        // }

        // function setmacByroomid(mac){
        //     $.ajax({
        //         url: "https://f.longjuli.com/seatmac/setmacByroomid",
        //         type: "POST",
        //         async: true,
        //         data: {
        //             "roomid": roomid,
        //             "seatid": chkseat.seatid,
        //             "mac":mac
        //         },
        //         success: function(res) {
        //             if(res.code == 0){
        //                 getFindByseatmac();
        //             }else{
        //                 layer.msg(res.msg || "修改mac失败");
        //             }

        //         }
        //     });
        // }
        // function deleteSeatMac(){
        //     if(!chkseat.mac){
        //         return;
        //     }
        //     $.ajax({
        //         url: "https://f.longjuli.com/seatmac/delmacByroomid",
        //         type: "GET",
        //         async: true,
        //         data: {
        //             "roomid": roomid,
        //             "seatid": chkseat.seatid
        //         },
        //         success: function() {
        //             getFindByseatmac();
        //         }
        //     });
        // }



        // function setSeatBindStatus(data){
        //     $(".bindmac").removeClass("bindmac");
        //     data.forEach(function(item){
        //         var id = item.seatid;
        //         $("#" + id).addClass("bindmac");
        //     })
        // }


        // function bindOneSeats(){
        //     // var selList = $("#seatcontainer .seatdiv:not(.rownumseats)");
        //     var selList = $("#seatcontainer .bindmac");
        //     chkseat = {};
        //     selList.removeClass('seled');
        //     selList.unbind("click");
        //     selList.bind("click",function(evt){
        //         var sel = $(this);
        //         if (!sel.hasClass('seled')) {
        //             selList.removeClass('seled');
        //             sel.addClass('seled');
        //             var seatid = sel.attr("id");
        //             chkseat = macdata.filter(function(item){
        //                 return item.seatid == seatid;
        //             })[0] || {seatid:seatid};

        //         } else {
        //             sel.removeClass('seled');
        //             chkseat = {};
        //         }
        //     })
        // }


        // function editSeatMac(){
        //     if(!chkseat.seatid){
        //         layer.msg("没有选中座位");
        //     }else if(chkseat.mac){
        //         layer.open({
        //             type: 2,
        //             title: '编辑绑定',
        //             shadeClose: true, //弹出框之外的地方是否可以点击
        //             offset: '10%',
        //             area: ['420px', '180px'],
        //             content: 'edit_mac.html',
        //             btn: ['提交', '取消'],
        //             yes: function(index, layero) {
        //                 var mac = layero.find('iframe').contents().find("#mac").val() || "";
        //                 if(mac && mac != chkseat.mac){
        //                     setmacByroomid(mac);
        //                 }

        //                 layer.close(index);
        //             },
        //             success:function(layero) {
        //                 layero.find('iframe').contents().find("#mac").val(chkseat.mac || "")
        //             }
        //         });
        //     }

        // }


        function bindContextMenu(){
			removeContainerEvent();

			var filediv = $("#seatcontainer .bindmac");
			for(var i = 0, len = filediv.length; i < len; i++){
				var item = filediv[i];
				bindMenu(item.id);
			}
		}

		var currseatno;
		function bindMenu(seatno){
			var menuJson = [
				{
					name:"桌牌详情",
					id:"menu1",
					seatno:seatno,
					callback: function(seatno) {
						layer.msg("桌牌详情");
					}
				},
				{
					name:"编辑绑定",
					id:"menu2",
					seatno:seatno,
					callback: function(seatno) {
						chkseat = macdata.filter(function(item){
							return item.seatid == seatno;
						})[0] || {seatid:seatid};
						editSeatMac();
					}
				},
				{
					name:"解除绑定",
					id:"menu3",
					seatno:seatno,
					callback: function(seatno) {
						chkseat = macdata.filter(function(item){
							return item.seatid == seatno;
						})[0] || {seatid:seatid};

						deleteSeatMac();
					}
				}
				
			];
			
			if($("#"+seatno).length > 0){
				ContextMenu.bind("#"+seatno, menuJson);
			}
        }
        
        // function startInterval(){
        //     clearInterval(inter);
        //     inter = setInterval(function(){
        //         getFindByseatmac();
        //     },interTime * 1000);
        // }

        // startInterval();
    });


    var $ = layui.$,
        active = {
            close: function() {
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
                // parent.reloads()
            }
        };

    $('.layui-right-nav i').on('click', function() {
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
    });

    function asd() {
        location.reload();
    }

</script>

</html>
