<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../web.contextmenu/web.contextmenu.css" media="all">
    <link rel="stylesheet" href="rule_zq.css" media="all">
    <link rel="stylesheet" href="../../../css/seat.css" media="all">
    <script src="../../../web.contextmenu/web.contextmenu.js"></script>
    <script src="../../../js/jquery-3.1.1.min.js"></script>
    <script src="../../../js/jquery.jqprint-0.3.js"></script>
    <!-- <script src="seatscontrol_drag.js"></script> -->
    <style type="text/css">
        header {
            box-shadow: 0px 0px 5px gray;
            height: 3.5rem;
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            z-index: 9999;
            background-color: white;
        }

        body {
            background-color: white;
        }

        /*右侧菜单*/
        .layui-right-nav {
            position: absolute;
            right: 5px;
            top: 0;
            height: 3.5rem;
            line-height: 3.5rem;
            background-color: #fff;
        }

        .layui-right-nav i {
            display: block;
            height: 20px;
            width: 20px;
            float: left;
            margin-top: 18px;
            padding-left: 7px;
            padding-right: 7px;
        }

        .layui-right-nav i img {
            width: 100%;
            display: block;
        }

        /*隐藏浏览器滚动条*/
        ::-webkit-scrollbar {
            display: none;
            width: 0px;
        }
        footer {
            position: fixed;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 240px;
            background-color: white;
            z-index: 9999;
        }
        .layui-btn {background-color: #666;}
        .layui-btn-danger {background-color: #FF5722;}
        .layui-laypage .layui-laypage-curr .layui-laypage-em {background-color: #666;}
    </style>
</head>
<body>
<header>
		<span class="layui-breadcrumb" style="line-height: 3.5rem;">
				<a><cite> &nbsp; &nbsp; &nbsp; 座区图生成管理</cite></a>

				<a  href="javascript:;"><cite><i class="layui-icon layui-icon-refresh-3" onclick="asd()" ></i></cite></a>
            <!-- <a>
                <cite>
                    <div class="layui-btn-group">
                        <button type="button" class="layui-btn layui-ds" data-type="add">座区设置</button>
                        <button type="button" class="layui-btn layui-ds" data-type="reseled">重选座区</button>
                        <button type="button" class="layui-btn layui-ds" data-type="hidden" id="hidden">关闭座区列表</button>
                        <button type="button" class="layui-btn layui-ds" data-type="close">关闭</button>
                    </div>
                </cite>
            </a> -->
		</span>
    <span class="layui-right-nav">
			<i id="nav-Setuptheg" data-type="add" class="layui-ds" data="规则设定"><img src="../../../images/set_rules.svg"></i>
			<i id="nav-electiong" data-type="reseled" class="layui-ds" data="重选座区"><img src="../../../images/re-election.svg"></i>
			<i id="nav-Closedlistg" data-type="hidden" class="layui-ds" data="关闭规则列表"><img src="../../../images/Closedlist.svg"></i>
			<i id="nav-showlistg" data-type="hidden" style="display: none;" class="layui-ds" data="显示规则列表"><img src="../../../images/showlist.svg"></i>
			<i id="nav-close" data="关闭此窗口" class="layui-ds" data-type="close" style="width: 18px;height: 18px;line-height: 3.5rem;"><img src="../../../images/close.png" ></i>
		</span>
    <!-- 右侧菜单 end-->
</header>
<footer>
    <table id="zonetable" lay-filter="zonetable" style="margin-top: -0.6125rem;"></table>
    <!-- <input type="text" name="roomid" id="roomid" style="display: none;">
    <input type="text" name="ruleid" id="ruleid" style="display: none;"> -->
</footer>
<script type="text/html" id="test-table-operate-barDemo">
    <a  title="显示" lay-event="show" ><i class="fas fa-border-all" style="font-size: 1rem; color: lightslategrey;"></i>  </a>
    <a  title="修改名称" lay-event="edit" style="margin-left: 5px;"><i class="fas fa-sliders-h" style="font-size: 1rem; color: lightslategrey;"></i>  </a>
    <a  title="修改座区" lay-event="editxq" style="margin-left: 5px;"><i class="fas fa-object-group" style="font-size: 1rem; color: lightslategrey;"></i>  </a>
    <a  title="删除座区" lay-event="del" style="margin-left: 5px;"><i class="fas fa-trash-alt" style="font-size: 1rem; color: lightslategrey;"></i>  </a>

</script>
<script defer src="https://use.fontawesome.com/releases/v5.10.2/js/all.js" integrity="sha384-QMu+Y+eu45Nfr9fmFOlw8EqjiUreChmoQ7k7C1pFNO8hEbGv9yzsszTmz+RzwyCh"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9"
      crossorigin="anonymous">
</body>
<script src="../../../layuiadmin/layui/layui.js"></script>
<!--<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>-->
<script src="../../../js/seatscontrol_drag.js" charset="utf-8"></script>
<script type="text/javascript">
    var tablezonetable;
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user', 'table'], function() {
        var $ = layui.$,
            form = layui.form,
            element = layui.element,
            table = layui.table,
            layer = layui.layer,
            router = layui.router();
        //全局变量编排规则id

        //全局变量会议室规则id
        /*右侧菜单HOVER显示提示文字*/
        $('.layui-right-nav i').each(function() {
            var _id = $(this).attr('id');
            var _data = $(this).attr('data');
            $("#" + _id).hover(function() {
                openMsg();
            }, function() {
                layer.close(subtips);
            });

            function openMsg() {
                subtips = layer.tips(_data, '#' + _id, {
                    tips: [3, '#666'],
                    time: 30000
                });
            }
        });

        var areaIndex = 0;
        var colors = [
            "#FFC0CB",
            "#6495ED",
            "#7FFFAA",
            "#F4A460",
            "#F0E68C",
            "#D2B48C",
            "#FA8072",
            "#00FFFF",
            "#8A2BE2",
            "#FF4500"
        ];
        var url = "https://f.longjuli.com";
        //    var url = "http://127.0.0.1:8083"
        var uri = window.location.search;
        var str = uri.substr(1);
        window.roomid = str.substring(str.indexOf("=")+1);
        window.ruleid = 0;

        console.log(roomid);

        //规则列表表格调用方法
        $.ajax({
            async: false,
            type: "get",
            url: url + "/rulesetup/findbyRulesetup",
            dataType: "json",
            xhrFields: {
                withCredentials: true
            },
            //成功的回调函数
            data: {
                "ruletemplateid": ruleid,
                "roomtemplateid": roomid
            },
            success: function(msg) {

                var data = msg.data;
                if(data.length){
                    areaIndex = data.length%10;
                }
                console.log("areaIndex----",areaIndex)

                var i = 0;
                tablezonetable = table.render({
                    elem: '#zonetable',
                    data: data,
                    height: 240,
                    cols: [
                        [
                            // 表头
                            {
                                field: 'bgcolor',
                                title: '背景色',
                                align: 'left',
                                width: '11%',
                                event: 'seeDetail',
                                style: 'cursor: pointer;',
                                templet: function(data) {
                                    return "<div style='height:22px;width:60px;background-color: " +
                                        data.bgcolor + "'></div>"
                                }
                            }, {
                            field: 'seatsnum',
                            title: '座位数量',

                            //align: "center"

                        }, {
                            field: 'rulename',
                            title: '座区名称',

                            // align: "center"

                        },
                            {
                                field: 'ordernum',
                                title: '序号',

                                //align: "center",
                                sort: true,
                                templet: function(data) {
                                    i++;
                                    return i;
                                },
                            },
                            {
                                field: 'modifytime',
                                title: '更新时间',

                                sort: true,
                                align: "center"

                            }, {
                            width: 120,
                            //align: 'center',
                            //flxed: 'right',
                            title: '操作',
                            toolbar: '#test-table-operate-barDemo'
                        }
                        ]
                    ],
                    skin: 'line', //表格风格
                    page: false, //是否显示分页
                    limits: [5, 10, 15], //显示
                    limit: 15 //每页默认显示的数量
                });
            },
            //失败的回调函数
            error: function() {
                console.log("error")
            }
        })
        //绘制座区图方法
        layer.load(2);
        $.ajax({
            url: url+"/roomtemplate/findByIdTemplatecode",
            type: "post",
            async: false,
            xhrFields: {
                withCredentials: true
            },
            data: {
                "id": roomid,

            },
            success: function(data) {
                var datas = data.data;
                $("body").append(datas.templatecode);

                selectSeats();

                queryAllSeatStatus(roomid, ruleid);
                layer.closeAll();
            },
            error:function(){
                layer.closeAll();
            }
        })

        //规则列表的显示和隐藏
        var index = true;
        $("#nav-hidden").click(function(){
            if (inde == false) {
                $("#nav-hidden").children("img").attr('src',"../../../images/hiddenRule.png");
                $('footer').show();
                inde = true;
            } else if (inde) {
                $("#nav-hidden").children("img").attr('src',"../../../images/showRule.png");
                $('footer').hide();
                inde = false;
            }
        })


        //规则列表方法方法
        function ajax_reload() {
            $.ajax({
                async: false,
                type: "get",
                url: url + "/rulesetup/findbyRulesetup",
                dataType: "json",
                xhrFields: {
                    withCredentials: true
                },
                //成功的回调函数
                data: {
                    "ruletemplateid": ruleid,
                    "roomtemplateid": roomid
                },
                success: function(msg) {

                    var data = msg.data;
                    if(data.length){
                        areaIndex = data.length%10;
                    }
                    var i = 0;
                    tablezonetable = table.render({
                        elem: '#zonetable',
                        data: data,
                        height: 240,
                        cols: [
                            [
                                // 表头

                                {
                                    field: 'bgcolor',
                                    title: '背景色',
                                    align: 'left',
                                    width: '11%',
                                    event: 'seeDetail',
                                    style: 'cursor: pointer;',
                                    templet: function(data) {
                                        return "<div style='height:22px;width:60px;background-color: " +
                                            data.bgcolor + "'></div>"
                                    }
                                }, {
                                field: 'seatsnum',
                                title: '座位数量',

                                align: "center"

                            }, {
                                field: 'rulename',
                                title: '座区名称',

                                align: "center"

                            },
                                {
                                    field: 'ordernum',
                                    title: '序号',

                                    align: "center",
                                    sort: true,
                                    templet: function(data) {
                                        i++;
                                        return i;
                                    },


                                },
                                {
                                    field: 'modifytime',
                                    title: '更新时间',

                                    sort: true,
                                    align: "center"

                                }, {
                                width: '15%',
                                align: 'center',
                                flxed: 'right',
                                title: '操作',
                                toolbar: '#test-table-operate-barDemo'
                            }
                            ]
                        ],
                        skin: 'line', //表格风格
                        page: false, //是否显示分页
                        limits: [5, 10, 15], //显示
                        limit: 15 //每页默认显示的数量
                    });

                },
                //失败的回调函数
                error: function() {
                    console.log("error")
                }
            })
        };

        table.on('tool(zonetable)', function(obj) {
            var data = obj.data;

            if (obj.event === 'show') {
                querySeatById(data.rulezone)
            } else if (obj.event === 'del') {
                console.log(obj)
                layer.confirm('确定删除座区吗?', function(index) {
                    obj.del();

                    $.ajax({
                        async: false,
                        type: "get",
                        url: url + "/rulesetup/deleteRulesetup",
                        dataType: "json",
                        xhrFields: {
                            withCredentials: true
                        },
                        //成功的回调函数
                        data: {
                            "id": obj.data.id
                        },
                        success: function(msg) {
                            if (msg.code == '0') {
                                delSeatRule(obj.data.rulezone);
                                layer.msg("删除成功");
                                ajax_reload();
                            } else {
                                layer.msg("删除失败");
                            }
                        },
                        //失败的回调函数
                        error: function() {
                            console.log("error")
                        }
                    })
                });
            } else if (obj.event === 'edit') {
                console.log("table--edit---",obj.data)
                layer.open({
                    type: 2,
                    title: '<p style="">座区设置</p>',
                    content: 'rule_form.html',
                    area: ['50%', '40%'],
                    btn: ['确定', '取消'],
                    yes: function(index, layero) {
                        var body = layer.getChildFrame('body', index);
                        $.ajax({
                            url: url+"/rulesetup/updateRulesetup",
                            type: "post",
                            async: false,
                            xhrFields: {
                                withCredentials: true
                            },
                            data: {
                                "id": obj.data.id,
                                "rulename": body.find('#areaname').val()
                            },
                            success: function(data) {
                                if(data.code  == 0){
                                    layer.msg("修改成功");
                                    layer.close(index);
                                    ajax_reload();
                                }else{
                                    layer.msg("修改失败")
                                }
                            }
                        })
                    },
                    success: function(layero, index) {
                        var body = layer.getChildFrame('body', index);
                        var ruleselect = body.find('#areaname').val(obj.data.rulename);
                    }
                });

            } else if (obj.event === 'editxq') {
                editObj = obj;
                console.log("editObj-----",editObj)
                changeSeatRuleArea(obj.data.id, obj.data.rulezone, obj.data.ruleid, obj.data.isincrement)
            }
        });

        var editObj
        var inde = true;
        var active = {
            reseled:function(){
                layer.open({
                    type: 2,
                    title: '<p style="">重选座区</p>',
                    content: 'rule_form.html',
                    area: ['50%', '40%'],
                    btn: ['确定', '取消'],
                    // shadeClose: true,
                    yes: function(index, layero) {
                        var body = layer.getChildFrame('body', index);
                        var areaname = body.find('#areaname').val()
                        if(areaname==''||areaname==null){
                            return layer.msg("请输入座区名称");
                        }
                        setSeatRule(areaname, 0,false,editObj,editObj.data.ruleid);
                        layer.close(index);
                    },
                    success: function(layero, index) {
                        var body = layer.getChildFrame('body', index);
                        var ruleselect = body.find('#areaname').val(editObj.data.rulename);
                    }
                })
            },
            add: function() {
                layer.open({
                    type: 2,
                    title: '<p style="">座区设置</p>',
                    content: 'rule_form.html'
                    // ,maxmin: true
                    ,
                    area: ['50%', '40%'],
                    btn: ['确定', '取消'],
                    // shadeClose: true,
                    yes: function(index, layero) {
                        var body = layer.getChildFrame('body', index);
                        var areaname = body.find('#areaname').val();
                        if(areaname==''||areaname==null){
                            return layer.msg("请输入座区名称");
                        }
                        setSeatRule(areaname, 0,true);
                        layer.close(index);

                    }
                })

            },
            hidden: function() {
                if (!inde) {
                    setTimeout(function(){
                        $('#nav-showlistg').hide();
                        $('#nav-Closedlistg').show();
                    }, 100);
                    $('footer').show();
                    inde = true;
                } else {
                    setTimeout(function(){
                        $('#nav-showlistg').show();
                        $('#nav-Closedlistg').hide();
                    }, 100);
                    $('footer').hide();
                    inde = false;
                }
            },
            importData: function() {
                var condi = {
                    "meeting_id": +meetingid
                };
                importSeatsData(condi);
            },
            bindLockSeats:function(){
                bindLockSeats();
            },
            selectSeats:function(){
                selectSeats();
            },
            dragSeats:function(){
                dragSeats();
            },
            bindOneSeats:function(){
                bindOneSeats();
            },
            bindContextMenu:function(){
                bindContextMenu();
            },
            removeContextMenu:function(){
                removeContextMenu();
            },
            print:function(){
                // printJS('seatcontainer', 'html');
                // printdiv("seatcontainer");
                $("#seatcontainer").jqprint({
                    debug: false,
                    importCSS: true,
                    printContainer: true,
                    operaSupport: false
                });
            },
            saveseats:function(){
                saveSeats();
            },

            close: function() {

                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引

                parent.layer.close(index); //再执行关闭


                // parent.reloads()

            }
        }

        $('.layui-ds').on('click', function() {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });



        var rulerecordid = 0;
        var showRuleIds = [];
        var oldruleid = 0;
        var roomtemplateid = 0;
        var seatObj = {};
        var ckids_now = [];
        var changeSeatIds = [];

        window.showRuleIds = [];

        var changeSeatIds = [];

        function changeSeatRuleArea(id, rulezone, ruleid, isincrement) {
            resetChangeSeartIds();
            rulerecordid = id;
            oldruleid = ruleid;

            if (rulezone && rulezone.length > 0) {
                rulezonejson = JSON.parse(rulezone)
                $.each(rulezonejson, function(index, item) {
                    $("#" + item.seatid).addClass('seled');
                    if (!$("#" + item.seatid).hasClass(item.ruleid)) {
                        $("#" + item.seatid).addClass(item.ruleid);
                    }
                    changeSeatIds.push(item.seatid);
                })
            }
        }

        function querySeatById(rulezone) {
            resetChangeSeartIds();
            console.log("点击选区成功");
            if (rulezone && rulezone.length > 0) {
                showRuleIds = [];
                var rulezonejson = JSON.parse(rulezone);
                $.each(rulezonejson, function(index, item) {
                    $("#" + item.seatid).addClass('seled');
                    if (!$("#" + item.seatid).hasClass(item.ruleid)) {
                        $("#" + item.seatid).addClass(item.ruleid);
                    }
                    showRuleIds.push(item);
                })
            }
        }

        function queryAllSeatStatus(roomid, ruleid) {
            var data = {};
            data.action = "s";
            data.ruletemplateid= ruleid;
            data.roomtemplateid = roomid;
            $.ajax({
                type: "get",
                url: url+"/rulesetup/show",
                data: data,
                xhrFields: {
                    withCredentials: true
                },
                dataType: 'json',
                success: function(data) {
                    var datas= data.data;
                    console.log("queryAllSeatStatus---",data.data)
                    if (datas && datas instanceof Array) {
                        setSeatStatus(datas);
                    }
                }
            });
        }
        function setSeatStatus(data) {
            console.log("001----显示颜色");
            // console.log(data);
            if (data && data instanceof Array) {
                for (var i = 0, len = data.length; i < len; i++) {
                    var items = data[i] || null;
                    if(items){
                        items = JSON.parse(items);
                        items.forEach(function(item) {
                            $("#" + item.seatid).addClass('R99');
                            $("#" + item.seatid).css("background",item.bgcolor);
                        });
                    }
                }
            }
        }

        function setSeatRule(ruleselect, isincrement,isaddrule,editObj,oldruleid) {
            var rulename = ruleselect;
            var isincrement = isincrement - 0;
            var ruleid = 0;
            if (isaddrule) {
                var count = 0;
                // ckids_now = [];
                var ckids_now = $("#seatcontainerId .seled");
                if (ckids_now && ckids_now.length > 0) {
                    var rule = [];
                    for (var i = 0, len = ckids_now.length; i < len; i++) {
                        rule.push({
                            "seatid": ckids_now[i].id,
                            "bgcolor": colors[areaIndex]
                        });
                    }


                    saveSeatRule(rule, rulename, ruleid, roomid, isincrement);
                }else{
                    layer.msg("没有选中座区");
                }
            } else {
                var ckids_now = $("#seatcontainerId .seled");
                if (ckids_now && ckids_now.length > 0) {
                    var rule = [];
                    for (var i = 0, len = ckids_now.length; i < len; i++) {
                        rule.push({
                            "seatid": ckids_now[i].id,
                            "bgcolor": editObj.data.bgcolor
                        });
                    }
                    updateSeatRule(JSON.stringify(rule), rulename, editObj.data.id, isincrement, oldruleid);
                    this.resetChangeSeartIds();
                }
            }
        }


        function saveSeatRule(rule, rulename, temp_ruletemplateid, roomtemplateid, isincrement) {

            var data = {};
            data.rulezone = JSON.stringify(rule);
            data.ruleid = "z";
            data.bgcolor = colors[areaIndex];
            data.rulename = rulename;
            data.ruletemplateid = temp_ruletemplateid;
            data.roomtemplateid = roomtemplateid;
            data.isincrement = isincrement;
            data.seatsnum = rule.length;
            // console.log(data);
            $.ajax({
                type: "POST",
                url: url + "/rulesetup/addRulesetup",
                data: data,
                xhrFields: {
                    withCredentials: true
                },
                success: function(data) {
                    if (data.code==0) {
                        areaIndex++;
                        areaIndex = areaIndex%10;
                        for (var i = 0, len = rule.length; i < len; i++) {
                            $("#" + rule[i].seatid).removeClass('seled');
                            $("#" + rule[i].seatid).addClass('R99');
                            $("#" + rule[i].seatid).css("background",rule[i].bgcolor);
                        }
                        ajax_reload();
                    } else {
                        alert("设置失败");
                    }
                }
            });
        }

        function updateSeatRule(rule, rulename, rulerecordid, isincrement, oldruleid) {
            var rulez = JSON.parse(rule);
            var data = {};
            data.rule = rulez; //JSON.stringify(rule);
            data.action = "u";
            data.ruleid = "z";
            data.rulename = rulename;
            data.rulerecordid = rulerecordid;
            data.isincrement = isincrement;
            $.ajax({
                type: "POST",
                url: url + "/rulesetup/updateRulesetup",
                xhrFields: {
                    withCredentials: true
                },
                data: {
                    "id": rulerecordid,
                    "rulezone": rule,
                    "isincrement": isincrement,
                    "ruleid": "z"
                },
                dataType: 'json',
                success: function(data) {
                    if (data.code == '0') {
                        for (var i = 0, len = rulez.length; i < len; i++) {
                            // $("#" + rulez[i].seatid).removeClass(oldruleid);
                            $("#" + rulez[i].seatid).css("background",rulez[i].bgcolor);
                        }
                        ajax_reload();
                    } else {
                        alert("设置失败");
                    }
                }
            });
        }

        function delSeatRule(rulezone) {
            // olconsole.log('delSeatRule---', rulezone);
            resetChangeSeartIds();
            rulezone = JSON.parse(rulezone)

            if (rulezone && rulezone.length > 0) {
                rulezone.forEach(function(item) {
                    $("#" + item.seatid).removeClass();
                    $("#" + item.seatid).css("background","");
                    $("#" + item.seatid).addClass('seatdiv');
                });
            }
        }

        function resetChangeSeartIds() {
            $("#seatcontainer .seled").removeClass("seled");

            //以下代码还不知道是干嘛的
            if (changeSeatIds.length > 0) {
                changeSeatIds.forEach(function(item) {
                    $("#" + item).removeClass('reseled');
                });
            }
            changeSeatIds = [];
        }



































        // function queryAllSeatStatusById(id) {
        // 	var data = {};
        // 	data.action = "s";
        // 	data.ruleid = id;
        // 	$.ajax({
        // 		type: "POST",
        // 		url: "https://www.longjuli.com/ruletemplate_add_next_do.php",
        // 		data: data,
        // 		dataType: 'json',
        //            xhrFields: {
        //                withCredentials: true
        //            },
        // 		success: function(data) {
        // 			console.log("queryAllSeatStatusById---", data)
        // 			if (data && data instanceof Array) {
        // 				// console.log(data)
        // 				// setSeatStatus(data);
        // 			}
        // 			// $("#myDiv").html('<h2>'+data+'</h2>');
        // 		}
        // 	});
        // }


        // var changeRuleZone = [];
        // var isaddrule = true;
        // var temp_ruletemplateid = 0;
        // var oldisincrement = 0;

        // function changeSeatRuleById(id, rulezone, ruleid, isincrement) {
        // 	// console.log("changeSeatRuleById----", id, rulezone, ruleid);

        // 	resetChangeSeartIds();

        // 	$("#dialog").css('display', 'block');
        // 	$("#dialogbk").css('display', 'block');

        // 	// var $modal = $('#doc-modal-1');
        // 	// $modal.modal('toggle');

        // 	isaddrule = false;
        // 	changeRuleZone = rulezone || [];
        // 	rulerecordid = id;
        // 	oldruleid = ruleid;
        // 	oldisincrement = isincrement;
        // 	$("#ruleselect").val(ruleid);
        // 	$("#isincrement").val(isincrement);
        // }

        // function setRuleBtnclick(evt) {
        // 	if (changeSeatIds.length > 0) {
        // 		isaddrule = false;
        // 	} else {
        // 		isaddrule = true;
        // 	}
        // }






        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
            var r = window.location.search.substr(1).match(reg); //search,查询？后面的参数，并匹配正则
            if (r != null) return unescape(r[2]);
            return null;
        }

        function getCookie(name) {
            var arr, reg = new RegExp("(^| )" + name + "=([^;]*)(;|$)");
            if (arr = document.cookie.match(reg)) {
                return unescape(arr[2]);
            } else {
                return null;
            }
        }



    });

    function asd() {
        location.reload();
    }

    window.onkeyup = function(ev) {
        var key = ev.keyCode || ev.which;
        if (key == 27) { //按下Escape
            layer.closeAll('iframe'); //关闭所有的iframe层

        }
    }
</script>
</html>
