<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>模版名称</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
<style type="text/css">
.layui-form-label{
	width: 100px;
}
.layui-input-block {
	margin-left: 130px;
}
.layui-form-label span{color: #f00;font-size: 14px;margin-right: 5px;}
.layui-input-block span{color: #f00;font-size: 14px;margin:0 5px;}
</style>
</head>
<body>
<div class="layui-card-body" style="padding: 20px 20px 0 0;">
	<form class="layui-form" action="" lay-filter="component-form-group">
		<div class="layui-form-item">
			<label class="layui-form-label"><span>*</span>模版名称:</label>
			<div class="layui-input-block">
			<input type="text" name="username" lay-verify="required" placeholder="模版名称" autocomplete="off" id="username"
				class="layui-input">
			</div>
		</div>
		<div class="layui-form-item" style="margin-top: 15px">
			<label class="layui-form-label">短信模版内容:</label>
			<div class="layui-input-block">
				<textarea placeholder="请输入内容" class="layui-textarea"></textarea>
				<p>已输入<span>255</span>个字符，约<span>3</span>条短信长度。</p>
			</div>
		</div>
		
	</form>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
layui.config({
	base: '../../../layuiadmin/' //静态资源所在路径
}).extend({
	index: 'lib/index' //主入口模块
}).use(['index', 'form', 'laydate', 'element'], function() {
	var $ = layui.$,
		admin = layui.admin,
		element = layui.element,
		layer = layui.layer,
		laydate = layui.laydate,
		form = layui.form;
	var url="https://f.longjuli.com"
	$.ajax({
		url: url+"/role/findAll",
		type: "get",
		async: true,
		xhrFields: {
			withCredentials: true
		},
		success: function(data) {
			console.log(data);
			$.each(data.data, function(idx, con) {
				$("#select_special").after("<option value=" + con.roleId + ">" + con.name + "</option>");
			})
			$('#group').val($('#use').val());
			form.render()
		},
		error: function(error) {
			console.log(error)
		}

	})
});
</script>
</body>
</html>
