<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>模版名称</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<style type="text/css">
		.layui-form-label {
			width: 100px;
		}

		.layui-input-block {
			margin-left: 130px;
		}

		.layui-form-label span {
			color: #f00;
			font-size: 14px;
			margin-right: 5px;
		}

		.layui-input-block span {
			color: #f00;
			font-size: 14px;
			margin: 0 5px;
		}
	</style>
</head>

<body>
	<div class="layui-card-body" style="padding: 20px 20px 0 0;">
		<form class="layui-form" action="" lay-filter="component-form-group">
			<div class="layui-form-item">
				<label class="layui-form-label"><span>*</span>模版名称</label>
				<div class="layui-input-block">
					<input type="text" name="name" lay-verify="required" placeholder="模版名称" autocomplete="off"
						id="username" class="layui-input">
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label"><span>*</span>短信模版类型</label>
				<div class="layui-input-block">
					<select name="interest" lay-skin="select" lay-filter="component-form-select" id="smslist">
						<option value=0>通知模板</option>
						<option value=1>报名模板</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item" style="margin-top: 15px">
				<label class="layui-form-label"><span>*</span>短信模版内容</label>
				<div class="layui-input-block">
					<textarea name="content" placeholder="请输入内容" class="layui-textarea" id="texts"></textarea>
					<p id="label">已输入<span id="smslength">0</span>个字符，共<span>1</span>条短信长度。点击插入模版标签：<br/><a
							id="person" onclick="test('${接收人}')"><span>${接收人}</span></a>
							<a
							id="person" onclick="test('${会议名称}')"><span>${会议名称}</span></a>
							<a
							id="person" onclick="test('${会议时间}')"><span>${会议时间}</span></a>
							<a
							id="person" onclick="test('${会议地点}')"><span>${会议地点}</span></a>
					</p>
				</div>
			</div>
			<div class="layui-form-item layui-layout-admin layui-hide">
				<div class="layui-input-block">
					<div style="position: absolute;right: 0px;bottom: 0px;">
						<button class="layui-btn" lay-submit="" lay-filter="addmeeting" id="click">增加</button>
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</div>

		</form>
	</div>
	<script src="../../../layuiadmin/layui/layui.js"></script>
	<script>
		layui.config({
			base: '../../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'form', 'laydate', 'element'], function () {
			var $ = layui.$,
				setter = layui.setter,
				form = layui.form;
			var url = setter.baseUrl;
			// var url = "http://127.0.0.1:8083"
			$('textarea').bind('input propertychange', function () {
				$('#smslength').text($(this).val().length);
			});
			$.ajax({
                async: false,
                type: "get",
                url: url + "/templateparameter/findAll",
                dataType: "json",
                xhrFields: {
                    withCredentials: true
                },
                //成功的回调函数
                success: function (msg) {
                    var data = msg;
                    $.each(data.data, function (idx, con) {
                        $("#label").append('<a onclick=test("${'+con.name+'}")><span>${'+con.name+'}</span></a>')
                    })
                    form.render();
                },
                //失败的回调函数
                error: function () {
                    console.log("error")
                }
            })
			




			form.on('submit(addmeeting)', function (data) {
				var data = data.field;
				console.log(data)
				$.ajax({
					async: false,
					type: "post",
					url: url + "/smstemplate/add",
					datatype: 'json',
					data: {
						smsTemplateName: data.name,
						smsTemplateContent: data.content,
						smsTemplateType: data.interest
					},
					xhrFields: {
						withCredentials: true
					},
					//成功的回调函数
					success: function (msg) {
						if (msg.code == 0) {
							parent.layer.msg("添加成功")
							var index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
							parent.layer.close(index);
							parent.reloads();
						} else {
							parent.layer.msg(msg.msg)
						}

					},
					error: function (error) {
						console.log(error)
					},
				})

			})
			$('.layui-ds').on('click', function () {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});
		});
		function test(str) {
				var tc = document.getElementById("texts");
				var tclen = tc.value.length;
				tc.focus();
				if (typeof document.selection != "undefined") {
					document.selection.createRange().text = str;
				}
				else {
					tc.value = tc.value.substr(0, tc.selectionStart) + str + tc.value.substring(tc.selectionStart, tclen);
				}
			}
	</script>
</body>

</html>