<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>规则排序</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
<style type="text/css">
.sort_table{
	margin-top:10px;
}
.sort_table th{
	text-align: left;
	padding-top:5px;
	padding-bottom:5px
}
.sort_table td{
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px
}
</style>
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list">
	<p style="padding:20px 0 0 20px">添加按以下方式排序的级别：</p>
	<div style="margin:0 10px 0 20px;">
		<table class="sort_table">
			<thead>
				<tr>
					<th width="18%">级别序号</th>
					<th width="">排序项</th>
					<th width="20%">顺序</th>
					<th width="40">操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<input type="text" name="name" lay-verify="required" placeholder="1" autocomplete="off" class="layui-input hyname">
					</td>
					<td>
						<select name="interest" lay-skin="select" lay-filter="component-form-select">
							<option value="1">组别</option>
							<option value="2">姓式笔画</option>
							<option value="3">正序</option>
							<option value="4">倒序</option>
						</select>
					</td>
					<td>
						<select name="interest" lay-skin="select" lay-filter="component-form-select">
							<option value="1">升序</option>
							<option value="2">降序</option>
						</select>
					</td>
					<td>
						<a class="btn_del" href="javascript:void(0)"><i class="layui-icon layui-icon-close" style="font-size:20px"></i></a>
					</td>
				</tr>
				<tr>
						<td>
							<input type="text" name="name" lay-verify="required" placeholder="2" autocomplete="off" class="layui-input hyname">
						</td>
						<td>
							<select name="interest" lay-skin="select" lay-filter="component-form-select">
								<option value="1">组别</option>
								<option value="2">姓式笔画</option>
								<option value="3">正序</option>
								<option value="4">倒序</option>
							</select>
						</td>
						<td>
							<select name="interest" lay-skin="select" lay-filter="component-form-select">
								<option value="1">升序</option>
								<option value="2">降序</option>
							</select>
						</td>
						<td>
							<a class="btn_del" href="javascript:void(0)"><i class="layui-icon layui-icon-close" style="font-size:20px"></i></a>
						</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="name" lay-verify="required" placeholder="3" autocomplete="off" class="layui-input hyname">
					</td>
					<td>
						<select name="interest" lay-skin="select" lay-filter="component-form-select">
							<option value="1">组别</option>
							<option value="2">姓式笔画</option>
							<option value="3">正序</option>
							<option value="4">倒序</option>
						</select>
					</td>
					<td>
						<select name="interest" lay-skin="select" lay-filter="component-form-select">
							<option value="1">升序</option>
							<option value="2">降序</option>
						</select>
					</td>
					<td>
						<a class="btn_del" href="javascript:void(0)"><i class="layui-icon layui-icon-close" style="font-size:20px"></i></a>
					</td>
				</tr>
				<tr>
					<td>
						<input type="text" name="name" lay-verify="required" placeholder="4" autocomplete="off" class="layui-input hyname">
					</td>
					<td>
						<select name="interest" lay-skin="select" lay-filter="component-form-select">
							<option value="1">组别</option>
							<option value="2">姓式笔画</option>
							<option value="3">正序</option>
							<option value="4">倒序</option>
						</select>
					</td>
					<td>
						<select name="interest" lay-skin="select" lay-filter="component-form-select">
							<option value="1">升序</option>
							<option value="2">降序</option>
						</select>
					</td>
					<td>
						<a class="btn_del" href="javascript:void(0)"><i class="layui-icon layui-icon-close" style="font-size:20px"></i></a>
					</td>
				</tr>
					
			</tbody>
		</table>
	</div>
	<p style="padding:10px 0 0 20px"><button class="layui-btn" data-type="reload">添加</button></p>
</div>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script type="text/javascript">
layui.config({
	base: '../../../layuiadmin/' //静态资源所在路径
}).extend({
	index: 'lib/index' //主入口模块
}).use(['index', 'user', 'table','tree', 'util'], function() {
	var $ = layui.$,
		form = layui.form,
		element = layui.element,
		table = layui.table,
		layer = layui.layer,
		tree = layui.tree,
		util = layui.util,
		router = layui.router();
})
</script>
</body>
</html>
