<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>用户</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
        <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
        <link rel="stylesheet" href="../../../layuiadmin/style/login.css" media="all">
        <script src="../../../js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
        <style type="text/css">
            .layui-btn {
                background-color: #666;
            }

            .layui-btn-danger {
                background-color: #FF5722;
            }

            .layui-laypage .layui-laypage-curr .layui-laypage-em {
                background-color: #666;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="../../../css/scosun.css" />
        <script src="../../../js/scosun.js"></script>
    </head>
    <body>
        <div class="layui-fluid" style="padding:3px 0">
            <div class="layui-col-md12">
                <div class="layui-row grid-demo grid-demo-bg1">
                    <div class="layui-col-md12">

                    </div>
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card">
                               
                                <div class="layui-card-body">
                                    <div class="layui-btn-group test-table-operate-btn" style="margin-bottom: 10px;" id="add">



                                    </div>
                                    <div>
                                        <table class="layui-hide" id="test-table-operate" lay-filter="test-table-operate"></table>
                                    </div>
                                    <script type="text/html" id="table-zone-list">
                                        <a class=" layui-icon " lay-event="zonelist" id="zonelist" style="font-size: 1.5625rem;">&#xe62d;</a>
									</script>
                                    <script type="text/html" id="table-content-list">
                                        {{#  if($.inArray("upmanage", a) != -1){ }}<a class="layui-btn layui-btn-xs layui-dd" lay-event="manage" data-type="manage" id="manage">授权</a>{{#  } }}
										{{#  if($.inArray("upuser", a) != -1){ }}<a class="layui-btn layui-btn-xs layui-dd" lay-event="edit" data-type="edit" id="edit">编辑</a>{{#  } }}
										{{#  if($.inArray("deluser", a) != -1){ }}<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" data-type="delete" id="del">删除</a>{{#  } }}
									</script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <script src="../../../layuiadmin/layui/layui.js"></script>
        <script type="text/javascript">
            var tablezonetable;
            layui.config({
                base: '../../../layuiadmin/' //静态资源所在路径
            }).extend({
                index: 'lib/index' //主入口模块
            }).use(['index', 'user', 'table'], function() {
                var $ = layui.$,
                    setter = layui.setter,
                    admin = layui.admin,
                    form = layui.form,
                    element = layui.element,
                    table = layui.table,
                    layer = layui.layer,
                    datas = null,
                    router = layui.router();
                 var url = "https://f.longjuli.com"
                /* var url = "http://127.0.0.1:8083" */
                $.ajax({
                    async: false,
                    type: "get",
                    url: url + "/permission/getpremission",
                    datatype: 'json',

                    xhrFields: {
                        withCredentials: true
                    },
                    //成功的回调函数
                    success: function(msg) {
                        var data = msg.data;
                        if (msg.code != 0) {
                            location.href = "user/login.html"
                        }
                        if (isEmptyObject(data) != 0) {
                            console.log("1")
                            window.a = data
                            if ($.inArray("adduser", data) != -1) {
                                $('#add').append(
                                    "<button class='layui-btn layui-ds' data-type='add' >增加用户</button>"
                                )
                            }

                        } else {


                        }
                    },
                    error: function(error) {
                        console.log(error)
                    },
                })

                function isEmptyObject(obj) {

                    var jlength = 0;
                    for (var key in obj) {
                        if (key != "null") {
                            jlength++;
                        }

                    };
                    return jlength
                };
					table.render({
					    elem: '#test-table-operate',
					    // height: 'full-200',
					    url: url + "/manage/findUserBylayui" //数据接口
					        ,
					    xhrFields: {
					        withCredentials: true
					    },
					    method: 'get',
					    page: {
					        layout: ['prev', 'page', 'next', 'count', 'skip']
					    },
						cols: [
						    [{
						            type: 'checkbox',
						            fixed: 'left'
						        },
						        {
						            field: 'userId',
						            width: '7%',
						            title: 'ID',
						            sort: true
						        }, {
						            field: 'username',
						            title: '用户名',
						            align: "left"
						        }, {
						            field: 'anotherName',
						
						            title: '昵称',
						            align: "left"
						        }, {
						            field: 'rolename',
						
						            title: '管理组',
						            align: "left"
						        }, {
						            field: 'sex',
						
						            title: '性别',
						            templet: function(data) {
						                if (data.sex == 1) {
						                    return '男'
						                }
						                if (data.sex == 2) {
						                    return '女'
						                }
						                if (data.sex == undefined) {
						                    return ''
						                }
						            },
						
						        }, 
						
						        {
						            field: 'lastLoginTime',
						
						            title: '最后登录时间',
						            align: "left",
						            sort: true
						        }, {
						            width: '10%',
						            align: 'left',
						            title: '操作',
						            toolbar: '#table-content-list'
						        }
						
						    ]
						],
						event: true,
						page: true,
						limit: 10,
						skin: 'line',
						limits: [5, 10, 15],
						done: function (res, curr, count) {
							console.log(res.data);
						    table_data = res.data;
						    layer.closeAll('loading');
						    // layer.close(layer.index); //它获取的始终是最新弹出的某个层，值是由layer内部动态递增计算的
						    // layer.close(index);    //返回数据关闭loading
						}
					});

                
                table.on('tool(test-table-operate)', function(obj) {
                    if (obj.event === 'edit') {
                        console.log(obj.data);
                        layer.open({
                            type: 2,
                            title: '<p style="">修改用户</p>',
                            content: 'user_update.html',
                            // maxmin: true,
                            area: ['60%', '80%'],
                            btn: ['确定', '取消'],
                            yes: function(index, layero) {
                                var body = layer.getChildFrame('body', index);
                                // console.log(body.find('#meeting_list').val() + "1s")

                                $.ajax({
                                    url: url + "/user/updateUser",
                                    type: "POST",
                                    data: {
                                        "userId": obj.data.userId,
                                        "anotherName": body.find('#anotherName').val(),
                                        "email": body.find('#email').val(),
                                        "age": body.find('#age').val(),
                                        "sex": body.find('#sexid').val(),

                                    },
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    success: function(data) {
                                        if (data.code === 0) {
                                            layer.msg('修改成功');
                                            layer.close(index);
                                            var submit = layero.find('iframe').contents()
                                                .find(
                                                    "#layuiadmin-app-form-submit"
                                                );
                                            submit.click();
											table.reload('test-table-operate', {
											    data: a
											})
                                        } else {
                                            layer.msg(data.msg, {
                                                icon: 5
                                            });
                                            layer.close(index);
                                        }

                                    },
                                    error: function(error) {

                                        layer.msg(error.msg, {
                                            icon: 5
                                        });
                                        layer.close(index);
                                    }

                                })



                            },
                            success: function(layero, index) {
                                var body = layui.layer.getChildFrame('body', index);
                                body.find('#anotherName').val(obj.data.anotherName);
                                body.find('#email').val(obj.data.email);
                                body.find('#age').val(obj.data.age);
                                body.find('#sexid').val(obj.data.sex);

                            }
                        });
                    }
                    if (obj.event === 'del') {
                        layer.confirm('真的删除吗', function(index) {
                            obj.del();

                            $.ajax({
                                async: false,
                                type: "post",
                                url: url + "/user/deleteUser",
                                dataType: "json",
                                //成功的回调函数
                                data: {
                                    "userId": obj.data.userId,
                                },
                                xhrFields: {
                                    withCredentials: true
                                },
                                success: function(msg) {

                                    if (msg.code == 0) {
                                        layer.msg("删除成功");
										table.reload('test-table-operate', {
										    data: a
										})
                                    } else {
                                        layer.msg(msg.msg);

                                    }

                                },
                                //失败的回调函数
                                error: function() {
                                    console.log("error")
                                }
                            })
                            layer.close(index);
                        });
                    }
                    if (obj.event === 'manage') {
                        layer.open({
                            type: 2,
                            title: '<p style="">修改管理员</p>',
                            content: 'manageupdate.html',
                            // maxmin: true,
                            area: ['40%', '60%'],
                            btn: ['确定', '取消'],
                            yes: function(index, layero) {
                                var body = layer.getChildFrame('body', index);
                                // console.log(body.find('#meeting_list').val() + "1s")

                                $.ajax({
                                    url: url + "/manage/updateManage",
                                    type: "POST",
                                    data: {
                                        "userRoleId": obj.data.userRoleId,
                                        "roleId": body.find('#group').val(),


                                    },
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    success: function(data) {
                                        if (data.code === 0) {
                                            layer.msg('修改成功');
                                            layer.close(index);
                                        } else {
                                            layer.msg(data.msg, {
                                                icon: 5
                                            });
                                            layer.close(index);
                                        }

                                    },
                                    error: function(error) {

                                        layer.msg(error.msg, {
                                            icon: 5
                                        });
                                        layer.close(index);
                                    }

                                })



                            },
                            success: function(layero, index) {
                                var body = layui.layer.getChildFrame('body', index);
                                body.find('#username').val(obj.data.username);
                                body.find('#use').val(obj.data.roleId);


                            }
                        });
                    }

                })
                var active = {
                    add: function() {
                        layer.open({
                            type: 2,
                            title: '<p style="">新增用户</p>',
                            content: 'userlist.html',
                            // maxmin: true,
                            area: ['60%', '80%'],
                            btn: ['确定', '取消'],
                            yes: function(index, layero) {
                                var body = layer.getChildFrame('body', index);
                                // console.log(body.find('#meeting_list').val() + "1s")

                                $.ajax({
                                    url: url + "/user/addUser",
                                    type: "POST",
                                    data: {
                                        "username": body.find('#username').val(),
                                        "password": body.find('#password').val(),
                                        "anotherName": body.find('#anotherName').val(),
                                        "email": body.find('#email').val(),
                                        "age": body.find('#age').val(),
                                        "sex": body.find('#sexid').val(),
                                        "phone": body.find('#username').val(),

                                    },
                                    xhrFields: {
                                        withCredentials: true
                                    },
                                    success: function(data) {
                                        if (data.code === 0) {
                                            layer.msg('添加成功');
                                            layer.close(index);
                                            var submit = layero.find('iframe').contents()
                                                .find(
                                                    "#layuiadmin-app-form-submit"
                                                );
                                            submit.click();


                                            table.reload('test-table-operate', {
                                                data: a
                                            })


                                        } else {
                                            layer.msg(data.msg, {
                                                icon: 5
                                            });
                                            layer.close(index);
                                        }

                                    },
                                    error: function(error) {

                                        layer.msg(error.msg, {
                                            icon: 5
                                        });
                                        layer.close(index);
                                    }

                                })



                            },
                            success: function(layero, index) {
                                var body = layui.layer.getChildFrame('body', index);
                            }
                        });
                    }
                }
                $('.layui-ds').on('click', function() {
                    var type = $(this).data('type');
                    active[type] && active[type].call(this);
                });


            })
        </script>
    </body>
</html>
