<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <!-- <title>登入 - 咪叮加加</title> -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="icon" type="image/png" sizes="16x16" href="../../../images/favicon.ico">
</head>
<body>
<script src="https://g.alicdn.com/dingding/dingtalk-jsapi/2.10.3/dingtalk.open.js"></script>
<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
    layui.config({
        base: '../../../layuiadmin/' //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function() {
        var $ = layui.$,
            setter = layui.setter;
        var url = setter.baseUrl;
        // var url = "http://127.0.0.1:8083";
        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg);//匹配目标参数
            if (r != null) return decodeURI(r[2]); return null; //返回参数值
        }
        function isMobile() {
            var userAgentInfo = navigator.userAgent;

            var mobileAgents = [ "Android", "iPhone", "SymbianOS", "Windows Phone", "iPad","iPod"];

            var mobile_flag = false;

            //根据userAgent判断是否是手机
            for (var v = 0; v < mobileAgents.length; v++) {
                if (userAgentInfo.indexOf(mobileAgents[v]) > 0) {
                    mobile_flag = true;
                    break;
                }
            }

            var screen_width = window.screen.width;
            var screen_height = window.screen.height;

            //根据屏幕分辨率判断是否是手机
            if(screen_width < 500 && screen_height < 800){
                mobile_flag = true;
            }

            return mobile_flag;
        }
        console.log(isMobile())
        // if (isMobile() === true){
        //     location.href = "./prompt.html"
        // }else {
            $.ajax({
                async: true,
                type: "get",
                url: url+"/islogin",
                dataType: "json",

                xhrFields: {
                    withCredentials: true
                },

                success: function(msg) {
                    if (msg.code == 0) {
                        var urlParam = getUrlParam("id");
                        location.href = "meetingdetails.html?id="+urlParam
                    }
                },
                error: function(msg) {


                }

            })
            if (localStorage.getItem("accessToken") === null){

                $.ajax({
                    async: false,
                    type: "get",
                    url: url+"/ding/getAccessToken",
                    dataType: "json",
                    data:{
                        "appKey": "ding8f9dzorsxzgnpc3r",
                        "appSecret": "0BvjPwdpLQsaZbPc7aPM26hiCim150oPEuDIBRLdD5SbMEbLNTFPG2cDX5UHUVbh"
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function(msg) {
                        if (msg.code === 0) {
                            localStorage.setItem("accessToken",msg.data)
                        }
                    },
                    error: function(msg) {


                    }

                })
            }
            console.log(localStorage.getItem("code"));
            if (localStorage.getItem("code") === null){
                dd.ready(function() {
                    dd.runtime.permission.requestAuthCode({
                        corpId: "ding216cb8d2a00c59ba35c2f4657eb6378f", // 企业id
                        onSuccess: function (info) {
                            code = info.code // 通过该免登授权码可以获取用户身份]
                            localStorage.setItem("code",code)
                        },
                        onFail: function (info){
                            console.log(info);
                        }
                    });
                });
            }
            if (localStorage.getItem("accessToken") !=null && localStorage.getItem("code") != null){
                $.ajax({
                    async: false,
                    type: "get",
                    url: url+"/ding/login",
                    dataType: "json",
                    data:{
                        "accessToken": localStorage.getItem("accessToken"),
                        "code": localStorage.getItem("code")
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function(msg) {
                        if (msg.code == 0) {
                            location.href = "meetingdetails.html"
                        }
                        if (msg.data.errcode === 40014){
                            getAcccessToken();
                        }
                        if (msg.data.errcode === 40078){
                            getAuthCode();
                        }
                    },
                    error: function(msg) {


                    }

                })

            }
            function userId(){
                $.ajax({
                    async: false,
                    type: "get",
                    url: url+"/ding/login",
                    dataType: "json",
                    data:{
                        "accessToken": localStorage.getItem("accessToken"),
                        "code": localStorage.getItem("code")
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function(msg) {
                        if (msg.code == 0) {
                            var urlParam = getUrlParam("id");
                            location.href = "meetingdetails.html?id="+urlParam
                        }
                        if (msg.data.errcode === 40078){
                            getAuthCode();
                        }
                        if (msg.data.errcode === 40014){
                            getAcccessToken();
                        }
                    },
                    error: function(msg) {


                    }

                })
            }
            function getAuthCode(){
                dd.ready(function() {
                    dd.runtime.permission.requestAuthCode({
                        corpId: "ding216cb8d2a00c59ba35c2f4657eb6378f", // 企业id
                        onSuccess: function (info) {
                            code = info.code // 通过该免登授权码可以获取用户身份]
                            localStorage.setItem("code",code)
                            userId();
                        },
                        onFail: function (info){
                            console.log(info);
                        }
                    });
                });
            }
            function  getAcccessToken(){
                $.ajax({
                    async: false,
                    type: "get",
                    url: url+"/ding/getAccessToken",
                    dataType: "json",
                    data:{
                        "appKey": "ding8f9dzorsxzgnpc3r",
                        "appSecret": "0BvjPwdpLQsaZbPc7aPM26hiCim150oPEuDIBRLdD5SbMEbLNTFPG2cDX5UHUVbh"
                    },
                    xhrFields: {
                        withCredentials: true
                    },
                    success: function(msg) {
                        if (msg.code === 0) {
                            localStorage.setItem("accessToken",msg.data)
                            userId();
                        }
                    },
                    error: function(msg) {


                    }

                })
            }
        // }

        //提交

    })
    //实际使用时记得删除该代码
</script>
</body>
</html>
