<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>表单组合</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<script src="/m/js/scosun.js"></script>
	</head>
	<body>

		<div class="layui-fluid">
			<div class="layui-card">
				
				<div class="layui-card-body" style="">
					<form class="layui-form" action="" lay-filter="component-form-group">

						<div class="layui-form-item">
							<label class="layui-form-label">规则名称</label>
							<div class="layui-input-block">
								<input type="text" name="user" lay-verify="required"
								 placeholder="请输入" autocomplete="off" class="layui-input username">
							</div>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label">规则类型</label>
							<div class="layui-input-block">
								<input type="checkbox" name="close"  lay-skin="switch" lay-text="快速|标准">
							</div>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label">会议室名称</label>
							<div class="layui-input-block">
								<select name="interest" lay-verify="required" id="select-room">
									<option value="" id="select_meet"></option>

								</select>
							</div>
						</div>

						<div class="layui-form-item layui-layout-admin">
							<div class="layui-input-block">
								<div class="layui-footer" style="left: 0;">
									<button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">下一步:座设定区规则</button>
									<button type="reset" class="layui-btn layui-btn-primary">重置</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>


		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script src="../../../layuiadmin/layui/arrange/arrangeman/group.js" type="text/javascript" charset="utf-8"></script>

	</body>
</html>
