<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>表单组合</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
		<style>
			html{
				background-color: white;
			}
		</style>
	</head>
	<body>

		<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0; ">
            <form class="layui-form" action="" lay-filter="component-form-group">
				<div class="layui-form-item">
				<label class="layui-form-label">规则模板</label>
				<div class="layui-input-block">
					<select class="dialogRuleSelect" id="ruleselect">
						<option value="">请选择</option>
						<option value="R1">R1-正向左右左排序</option>
						<option value="R2">R2-反向左右左排序</option>
						<option value="R3">R3-从左到右排序</option>
						<option value="R4">R4-从右到左排序</option>
						<option value="R5">R5-从上到下排序</option>
						<option value="R6">R6-从下到上排序</option>
						<option value="R7">R7-正向横向S型排序</option>
						<option value="R8">R8-反向横向S型排序</option>
						<option value="R9">R9-正向纵向S型排序</option>
						<option value="R10">R10-反向纵向S型排序</option>
					</select>
				</div>
			</div>

			<div class="layui-form-item">
				<label class="layui-form-label">规则模板</label>
				<div class="layui-input-block">
					<select class="dialogRuleSelect2" id="isincrement" name="isincrement">
						<option value="">请选择</option>
						<option value="0">上增下补</option>
						<option value="1">上增下不补</option>
						<option value="2">上不增下补</option>
						<option value="3">上不增下不补</option>
					</select>
				</div>
			</div>
            </form>
        </div>

		<script src="../../../layuiadmin/layui/layui.js"></script>
		<script type="text/javascript">
			layui.config({
				base: '../../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'user', 'table', 'form'], function() {
				var $ = layui.$,
					form = layui.form,
					element = layui.element;


				/* 监听提交 */
				form.on('submit(component-form-demo1)', function(data) {



					return true;
				});




			})
		</script>
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

	</body>
</html>
