/*座区图*/
/*.formSubBtn .submit{background:#f05e4b!important;border:1px solid #f05e4b!important;border-radius:5px!important;}
.formSubBtn .back {border-radius:5px!important;border-color:#ccc;}
body{margin: 0!important;padding: 18px 23px 30px!important;font-family: "微软雅黑",Arial,"宋体"!important;font-size: 12px!important;*overflow-y: hidden!important;color: #333!important;}
a{color: #333!important;}
a:hover{color:#f05e4b!important;font-weight:bold;}*/
/*.quickToolbar .quickArea a.dataBtn{color:#fff!important;}
.dataBtn:hover{color:#fff!important;};
.formHeader span.title{float: left!important;display: block!important;height: 39px!important;border-bottom: 3px solid #fdab36!important;font-size: 16px!important;color: #000!important;}
*, :after, :before {box-sizing: inherit!important;}
header{border-bottom:none!important;}*/

#body {

	position: absolute;
	top: -80px;

}

body,
html {
	width: 160rem;
	
	
}

::-webkit-scrollbar {
	display: none;
}

.zone {
	margin: 0 auto !important;
}


.page-wrapper {
	background: #fff !important;
}

.huabu {
	background: #fff !important;
}

.fileDiv {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #ccc;
	margin-right: 6.9px;
	margin-bottom: 10px;
}

.small {
	margin-right: 4.7px;
}

.big {
	margin-right: 27px;
}

.big1 {
	margin-right: 19.2px;
}

.big2 {
	margin-right: 10.7px;
}

.big3 {
	margin-right: 26.7px !important;
}

.big4 {
	margin-right: 25.3px;
}

.big5 {
	margin-right: 11.8px;
}

.nullDiv {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-right: 7px;
	margin-bottom: 10px;
	color: red;
}

.lizhuDiv {
	float: left;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-right: 7px;
	margin-bottom: 10px;
	background: #ccc;
}

.halfnullDiv3_1 {
	float: left;
	width: 24px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: red;
}

.halfnullDiv3_2 {
	float: left;
	width: 25px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: red;
}

.halfnullDiv2_1 {
	float: left;
	width: 25px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: red;
}

.halfnullDiv2_2 {
	float: left;
	width: 28px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: red;
}

.halfnullDiv1_1 {
	float: left;
	width: 27px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: red;
}

.halfnullDiv1_2 {
	float: left;
	width: 30px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-bottom: 10px;
	color: red;
}

.halfnullDiv {
	float: left;
	width: 15.5px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #fff;
	margin-right: 7px;
	margin-bottom: 10px;
	color: red;
}

.seled {
	border: 1px solid red;
	background-color: #D6DFF7;
}

.outline {
	padding: 90px 25px 20px 25px !important;
}

.R1 {
	background-color: #FFC0CB !important;
}

.R2 {
	background-color: #6495ED !important;
}

.R3 {
	background-color: #7FFFAA !important;
}

.R4 {
	background-color: #F4A460 !important;
}

.R5 {
	background-color: #F0E68C !important;
}

.R6 {
	background-color: #D2B48C !important;
}

.R7 {
	background-color: #FA8072 !important;
}

.R8 {
	background-color: #00FFFF !important;
}

.R9 {
	background-color: #8A2BE2 !important;
}

.R10 {
	background-color: #FF4500 !important;
}

.iframedivstyle {
	position: fixed;
	bottom: 0;
	height: 200px;
	background: #fff;
	width: 100%;
	border-top: 1px solid #eee;
	z-index: 2;
	display: block;
}

.iframestyle {
	min-height: 200px;
	width: 100%;
	height: 100%;
	border: 0 none;
}

.meetingname {
	text-align: left;
	font-size: 24px;
	font-family: '黑体';
	margin: 0 0 30px 0
}

.space {
	clear: both
}

.meetingaddress {
	position: relative;
	text-align: left;
	font-size: 16px;
	font-family: '黑体';
	z-index: 1;
	top: -2px
}

.meetingtime {
	position: relative;
	text-align: right;
	font-size: 16px;
	font-family: '黑体';
	z-index: 1;
	top: -30px
}

.meetingmemo {
	position: relative;
	text-align: left;
	font-size: 16px;
	font-family: '黑体';
	z-index: 1;
	top: -20px
}

.btmh {
	height: 130px
}

.btmh_nullpanel {
	height: 0px
}

.okbtn {
	background: #f05e4b !important;
	border: 0 none !important;
	border-radius: 5px !important;
	padding: 6px 23px !important;
	font-size: 14px !important;
	margin-top: 10px !important;
}

.closebtn {
	background: #fff !important;
	border: 1px solid #ccc !important;
	color: #000 !important;
	border-radius: 5px !important;
	padding: 6px 23px !important;
	font-size: 14px !important;
	margin-top: 10px !important
}

.am-modal-dialog {
	height: 150px !important
}

.bodydiv1 {
	overflow: scroll;
	width: 2350px;
	padding: 0 !important
}

.bodydiv2 {
	position: fixed;
	width: 100%;
	background: #fff;
	margin-top: 0px
}

.bodydiv3 {
	margin: 0;
	margin: -2px 23px 0 30px;
	padding-top: 20px;
	background: #fff;
}

.fengeline {
	float: right !important;
	width: 32px !important;
	height: 20px !important;
	line-height: 42px !important;
	text-align: center !important;
}

.setuprulebtn {
	background: #f05e4b !important;
	border: 0 none !important;
	border-radius: 5px !important;
	padding: 5px 15px !important;
	font-size: 14px !important;
	margin-top: 10px !important;
	color: #fff !important;
	position: relative !important;
	top: -6px !important;
	left: 30px !important;
	margin-right: 50px !important;
	float: right !important;
}

.setuprulebtn1 {
	background: #f05e4b !important;
	border: 0 none !important;
	border-radius: 5px !important;
	padding: 5px 15px !important;
	font-size: 14px !important;
	margin-top: 10px !important;
	color: #fff !important;
	position: relative !important;
	top: -6px !important;
	left: 30px !important;
	margin-right: 20px !important;
	float: right !important;
}

.savebtn {
	background: #f05e4b !important;
	border: 0 none !important;
	border-radius: 5px !important;
	padding: 5px 15px !important;
	font-size: 14px !important;
	margin-top: 10px !important;
	color: #fff !important;
	position: relative !important;
	top: -6px !important;
	left: 30px !important;
	margin-right: 10px !important;
	float: right !important
}

.widthauto {
	width: auto !important;
}

.modelraduis {
	border-radius: 5px !important;
}

.f14 {
	font-size: 14px !important;
}

.selectstyle {
	width: 278px;
	height: 22px !important;
}

.rulenameinput {
	float: right !important;
	position: relative;
	top: -4px;
}

.rulenamelabel {
	position: relative;
	top: 2px;
}

.bottomToolbar a.dataBtn {
	color: #fff !important;
}

.bottomToolbar a.dataBtn:hover {
	color: #fff;
}

.page .pageList a.on {
	color: #fff !important;
}

.page .pageList a.on:hover {
	color: #fff !important;
}

.page .pageList a:hover {
	color: #000 !important;
}

.tpbtn {
	margin-right: 20px;
	background: #f05e4b !important;
	border: 0 none !important;
	border-radius: 5px !important;
	padding: 5px 15px !important;
	font-size: 14px !important;
	margin-top: 10px !important;
	position: relative !important;
	top: -6px !important;
	margin-right: 10px !important;
}
